[2019-05-03 20:58] k0nsta opened #1206 "Circular imports trouble"
Hello!

I would like to have structure of schemas separated by modules:
├── serializers
│   ├── __init__.py
│   ├── analytic.py
│   ├── portfolio.py
│   └── user.py
│   └── ....

Almost every `Schema` class use each other in nested fields. I can't solve circular imports issue with my structure. Is there a way to solve my problem or I must keep all classes in one module?

thank you!

[2019-05-03 21:00] deckar01 commented on #1206
https://marshmallow.readthedocs.io/en/3.0/nesting.html#two-way-nesting

[2019-05-03 21:40] #1206 closed, assigned to nobody

[2019-05-03 21:54] k0nsta commented on #1206
@deckar01  I've read documentation, this way doesn't work with my code structure!

I will show several examples

**Number 1:**

`user.py`

[code]

`portfolio.py`

[code]

I got import Error

**Number 2**

Edit `portfolio.py`

[code]

I got Error

**Number 3**

`user.py`

[code]

`portfolio.py`

[code]

Again Error. What i'm doing wrong?

[2019-05-04 08:08] k0nsta opened #1207 "Circular imports trouble: Again"
Guys, you closed my issue yesterday mayb I was not explain my issue clearly.
I try again. I would like separate schemas in different modules according its function.
Here is 3 differ modules with schemas (I call it serializers):
[code]

`user.py`

[code]

`portfolio.py`

[code]

It was my first code iteration and obviously I got ImportError.
So, I read again documentation and change code (refer to

[2019-05-04 08:18] k0nsta commented on #1207
Upadate:

If I pass full module-qualified path in the field `portfolios` into `UserBaseSerializer`, I got other error:

`marshmallow.exceptions.RegistryError: Class with name 'serializers.portfolio.PortfolioSerializer' was not found. You may need to import the class`

My `BaseSerializer`:

[code]

[2019-05-04 14:51] sloria commented on #1207
A schema class gets added to the internal class registry once it is declared/imported, so you need to ensure that the `PortfolioSerializer` has been imported before you refer to it as a string in other schemas.

[2019-05-04 16:19] sloria commented on #1120
It's decided, then. marshmallow 3 will be Python 3-only. 🎉

After https://github.com/marshmallow-code/marshmallow/pull/1204 is merged, I'll update the marshmallow-code libs so that they don't test marshmallow 3 in Python 2 environments. Then I'll cut another RC release.

[2019-05-04 16:25] lafrech commented on #663
Python 2 will be dropped in Marshmallow 3.

[2019-05-05 01:12] #1120 closed, assigned to nobody

[2019-05-05 07:09] hugovk commented on #1120
Consider signing https://python3statement.org/#sections60-sign too!

[2019-05-05 17:55] sloria commented on #1148
marshmallow doesn't provide side-loading support out of the box, as it is out of the scope of the core library. marshmallow-jsonapi has basic support for this: https://marshmallow-jsonapi.readthedocs.io/en/latest/quickstart.html#compound-documents . You might want to check out the approach there.

[2019-05-05 17:55] #1148 closed, assigned to nobody

[2019-05-05 19:50] deckar01 commented on #1207
The issue you are running into is a python circular import not specific to marshmallow. Python will stop interpreting the script when it hits a circular import and the error you end up with is that the attribute you are trying to import is undefined, because python stopped executing the module before actually executing the class declarations.

The example in the documentation for 2-way nesting giv

[2019-05-05 20:55] k0nsta commented on #1207
Great, thank you, guys!
I've clean forgotten that I can import all schemas in __init__.py. I'm a little ashamed of my question with such an obvious solution.

[2019-05-05 20:55] #1207 closed, assigned to nobody

[2019-05-06 08:52] rooterkyberian commented on #1120
I would suggest removing `python-2` topic from github repository description as well

[2019-05-06 13:09] ralbertazzi opened #1210 "Self-referencing schema - Post validate on root only"
[marshmallow v3]

Given a self-referencing schema (i.e. a `MySchema` where some fields are `Nested('self')`, I'd like to make a post_load validation step before returning my nested structure. Problem is: I'd like to perform this final validation step only on the root object and not in all the other nodes.
Do you know an easy solution to achieve this? Thanks!

[2019-05-06 14:41] deckar01 commented on #1210
I would have assumed you could subclass the schema and declare the `@post_load` hook there, but `self` resolves to the subclass.

[code]

Using a string reference instead of "self" does not seem to work either. If you are using python 3 you can reference the class inside itself.

[code]

If you are using python 2 you may have to override the recursive field on the top level schema as a work around

[2019-05-06 14:54] lafrech commented on #1210
I think there is a `@post_load` missing in the Python 3 example.

(Since this is MA3) I really hope the OP is not using Python 2.

[2019-05-07 18:49] dwaltrip commented on #1148
Oh, very cool, thanks. I will take a look at `marshmallow-jsonapi`.

[2019-05-09 12:34] ThiefMaster commented on #1120
Sorry, but WTF?! :angry:

People with Python 2 projects already switched to 3.0rcX (or started with it) since this was recommended in various places. I don't remember where but some place, probably in the docs, actually mentioned that it's better to start using MM3 and fix the small things that might break during the RCs instead of starting with MM2 and then having to change many things.

Now this

[2019-05-09 12:45] deckar01 commented on #1120
https://github.com/marshmallow-code/marshmallow/issues/1120#issuecomment-488417854

[2019-05-09 12:47] ThiefMaster commented on #1120
The problem with forking is that this is a mess - people WILL put multiple forks on PyPI for sure.
It already happens for Python 3 stdlib backports to Python 2, so usually you have to check their repos to see which one is the most up to date one...

[2019-05-09 12:58] deckar01 commented on #1120
I would be willing to host a stable fork. I'm not sure if a link here would be enough for discovery or if we would need to mention it in the readme.

[2019-05-09 12:59] ThiefMaster commented on #1120
But then again, what's the benefit of having multiple packages in PyPI instead of just doing 3.0 and 4.0?

[2019-05-09 13:09] rooterkyberian commented on #1120
@ThiefMaster please read thru the whole discussion. Like mentioned already: developer time is not free, even if it seems it that way, for us, end user of this opensource project. I'm also not happy of marshmallow 3 taking so long - already half a year passed from first rc release, but I don't think only right we have here is offer our work to make it happen faster or just thank the other contribut

[2019-05-09 13:23] lafrech commented on #1120
@ThiefMaster I'm sorry to hear that. As you can see, there's been a lot of discussion before taking this decision.

The rationale was that PY2 projects are doomed in the short term, as PY2 will be terminated a few months after MA3 is out.

This is correct. I mentioned that above. MA3 has been advertised as recommended version for starting projects for a while. But so is PY3.

I'm still curious wha

[2019-05-09 13:31] ThiefMaster commented on #1120
https://github.com/indico/indico - it exists for more than 15 years now, but we only started using marshmallow somewhat recently. Without going too much off-topic, many of our users used a step-by-step guide to install it, so switching to Python 3 will be hard for them (some have little Linux administration knowledge.. and yes I know that this is bad for other reasons like security - but that's th

[2019-05-09 13:52] deckar01 commented on #1120
I took a quick look at indico. It should be pretty easy to switch to marshmallow 2. `marshmallow-flask` and `flask-sqlalchemy` support both versions. The only thing I saw that was marshmallow 3 only was `Pluck` and the same behavior is available in marshmallow 2 with a different syntax.

[2019-05-09 13:54] ThiefMaster commented on #1120
Wouldn't be great, not only because we only [updated 2 months ago](https://github.com/indico/indico/commit/672b4374e2) but also because the MM3 API is much more pleasant. I'll rather stay with rc5.

[2019-05-10 07:51] MHannila opened #1212 "Defining fields with dot notations in Meta.exclude only works when initialising first time"
Demonstration of the issue
[code]
results in
[code]

[2019-05-10 07:53] MHannila commented on #1212
A workaround for the issue is to define the exclude for the Nested field
[code]

[2019-05-11 17:38] sloria commented on #1212
Looks like a bug. PRs welcome =)

[2019-05-11 17:49] sloria commented on #1120
@ThiefMaster I'm sorry this decision left you stuck on an RC release. But dropping Python 2 for the 3.x line was the best course. Given that we don't yet have any planned release timeline for the 4.x line, keeping Py2 in marshamallow 3 would mean we'd be stuck supporting Python 2 way past its EOL date of 2020-01-01.

The best I can offer is to keep a community fork of marshmallow 3 with Python 2 s

[2019-05-12 10:30] JulienPalard commented on #663
Since then, it's possible to package type annotations: https://www.python.org/dev/peps/pep-0561/ but I think the better way is to have them inline. In a nutshell there's three ways for distributing annotations:

1. Write type information inline.
2. Package stubs in the package.
3. Package stube in another package (like typeshed).

[2019-05-12 15:42] lafrech opened #1214 "Add strict min/max Range validator"
`Range` only offers "greater than or equal" (min) and "lower than or equal" (max).

We could add "greater than" and "lower than".

How should we call the new parameters?

- `min_strict` and `max_strict`?
- `strict_min` and `strict_max`?
- ...?

[2019-05-12 17:54] sloria commented on #663
Yes we will add these inline

[2019-05-12 18:28] lafrech opened #1215 "URL field: Switch position of `error` and `schemes`"
I just stumbled upon this TODO in the code:

https://github.com/marshmallow-code/marshmallow/blob/de30be8b993e805968cdaeea8b427c19f1b35a13/src/marshmallow/validate.py#L83-L84

[2019-05-12 18:43] sloria commented on #1215
I don't recall the rationale behind switching them. Now that we're on Python 3, it might actually make sense for `relative`, `schemes`, and `require_tld` to be keyword-only arguments.

[2019-05-12 18:44] lafrech commented on #1215
Are there other places in the code where we'd like to use keyword-only arguments?

[2019-05-12 18:45] sloria commented on #1214
Not sure this is necessary or desirable. We've had issues in the past with the "strict" verbiage, and I think we should avoid it when we can.

[2019-05-12 18:46] sloria opened #1216 "Use keyword-only arguments"
Use keyword-only arguments where it makes sense.

[2019-05-12 18:46] sloria commented on #1215
Almost certainly. Made an issue https://github.com/marshmallow-code/marshmallow/issues/1216 .

Would be good to do an audit at some point, but it doesn't need to block 3.0.

[2019-05-12 18:51] lafrech commented on #1214
Example use case:

In my API, a resource allows to POST a building with an area. The area must be positive (a negative area doesn't make sense). And I want it to be not zero because it can't be zero either (and because I want to avoid zero division errors when computing ratios).

I can't express "> 0" with marshmallow so as a workaround I set ">= 0.01" which does the job in my use case but might n

[2019-05-12 20:24] sloria commented on #1214
That makes sense. Perhaps we could use `greater_than`, `greater_than_eq`, `less_than`, `less_than_eq`. for parameter names.

[2019-05-16 00:48] lobotmcj opened #1217 "default deserialization value (missing=) has the same memory address for all items in fields.List()"
Version: 3.0.0rc6

I would expect that each usage of the default value would be assigned its own copy rather than sharing one address

## code
[code]

## output
Note that the first three Foos all have the same address for 'a_list' and modifying one of them modifies all of them

[code]

## workarounds
+ in `__init__`: self.a_list = copy.copy(a_list)
+ set missing=None, check for None in `__init__`

[2019-05-16 03:25] sloria commented on #1217
`missing` may be a callable, so the proper approach here is to do

[code]

[2019-05-16 03:25] #1217 closed, assigned to nobody

[2019-05-16 06:55] lafrech commented on #1217
This is a common Python pitfall.

https://riptutorial.com/python/example/12258/mutable-default-argument

[2019-05-16 16:06] lobotmcj commented on #1217
Thanks for the explanations! Glad to learn something new.

[2019-05-16 19:19] ryananguiano commented on #969
You can use `async_cached_property` and `AwaitLoader` as long as you await the the object before it is serialized.

https://github.com/ryananguiano/async_property

[code]

[2019-05-17 08:19] kdop commented on #1214
I have a similar problem. I think if we simply add `min_inclusive`, `max_inclusive` we can achieve all the scenarios described above.

So the signature will become:

`class marshmallow.validate.Range(min=None, max=None, error=None, min_inclusive=True, max_inclusive=True)`

so the default behavior will remain unchanged.

[2019-05-17 08:27] lafrech commented on #1214
@kdop, would you like to propose a PR for this?

@sloria, any preference (`greater_than_eq` vs. `min_inclusive`)? We're allowed to introduce breaking changes and I find `min_inclusive` a slight bit more awkward.

~OTOH, `max`/`min` are more in line with `min`/`max_length`~ Scratch that, `Lengh` validator also uses `min`/`max` parameters. We should change them too.

[2019-05-17 14:31] kdop commented on #1214
@lafrech sure, assign to me.

[2019-05-17 16:49] sloria commented on #1214
Sure, `min_inclusive` and `max_exclusive` seem fine to me.

[2019-05-17 19:09] lafrech commented on #1214
@kdop I didn't manage to assign you with the assign function, but please go for it!

Thanks!

[2019-05-18 20:19] sloria commented on #1215
Closing in favor of https://github.com/marshmallow-code/marshmallow/issues/1216, which obviates this.

[2019-05-18 20:19] #1215 closed, assigned to nobody

[2019-05-19 10:49] fenchu commented on #972
I have lots of [responder](https://github.com/kennethreitz/responder) restapis I like to use swagger on, but they do not pass marshmallowing dict of dicts where key name is based on response. responder has built in support for swagger via marshmallow. I like to use it as simple as possible and not add my own have to maintain code.

[2019-05-19 19:40] #1216 closed, assigned to nobody

[2019-05-19 23:20] kdop commented on #1214
PR https://github.com/marshmallow-code/marshmallow/pull/1221

[2019-05-21 13:18] antoine-gallix commented on #713
A demo on the proposed custom field solution.

[code]

It seems that the `allow_null` option is applied before the deserialization.
Making it impossible to work after a custom field that deserializes as None in some
cases.

[2019-05-21 13:38] antoine-gallix commented on #713
Basically, it's seems impossible to obtain the following behaviors:

- Interpret empty strings as `None`, and returns error because `null`/`None` is not allowed, with the same error message as if the input was directly `None`.

- Interpret empty strings as `None`, and accepts them because of the `allow_null` option in the field arguments.

[2019-05-22 02:23] sloria commented on #797
Closing this, as we're no longer supporting Python 2 in marshmallow 3. If you'd like to fix this in marshmallow 2, feel free to send a PR.

[2019-05-22 02:23] #797 closed, assigned to nobody

[2019-05-22 02:27] #1214 closed, assigned to nobody

[2019-05-23 03:48] #994 closed, assigned to nobody

[2019-05-23 12:25] sloria commented on #1212
You can also work around this by passing a schema instance rather than a class;

[code]

[2019-05-24 14:00] jfaleiro commented on #524
Any specific reason on why this feature is available on `load` but not on `validate`?

[code]

[2019-05-25 07:18] alirezastack opened #1223 "dateformat is ignored for DateTime fields when not format parameter"
As documentation explains about `dateformat`

I do not specify `format` for my datetime field:

[code]

My date format is ignored and it is saved like `2019-05-25T06:58:00.103904+00:00`, but when give the same format to `DateTime` field it formats date as expected.

Is this a bug? What is this misbehavior?

[2019-05-29 02:11] sloria commented on #1223
What version of marshmallow are you using?

[code]

[2019-05-29 02:17] sloria commented on #524
@jfaleiro This feature is avaialable on `validate`. The validate method returns the error dictionary rather than raising an exception, so if you print the return value of `schema.validate(data)` in your example, you will see

[code]

[2019-05-29 06:32] alirezastack commented on #1223
@sloria  package information on `python 3.6`:

[code]

[2019-05-29 15:01] ghost opened #1224 "Custom Error message for Validator required=True"
Previously i saw closed PR for this
https://github.com/marshmallow-code/marshmallow/pull/122

but right now it's again there is no custom message

[2019-05-29 17:30] sloria commented on #1224
Can you please provide a code example to reproduce the issue?

[2019-05-29 17:52] deckar01 commented on #1223
It looks like this was changed in https://github.com/marshmallow-code/marshmallow/pull/869 without the docs being updated. `fields.Date` uses `Meta.dateformat` and `fields.DateTime` uses `Meta.datetimeformat`.

[2019-05-29 19:05] sloria commented on #1223
Ah right. Those docs should be updated. PRs welcome.

[2019-05-29 19:38] deckar01 commented on #1224
That feature was removed a long time ago.

https://github.com/marshmallow-code/marshmallow/commit/f384881eb867437c747788c66cb6b40e3c90a02a

The docs show how to set a custom error message for `required`.

https://marshmallow.readthedocs.io/en/latest/custom_fields.html#customizing-error-messages

[2019-05-30 03:30] sloria commented on #1224
Yes, the above docs show the correct way to do it. Feel free to comment if you are still running into issues.

[2019-05-30 03:30] #1224 closed, assigned to nobody

[2019-05-30 16:33] nickjj opened #1225 "Fields with a period in them get auto-converted to a nested dict, how do you avoid this behavior?"
Hi,

I have 2 fields in my schema that must be `request.year` and `request.month`.

I tried doing this:

[code]

But it returns the data back like this:

[code]

Where as I'm trying to get it back like this:

[code]

I even went as far as trying this:

[code]

But it produces the same output as using `attribute` from before.

How can I configure it to stop auto-nesting fields with a period in them

[2019-05-30 18:04] deckar01 commented on #1225
I was able to repro this in marshmallow 2 and 3. Here is a minimal example:

[code]

This behavior doesn't seem to be documented. The docs only define how `attribute` affects serialization.

@nickjj I think the feature you need is `data_key`. It defines an alternate key to use for the field in its serialized form.

https://marshmallow.readthedocs.io/en/3.0/quickstart.html#specifying-serialization-

[2019-05-30 18:15] nickjj commented on #1225
If I follow what I think you're saying, I tried this:

[code]

But it still came out like this:

[code]

However, it was able to accept `request.year` as valid input which is good news.

But in the end, I want to accept `request.year` as valid input and also have the valid data object come back as `request.year` instead of `request_year`. Ultimately I need to send this data as `request.year` to an

[2019-05-30 18:29] deckar01 commented on #1225
What is the other API you are sending it to? Normally you need to serialize the data before sending it. `data_key` will use the right key if you call `dump()`.

[code]

[2019-05-30 18:31] nickjj commented on #1225
I haven't gotten to sending the data to that API yet. For now I was just loading it and then returning it as a response with Flask using `jsonify(data)`. That `jsonify` function ends up calling `json.dump(data)` I think.

When I use `dump()` those 2 request keys aren't a part of the output. Any thoughts on why that happens? In fact, when I call `ParamsSchema().dump(data)` a ton of other fields are

[2019-05-30 18:42] deckar01 commented on #1225
The second example in https://github.com/marshmallow-code/marshmallow/issues/1225#issuecomment-497425818 allowed me to dump to a key with a period in it.

Did you load the data first? Marshmallow 3 should raise an error when you try to load invalid data.

[2019-05-30 19:06] nickjj commented on #1225
I was loading it first, and then `jsonify` dumps it behind the scenes as part of the Flask response.

The issue I was having with the output was related to a test. Yeah, it seems I need to `.dump(data)` it in order to get the fields with the period in it, otherwise they come out as `request_year` and `request_month` and since `jsonify` dumps, it wasn't happening when I hit the endpoint directly.

[2019-05-30 20:58] deckar01 commented on #1225
After looking into it a little more I think the behavior is intended. Most of the arguments that reference field names are allowed to use dot delimiters to access nested data. This needs to be documented for `attribute`. It also makes sense for the `attribute` argument to be used during deserialization, because all operations should ideally by symmetric to ensure idempotency through multiple de/se

[2019-05-30 21:17] nickjj commented on #1225
So you're saying I should set both `attribute` and `data_key` to the same value? If one changes, so does the other?

[2019-05-30 21:37] deckar01 commented on #1225
No, you need this custom key when you serialize to JSON, so you should just do that with marshmallow's `dumps` instead of `jsonify`. You have to do this if you use any rich data types in your schema to take advantage of marshmallow's serialization features. `attribute` is for a different use case. Its behavior is correct, it just isn't fully documented.

[2019-06-04 07:43] lafrech commented on #1046
Remove `root` from `Nested`.

- Impacts modifiers (`load_only` / `dump_only`) propagation (see https://github.com/marshmallow-code/marshmallow/pull/1066#issuecomment-498262750 and below).

- Impacts `Inferred`. We'd have to pass the `TYPE_MAPPING` another way. It could be at __init__.

[2019-06-04 08:11] lafrech commented on #1212
This is incidentally fixed by https://github.com/marshmallow-code/marshmallow/pull/1228.

[2019-06-04 08:18] lafrech commented on #1190
What marshmallow version are you using?

Can you please provide a test case to reproduce the issue (e.g. adding a `post_load` method with `assert False` and calling `validate`)?

[2019-06-04 08:25] lafrech commented on #1162
This is not valid Python. You could pass it as

[code]

-----------------------------------------------------------------------------

I can understand how this feature would work when loading but the results when dumping is undefined.

What output would you expect from this?

[code]

[2019-06-04 08:31] #1068 closed, assigned to nobody

[2019-06-04 11:59] LaserPhaser commented on #1162
Let me explain it in details

[code]

All I want is to be able to have single scheme that could work with multiple objects.

[2019-06-04 13:00] deckar01 commented on #1190
[code]

It doesn't seem to be called in marshmallow 2 or 3.

If `post_load` was being called during `validate` it would be a bug. I can't reproduce that behavior.

[2019-06-04 14:07] lafrech commented on #1162
OK, but what would be the logic from the `Field` point of view? Pick the first attribute of the list that holds a value?

The feature you're asking for would have an undefined behaviour when dumping if both attributes are in the object.

You should use different schemas for this use case.

[2019-06-04 14:13] deckar01 commented on #1162
It does seem unusual to have that much uncertainty about the structure of your model. It's not really clear to me why this would be useful or how it relates to testing.

[2019-06-04 14:29] lafrech commented on #1042
Confirmed.

This code, before #756 (I actually tried on 2.x-line),  prints `{'c': {}}`

[code]

So the issue is not new. It just impacts `missing` while it used to impact `default`. I guess `default` is used less often, but my point is that even reverting #756 wouldn't really be a satisfying answer.

[2019-06-05 22:04] LaserPhaser commented on #1162
In testing, you usually have to map the data from different sources like databases/API.
This proposal is like some kind of such mapper.

Actually, we can just throw a custom exception.

I've got your point if it will break marshmallow ideology let's just close this issue.

[2019-06-06 03:49] leonliu commented on #267
I think you should use issubclass() instead of isinstance()

[2019-06-07 08:09] lafrech opened #1234 "DateTime timezone management rework"
There are various issues I'd like to address in `DateTime` timezone management.

- ~Different behaviour depending on whether dateutil is installed (https://github.com/marshmallow-code/marshmallow/issues/497). Explicit would be better than implicit.~ (Fixed in #1265)
- Awareness not enforced (https://github.com/marshmallow-code/marshmallow/issues/520).

I begun work on this in #933 a while ago but

[2019-06-08 07:44] adamboche commented on #1191
Here's an implementation. https://github.com/adamboche/python-marshmallow-union
I've added a link in the wiki as suggested.

[2019-06-09 15:07] thacoon opened #1235 "data_key parameter not working"
As I understand the docs, I could use the data_key param if the name of the field is not the same as the key name in the dict.

However, this does not work for me. The `your_name` field is not loaded from the dict. If I change the key to `name` it gets loaded and the data objects now has a key `your_name`. That is not what I expected based on the documentation. I am using `marshmallow==2.19.2`.

[

[2019-06-09 20:38] sloria commented on #1235
marshmallow 2.x uses `load_from` and `dump_to` instead of `data_key`. Use those instead. The 2.x documentation is here: https://marshmallow.readthedocs.io/en/2.x-line/quickstart.html#specifying-deserialization-keys

[2019-06-09 20:38] #1235 closed, assigned to nobody

[2019-06-10 16:32] thacoon commented on #1235
Ok, thanks. This works.
But the docs may be a bit unintuitiv, because if you go to https://marshmallow.readthedocs.io/ the docs for version 3 are shown. However, pip currently installs version 2.19.2. Also the version the docs refer to are not really highlighted. That was what happened to me, I did not noticed that I was refering to the wrong docs.

[2019-06-10 16:51] lafrech commented on #1235
There should be a warning at the top of the page that reads:

[2019-06-10 17:08] thacoon commented on #1235
Oh you're right. I had no banner because js was disallowed. I am using uMatrix and disallow all scripts on default. The banner is only shown if js is allowed.

[2019-06-12 13:23] joegasewicz commented on #1223
https://github.com/marshmallow-code/marshmallow/pull/1239

[2019-06-12 13:45] #1223 closed, assigned to nobody

[2019-06-14 10:02] jonnyishman opened #1240 "Wrong error messages raised when using fields.Dict"
Example:
[code]

This raises ```ValidationError: {'dict_field': [u'Not a valid integer.']}``` when it should actually be ```ValidationError: {'dict_field': {'second': [u'Not a valid integer.']}}```

[2019-06-14 13:44] deckar01 commented on #1240
Duplicate of #1132. This is only an issue with dumping, because the code does not expect there to be validation during dump. #1139 has been opened to fix it.

[2019-06-15 17:06] #1212 closed, assigned to nobody

[2019-06-15 18:00] #1240 closed, assigned to nobody

[2019-06-15 18:02] sloria commented on #1234
@lafrech Maybe this can wait til 4.0, unless you think this is quick work.

[2019-06-15 18:18] sloria opened #1244 "Harmonize how modifiers are passed"
- ~~Rename `container` in to `inner`. Can be done quickly after #1229 is merged.~~ Done in #1243
- Harmonize the way the modifiers can be passed (as `Nested` parameters, as Meta params, at load time, in schema init, as string with dot delimiter, etc.).
- Merge `Schema._normalize_nested_options` and `Nested._nested_normalized_option` into a single method.

_Originally posted by @lafrech in https://

[2019-06-15 18:28] #1162 closed, assigned to nobody

[2019-06-15 18:29] #1119 closed, assigned to nobody

[2019-06-15 18:39] sloria commented on #1225
Closing this for now, but feel free to carry on the discussion.

[2019-06-15 18:39] #1225 closed, assigned to nobody

[2019-06-15 18:41] sloria commented on #1198
Closing for now, though feel free to carry on discussion if need be.

[2019-06-15 18:41] #1198 closed, assigned to nobody

[2019-06-15 18:41] #1181 closed, assigned to nobody

[2019-06-15 18:42] sloria commented on #1190
Closing since the issue can't be reproduced. Will reopen if someone discovers this again.

[2019-06-15 18:47] sloria commented on #1059
Closing for now, as this issue has gone stale. Feel free to comment if you're still having issues.

We may explore something along those lines as part of https://github.com/marshmallow-code/marshmallow/issues/1244

[2019-06-15 18:47] #1059 closed, assigned to nobody

[2019-06-15 18:48] #924 closed, assigned to nobody

[2019-06-15 20:47] kristian-lindin commented on #1235
@sloria About the data_key property. Now that is being used for both serialization and deserialization instead of as it says in the docs ("data_key" for deserialization and "attribute" for serialization). If data_key is "merged"  for both use-cases(?) Is there no way left of configure different prop names for output/input?

[2019-06-15 21:00] lafrech commented on #1235
When serializing and deserializing,
- `attribute` is used to specify the attribute name in the object (if it differs from the field name)
- `data_key` is used to specify the key in the serialized dict (if it differs from the field name)

[2019-06-15 21:13] kristian-lindin commented on #1235
That what I thought. but looking at the source code (and the behavior I am experience) on line: 471
in https://github.com/marshmallow-code/marshmallow/blob/3.0.0rc7/src/marshmallow/schema.py
it clearly looks like data_key is used also for serialization and not only deserialization
`key = field_obj.data_key or attr_name`. I am confused.

[2019-06-15 21:17] lafrech commented on #1235
Both `attribute` and `data_key`  are used for both serialization and deserialization. They are just at the opposite end of the chain.

Object ------------- Field ------------- Serialized dict
attribute ------------------------------- data_key
(or field name) -------------------- (or field name)

[2019-06-15 21:36] sloria commented on #779
@lafrech Is there anything else to be addressed before we can deprecate `Nested(many=True)`? I think we'll want to investigate https://github.com/marshmallow-code/marshmallow/issues/779#issuecomment-396354987 .

In any case, I don't think we should block on this for releasing 3.0. We can always deprecate within the 3.x line.

[2019-06-17 03:39] #1147 closed, assigned to nobody

[2019-06-17 04:09] #1104 closed, assigned to nobody

[2019-06-17 09:55] kristian-lindin commented on #1235
Thanks for such nice and fast replies :)!

[2019-06-17 12:35] diego-plan9 opened #1251 "ISO8601 DateTimes ending with Z considered not valid in 2.19.4"
Probably related to #1247 and #1234 - in marshmallow `2.19.4`, with `python-dateutil` _not_ installed, it seems that loading a datetime in ISO8601 that ends in `Z` (UTC time) results in an error:

[code]

[code]

Digging a bit deeper, it seems [`from_iso_datetime`](https://github.com/marshmallow-code/marshmallow/blob/dev/src/marshmallow/utils.py#L213-L215) is failing with a `unconverted data remai

[2019-06-17 12:40] sloria commented on #1251
@lafrech Would you mind looking into this?

[2019-06-17 12:51] lafrech commented on #1251
Thanks for reporting.

This is definitely a side effect of https://github.com/marshmallow-code/marshmallow/pull/1249/files. Sorry about that.

I don't own a copy of the spec, so the work on this is based on examples... I assumed that microseconds always came as a six-pack. It seems only three digits (your example) is acceptable. From what I understand in the regex we copied from Django, we could e

[2019-06-17 13:05] lafrech commented on #1234
I wouldn't say it is a quick work but I'd really like this to be part of MA3.

Current behaviour is not well defined IMHO.

The docstring in DateTime field reads:

    `Schema.load <marshmallow.Schema.load>` returns `datetime` objects that are timezone-aware.

which is false.

In fact, while working on it right now, I realized things differ between RFC and ISO, as `rfcformat` dumps as naive when `

[2019-06-17 13:15] diego-plan9 commented on #1251
Thanks both for the prompt reply! I don't have a copy of the spec myself either - for the timezone suffix, I have based my previous comment on [the Wikipedia entry](https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators), which seems to hint at the following designators being allowed:
[code]

[2019-06-17 13:19] lafrech commented on #1251
I also use this WP page, but it doesn't show much about milli/microseconds.

[2019-06-17 13:45] lafrech commented on #1251
I just submitted a PR: https://github.com/marshmallow-code/marshmallow/pull/1252.

It might not be the most elegant/pythonic/efficient but I think it does what it says.

[2019-06-17 14:35] fuhrysteve commented on #779
@sloria :+1: on depreciating stuff rather than stacking the deck with more BC breaks. I'd much rather have 8 releases with 8 breaking changes than 8 breaking changes in one release...

I don't know about anyone else, but we've got hundreds - maybe even a thousand schemas to migrate. I'd rather take that in strides!

[2019-06-17 14:40] lafrech commented on #779
@fuhrysteve, about this, please see the conversation in https://github.com/marshmallow-code/marshmallow/issues/928.

[2019-06-17 14:50] fuhrysteve commented on #928
Thanks @lafrech for pointing me over here!

[2019-06-17 14:54] ckanesan commented on #783
Sorry for commenting on a closed issue but I have very similar question concerning the context attribute. Indeed, I'm interested in using a shared schema instance to (un)marshal concurrent http requests and would need to pass request related context data to the load and dump methods. Will there be a race condition on the context attribute?

[2019-06-17 14:55] fuhrysteve commented on #928
Thanks @lafrech for pointing me over here!

Maintainer of https://github.com/fuhrysteve/marshmallow-jsonschema here checking in. I'm planning on supporting v2 and v3 out of the box for awhile to help folks (including my own team) transition.

Super excited for all the new features and enhancements, but just wanted to weigh in and voice my agreement with others that maintaining multiple diverging b

[2019-06-17 21:07] heckad opened #1255 "Propouse add one_of in types"
I want to describe this schema
[code]
Concreate type should be couse when creating instanse of shema of this model.
For example
[code]
Fild name for choise type shuld be like name of var + `_type`.
For example, the schema is
[code]
then when create instance need write `res = RestfulRespounse(items_type=...)`. If you don`t specify type should raise an exception(I didn't come up with a type, you can

[2019-06-18 12:55] #1251 closed, assigned to nobody

[2019-06-18 12:56] sloria commented on #1251
The fix is release in 2.19.5. Thanks @diego-plan9 for reporting and @lafrech for the quick fix.

[2019-06-18 12:58] sloria commented on #1255
We likely won't be adding this functionality to marshmallow core in the near future. Please take a look at https://github.com/marshmallow-code/marshmallow-oneofschema or https://github.com/Bachmann1234/marshmallow-polyfield .

[2019-06-18 12:58] #1255 closed, assigned to nobody

[2019-06-18 13:33] lafrech commented on #1234
Last time I checked, I concluded that Django relied on pytz (equivalent to dateutil) to parse datetimes.

Reading again the source code (https://docs.djangoproject.com/en/2.2/_modules/django/utils/dateparse/#parse_datetime), I might have been wrong. pytz is imported but maybe not necessary. This is worth investigating.

Copying Django's code may allow us to get rid of the python-dateutil dependenc

[2019-06-18 15:12] debonzi opened #1257 "Decorator validates doesn't work on fields with dotted named attribute argument."
Marshmallow Version: 2.19.5

I believe there is an issue with `@validades` when related to fields that has dotted named `attribute` argument.

The following code and result demonstrated how it behaves I how I understand it was supposed to behave.

Attempt to address to following issue:
[code]

I opened a PR (#1256) with some tests and code that attempts to address it.
Any feedback and/or change re

[2019-06-18 21:41] lafrech commented on #663
Draft PR by @fuhrysteve: https://github.com/marshmallow-code/marshmallow/pull/1259.

[2019-06-19 01:35] heckad commented on #1255
This no question. This is my solution that I want to make. How do you like it?

[2019-06-19 01:55] sloria opened #1261 "Switch to Azure Pipelines for CI"
Azure Pipelines has faster builds and 10 concurrent jobs. Seems worth evaluating. Many other OSS projects have made the switch (Flask, pre-commit, attrs, to name a few).

https://twitter.com/sloria1/status/1134207932151861259

Would really appreciate any help on this, even if it's just posting opinions, gotchas, or tips. I'd certainly review and merge a PR adding the necessary config.

[2019-06-19 02:47] sloria commented on #1255
As I mentioned above, we won't be adding this to marshmallow core.

[2019-06-19 02:55] heckad commented on #1255
Why? If this is not in the core, then the libraries for generating documentation will not support this type field at all, because authors don't want to add a new dependency.

[2019-06-19 03:21] sloria commented on #1255
We're not willing to take on the added code complexity at this time. Also, it's not clear what the ideal API looks like. Having used both marshmallow-oneofschema and marshmallow-polyfield, each has their own pros and cons.

[2019-06-19 03:24] heckad commented on #1255
For discusses this, I created this issue and propose my variant. Is there a list of pros and cons of the proposed solutions and what problems do you see in my?

[2019-06-19 09:26] jtrakk opened #1263 "Add fields.Iterable as a base class for collection field types"
I'd like to deserialize into some types that aren't json serializable, for example a frozenset of integers, `frozenset({1,2,3})`.

I can think of a few options in the current API:

- define a custom `FrozensetField` type and define its `_serialize` and `_deserialize` methods,
- use `fields.Function(deserialize=frozenset, serialize=list)`,
- define a custom replacement for the json module.

Is `fie

[2019-06-19 13:23] deckar01 commented on #1255
Previous discussion:

- https://github.com/marshmallow-code/marshmallow/issues/973
- https://github.com/marshmallow-code/apispec/pull/182

[2019-06-19 15:40] deckar01 commented on #1263
I like the idea of a generic iterable patterned after `Mapping` that lets you specify your own container. I would probably keep the same class attribute API though. Defining containers on fields ad hoc is a little messy. Declaring custom fields maps better to what is happening under the hood and avoids code that has to run even if the feature isn't used.

[2019-06-19 21:00] jtrakk commented on #1263
I'm optimistic that parametrized iterable types can be pretty simple and efficient. An implementation copies nearly all of the `fields.List` code. The main differences are quite minor:

- for serialization, just replace the list comprehension with a generator expression wrapped in a constructor
- for deserialization, build the list as normal, and if the desired type is not `list`, construct it fro

[2019-06-19 21:35] deckar01 commented on #1263
This functionality can be achieved with a custom field without changing the core with minimal code:

[code]

If it needed to have convenience API I would recommend keeping the `Iterable` interface consistent with `Mapping`. This pattern encourages creating custom field classes for new types and minimizes the surface area of the constructor.

[code]

[2019-06-20 00:33] jtrakk commented on #1263
Ok, sounds good :-)

[2019-06-20 23:25] homerstrong opened #1266 "My Button"
Button will not comply in taking a wife role.

[2019-06-21 03:12] #1266 closed, assigned to nobody

[2019-06-21 04:46] deckar01 commented on #1266
Abuse reported.

[2019-06-21 07:25] lafrech commented on #1266
@homerstrong, please be [constructive](https://xkcd.com/810/).

![constructive](https://imgs.xkcd.com/comics/constructive.png)

[2019-06-22 05:53] pd-Shah opened #1267 "RecursionError: maximum recursion depth exceeded while calling a Python object"
Hey... I have a problem with `many to many self referencing` here ! Thx for answering.

## schema
[code]
## model `SQLALCHEMY`
[code]
## Error
[code]

[2019-06-22 13:34] lafrech commented on #1267
Isn't this a sqlalchemy or marshmallow-sqlalchemy issue?

[2019-06-23 04:18] pd-Shah commented on #1267
@lafrech everything works well until adding `followed = fields.Nested("self", many=True)`, actually `many=True` make this happens.
the project is [here](https://github.com/pd-Shah/microblog)

[2019-06-23 15:18] sloria commented on #1267
You may need to use `exclude=("followed",)` to prevent infinite recursion. See https://marshmallow.readthedocs.io/en/3.0/nesting.html#nesting-a-schema-within-itself .

Closing this for now, but feel free to comment if you're still running into issues.

[2019-06-23 15:19] #1267 closed, assigned to nobody

[2019-06-23 18:32] sloria commented on #986
Closing for now. Feel free to comment if you're still having this issue.

[2019-06-23 18:32] #986 closed, assigned to nobody

[2019-06-23 18:33] sloria commented on #955
Closing this. @lafrech is working on this as part of https://github.com/marshmallow-code/marshmallow/issues/1234 . Discussion can continue there.

[2019-06-23 18:33] #955 closed, assigned to nobody

[2019-06-23 19:54] lafrech commented on #497
This is fixed in Marshmallow 3 because we rely on regexes (copied from Django) to validate the datetime / date / time strings before deserialization.

Besides, we don't use python-dateutil anymore (https://github.com/marshmallow-code/marshmallow/pull/1265).

[2019-06-23 19:54] #497 closed, assigned to nobody

[2019-06-24 13:11] lafrech commented on #955
I'm pretty sure that was the reason.

Further refactor will happen in #1234 but I believe the issue about lost timezone info is fixed already thanks to https://github.com/marshmallow-code/marshmallow/pull/1249, reworked in https://github.com/marshmallow-code/marshmallow/pull/1265.

The issue about the docs being inaccurate should be addressed during the refactor in #1234.

[2019-06-28 18:00] dursk opened #1268 "Email and URL call String.__init__ rather than super().__init__"
It looks like this is a relic of the past, when multiple inheritance was being used (https://github.com/marshmallow-code/marshmallow/commit/f924a6e71612c1babb41a13f024e5790fd1924d8).

It seems like we should be able to do `super().__init__` in both these cases now.

It's currently causing method resolution issues when using multiple inheritance and subclassing these String subclasses, for example:

[2019-06-29 21:56] #1268 closed, assigned to nobody

[2019-07-01 02:24] #1261 closed, assigned to nobody

[2019-07-01 15:06] sloria opened #1274 "Drop Python 2.6 in marshmallow 2"
Python 2.6 has been EOL since 2013.
The Python 2.6 build is currently broken, and I've not the motivation to fix it.
In the past 30 days, there's been only 1--exactly 1--non-Linux download of [marshmallow 2 on Python 2.6](https://bigquery.cloud.google.com/results/spring-house-88715:US.bquijob_28beb1b1_16badd0a401).

<img width="152" alt="image" src="https://user-images.githubusercontent.com/237965

[2019-07-01 15:18] hugovk commented on #1274
Here's the pip installs for all marshmallow versions from PyPI for June 2019, showing very low numbers for 2.6:

| category | percent | downloads |
|----------|--------:|----------:|
|      3.6 |  35.79% |   398,246 |
|      2.7 |  34.81% |   387,385 |
|      3.7 |  21.40% |   238,157 |
|      3.5 |   6.28% |    69,934 |
|      3.4 |   0.97% |    10,846 |
| null     |   0.69% |     7,708 |
|

[2019-07-01 15:21] sloria commented on #1274
Yeah, the vast majority of the 2.6 installs are probably CI builds, which is why I counted non-Linux downloads in my OP.

[2019-07-02 07:07] lafrech commented on #1274
This project is maintained by volunteers. Someone willing to run an unmaintained Python version, especially one that has been unmaintained for years, either doesn't mind unmaintained stuff and won't update his marshmallow version, or spends a lot of money or time maintaining Python and other libs and he can add marshmallow to the list. There's no point carrying that burden ourselves.

This.

(Besi

[2019-07-02 12:52] lafrech commented on #1234
With dateutil out of the way, things are much simpler.

Here's the plan:

- [x] Remove `LocalDateTime`.

- [x] Leave TZ info unchanged in `DateTime` ([aware|naive] datetimes are [|de]serialized as [aware|naive]). This fixes a few inconsistencies.

 - [x] Introduce `NaiveDateTime` and `AwareDateTime`. Those fail on deserialization if the datetime is not naive/aware. They don't check awareness on se

[2019-07-02 13:56] sloria commented on #1274
A cursory review of other mature projects shows that the above policy is common. I agree it would be good to document somewhere. Will do that when I have some extra time.

[2019-07-02 17:46] szeitlin commented on #1150
I think I just ran into this on 3.0.0b8, though I'm not sure if I'm doing something else wrong. I have a `@validates_schema` that works as expected on a single object, but when I try to use it on a collection with `many=True`, I get an error about too many arguments.

[2019-07-03 09:06] heckad opened #1280 "Propose add required to schema constructor"
For a put request model require of `id` field, but for post request `id` not needed. For disabling in a post request I use `dump_only=["id"]`, but I have not found such a way to do `id` required. For this reason, I suggest adding `required` to the schema constructor.

[2019-07-03 13:39] lafrech commented on #520
Closing in favor of https://github.com/marshmallow-code/marshmallow/issues/1234.

[2019-07-03 13:39] #520 closed, assigned to nobody

[2019-07-03 21:42] fuhrysteve opened #1281 "Move some fields (exclude, only, etc) to private API in `Schema.__init__`"
I'd make `exclude` and `only` private API because they are used in `_normalize_nested_options` which is called only at `__init__`.

I'd also make `load_only` and `dump_only` private because setting them after `__init__` conflicts with

[code]

Likewise with `unknown` and `context` due to

[code]

(setting them to `None` after `__init__` wouldn't be the same as in `__init__`)

At this point, I'm te

[2019-07-04 07:24] lafrech commented on #1109
Our time deserialization function is copied from Django's parse_time (https://docs.djangoproject.com/fr/2.2/_modules/django/utils/dateparse/) which does not support time zone offsets. I don't know the reason it doesn't. Maybe something we should ask them before trying to do it ourselves.

[2019-07-04 07:28] lafrech commented on #627
This is partly fixed in `dev` branch.

dateutil is not used anymore. TZ and microseconds are correctly parsed.

Naive/Aware consistency is being addressed in #1234, #1278.

[2019-07-04 07:28] #627 closed, assigned to nobody

[2019-07-04 13:16] sloria commented on #1280
Your use case can be achieved by using a separate schema for POSTs vs PUTs.

[2019-07-04 13:16] #1280 closed, assigned to nobody

[2019-07-04 13:19] lafrech commented on #1280
In my APIs, I use the same schema but the ID for the PUT is in the URL, so it is injected in the view func (by webargs) as a path parameter.

[2019-07-04 16:00] palango commented on #627
@lafrech I just ran into that problem. Can you maybe release a new RC with these fixes?

[2019-07-04 17:25] heckad commented on #1280
I use marshmallow sqlalchemy. It generates schema by models. How to observe the dry-principles? What is the problem to add?

[2019-07-04 17:47] charlax commented on #713
This has been a huge source of frustration for me.

For instance, I'm trying to have an email field that allows `None` and `""` (empty string). I believe an API should be liberal in accepting its input. If a field is optional, then a missing field, a `null` value or an empty string value should be considered legit.

So I'm trying to have this behavior throughout my codebase. In particular with the

[2019-07-04 19:27] sloria commented on #1280
[code]

Adding another parameter is not ideal. We try to keep marshmallow's API surface as small as is practical. An added parameter adds combinatorial complexity to the API because it needs to be tested against the existing parameters. There's additional consequences to consider, like whether the parameter needs to also be included in `load`/`dump`, `Meta` options, whether to propagate to nested

[2019-07-04 19:44] sloria commented on #627
@palango I've cut 3.0.0rc8 that has the relevant change.

[2019-07-04 21:02] heckad commented on #1280
You have `required` in the `Field` class. It means that the `Raise a ValidationError if the field value is not supplied during deserialization.` I propose to add the ability for specifying it in the constructor of the schema. And, I think it need be added to `load`/`dump` and `Meta` too. If it is possible to specify at the field level, then why should one forget about the possibility of specificat

[2019-07-04 21:07] sloria commented on #1280
"required" makes intuitive sense at the field level but not at the schema level. It'd be too easy to misundertand the semantics of `MySchema(required=True)`. Furthermore, it's not clear on first glance what this should do:

[code]

Like I said, we're not willing to take the maintenance cost of adding this, especially when there is valid workaround using simple inheritance.

[2019-07-04 21:16] heckad commented on #1280
50+ schemes become 100+. It's not cool. `required` can be renamed to `required_fields`, it's not a problem. And how much is a big expense?

[2019-07-05 00:15] antgel commented on #1280
@heckad Some of the discussion at https://github.com/marshmallow-code/webargs/issues/112 may be interesting and / or useful.

[2019-07-05 04:58] macdonaldezra opened #1285 "Document validate.Regexp's usage of re.match"
Hi,

Currently the Regexp validator uses the regex match function, which will only match the first indexed value in the string (unless you add the .* at the front of the regex). Using search instead would ensure that the entire length of the string is searched for a match and as far as I can tell would match the behavior users are looking for when using the validator. Thoughts?

Ezra

[2019-07-05 07:14] lafrech commented on #713
`serialize` is meant to be called by another class, so it is "public".

`_serialize` is underscored because it is only meant to be called by its own class. It can be called and even overridden by subclasses. Hence the underscore meaning "protected".

"private" variables are double-underscored.

https://radek.io/2011/07/21/private-protected-and-public-in-python/
https://stackoverflow.com/questions/

[2019-07-05 13:58] palango opened #1286 "_deserialize() got an unexpected keyword argument 'partial'"
I recently updated to 3.0.0rc8 (see https://github.com/raiden-network/raiden/pull/4334), and now run into a stacktrace in one test that I cannot make sense of.

i'm posting this here in the hope that someone can give me a hint on how to proceed in finding the problem.

The stacktrace is the following:
[code]

The `value` at that point is
[code]
and `kwargs` is `{'partial': False}`.

Some more back

[2019-07-05 14:05] lafrech commented on #1286
`_deserialize` should accept `**kwargs`. Which `Field` is it? I saw you added `**kwargs` to your custom fields in https://github.com/raiden-network/raiden/pull/4334/files.

[2019-07-05 14:09] palango commented on #1286
Is there an easy way to find out? I didn't yet figure out which field is the problem from the stacktrace.

But I just checked all custom fields again, and I added `**kwargs` to all of them.

[2019-07-05 14:13] lafrech commented on #1286
I suppose one way would be to cover the call to `_deserialize` in `deserialize` with a try/except to catch the `TypeError` and print the field...

[2019-07-05 14:19] deckar01 commented on #1280
This use case will always require double the amount of schema instances, so if it is an issue of too much class declaration boilerplate, it could probably be written as a on-liner utility.

[code]

I suspect that, in practice, the models are never this uniform and there are lots of other model specific fields that need to be excluded/required based on the semantics of the operation, which requires

[2019-07-05 17:01] palango commented on #1286
Thanks for the tip @lafrech , this turns out to be a problem in the https://github.com/Bachmann1234/marshmallow-polyfield project.

[2019-07-05 17:01] #1286 closed, assigned to nobody

[2019-07-05 17:08] lafrech commented on #1286
Yep. It has just been reported: https://github.com/Bachmann1234/marshmallow-polyfield/issues/27.

[2019-07-05 19:54] justanr commented on #1280
There's also my [marshmallow-annotations](https://github.com/justanr/marshmallow-annotations) extension that will generate a schema for you based on annotations used in the target class and by default things are marked as required unless it's an optional field.

If you're in the habit of declaring DTOs for each operation _and_ you're using type annotations that's a potential option as well. Using

[2019-07-06 15:17] #1274 closed, assigned to nobody

[2019-07-06 18:41] heckad commented on #1280
And in what ways can you specify the required fields, without making new classes?

[2019-07-06 23:01] justanr commented on #1280
You've got three options:

1. [Use schema level validation](https://marshmallow.readthedocs.io/en/3.0/extending.html#schema-level-validation)

2. Potentially unpopular, you're trying to represent two contracts with the same class, so make a second class

3. Find or implement something like [FluentValidation](https://github.com/JeremySkinner/FluentValidation) and use marshmallow strictly for model

[2019-07-07 15:12] heckad commented on #1280
This prohibits send the id to the method for creating objects, but I need to pass the id to the update method. Now I can send data to update without id and marshmallow-sqlalchemy will not raise `ValidationError`.

[2019-07-07 18:47] sloria commented on #1042
This issue looks like it'll need deeper investigation, but I'd really hate to delay 3.0 any further. Since there are existing workarounds posted above, how do we feel about deferring this for post-3.0.0? @lafrech @deckar01

[2019-07-07 18:50] sloria commented on #779
Changed the milestone on this since there are still further considerations to discuss (deprecating Nested(many=True)), but I don't think there's any action items to complete before 3.0 final.

[2019-07-08 00:47] robvdl opened #1289 "Stop using name manging self.__schema in Nested class"
I've got a case where I want to subclass Nested and do some special logic.

The bit that is getting in the way is that marshmallow has decided to use self.__schema with double underscores rather than a single one.

Using a single underscore is usually more than enough, it shows intent that this should be private, but in the case you do need to use an internal property when doing subclassing, it wo

[2019-07-08 00:50] robvdl commented on #1289
Half of the reason it uses name mangling is that it is repeating the @cached_property decorator logic probably in multiple places which is not very dry. Why not make a decorator then:

[code]

[2019-07-08 08:04] lafrech commented on #779
Indeed, deprecation can be done in 3.x so it doesn't have to hold 3.0.

I sent https://github.com/marshmallow-code/marshmallow/pull/1290 with a fix for that last `List(Nested(...))` glitch we identified above (https://github.com/marshmallow-code/marshmallow/issues/779#issuecomment-396354987).

[2019-07-08 08:15] RosanneZe commented on #1042
In the end we had to go with a different workaround than the one above, I forgot why exactly. The most practical thing was just to create our own Nested field and use that everywhere:

[code]

[2019-07-08 13:37] sloria commented on #713
Let's revisit this issue post-3.0 release. I do think we want to have a story for validating empty strings.

[2019-07-08 15:42] taion commented on #713
See also discussion in Django docs per https://docs.djangoproject.com/en/2.2/ref/models/fields/#field-options.

It would feel weird to deal with this in e.g. SQLAlchemy, though, so some sort of unification of dealing with empty/null logic in strings seems reasonable in Marshmallow.

[2019-07-08 16:30] heckad commented on #1280
@sloria what other ways can this be done with marshmallow( marshmallow-sqlalchemy )

[2019-07-08 17:52] deckar01 commented on #1280
I think this is marshmallow-sqlalchemy specific.

You have a schema generated from a model. You want one schema that requires an `id`, and one schema that does not allow an `id`. You can force the main schema to require the `id` using the `info` argument on the SQLAlchemy column. See [the docs on that topic](https://marshmallow-sqlalchemy.readthedocs.io/en/latest/recipes.html#overriding-generated-

[2019-07-08 18:17] heckad commented on #1280
If I want to change sqlalchmy on Django models or maybe use any NoSql databases? What to do? Marshmallow allows you to specify only which fields should be used (only), which ones should not be used (exclude), which should be ignored (dump_only), but not which must be required, and which at will or not will(not required). Maybe this is the mise feature.

[2019-07-08 18:41] deckar01 commented on #1280
The proposed feature is logical, but its use case is probably not common enough to justify its added complexity. Convenience and preferred syntax are generally not strong justifications for functionality that is already possible. If you think there is some functionality that is currently impossible to achieve, a full code sample would help us understand it better.

[2019-07-08 19:00] heckad commented on #1280
For example session schema with filds: id(integer), table_id(integer), user_id(integer), comment(Text), mark(integer). Let go fields: table_id, user_id are required for post request, and id field should be excluded. In put request the only id required. What now I should do with pure marshmallow? I would like to create one scheme and in the constructor specify this constraint. For example

    crea

[2019-07-08 19:27] heckad commented on #1280
I just expressed a wish, generally waiting for your options. Also, I looked at the code and find in `schema.py` file on line 629 (id dev 666) check `if raw_value is missing:`. Need to add in this if the check on `if field_name in required_filds: raise ValidationError`. It's all.
Full code example:

      if raw_value is missing:
          if field_name in required_filds:
              field_obj.fa

[2019-07-08 19:37] heckad commented on #1280
It is possible only through crutches which in the large code base can be a reason for bugs. Offer your flexible and convenient way to do it in the example with sessions.

[2019-07-08 19:56] deckar01 commented on #1280
https://github.com/marshmallow-code/marshmallow/issues/1280#issuecomment-509327019

Does this example work for your use case? It is only one line to make the second schema.

[2019-07-08 20:01] heckad commented on #1280
No, because fields "table_id", "user_id" become dependent for put request. It required only for post

[2019-07-08 20:24] sloria commented on #779
Before we officially recommend `List(Nested(Schema))`, it would be good to do some benchmarking and profiling. A quick-n-dirty benchmark shows that `List(Nested(Schema))` is ~35% slower than `Nested(Schema, many=True)`: https://gist.github.com/sloria/2e0b141b3d05fe0dafbdeafd294ebae8

[2019-07-08 22:02] heckad commented on #1280
I propose to rename to `load_necessary`

[2019-07-09 02:23] hiphamster opened #1291 "deserializion difficulties: schema.load(data) only works, when it returns model.__dict__"
Hi,
Unless i explicitly return a ```dict``` from the ```load_subcontractor``` method (schema.py, see below) I get "Subcontractor object missing 'get' attribute", but based on the [documentation](https://marshmallow.readthedocs.io/en/2.x-line/quickstart.html#deserializing-objects-loading) i should just return a model object:
[code]
What gives?
**Here's the setup of my flask application:**

app/__in

[2019-07-09 11:27] heckad commented on #1280
@deckar01 What to do? I explained why your decision does not correct.

[2019-07-09 12:47] sloria commented on #1289
I'm open to this; it's probably fine to just use a single underscore.

I think the reason we don't use a cached_property decorator is that we only do this caching in this one place.

[2019-07-09 15:00] deckar01 commented on #1280
In this use case, `required` needs to be `True` on one schema and `False` in another, so `exclude` doesn't work. The field needs to be overridden. I don't see a good way to override fields when they are generated by `marshmallow-sqlalchemy`. If these schema classes were manually defined it would be possible to write two schemas and deduplicate the common fields as needed.

This problem isn't speci

[2019-07-09 15:47] lafrech commented on #130
Just curious. Anyone managed to [|de]serialize XML with Marshmallow?

What would you use as a render module? One would need a piece of code to turn XML into Python objects and back. A quick search didn't bring much. Mostly old stuff.

**Edit**: Just found out about [xmltodict](https://github.com/martinblech/xmltodict). Sounds promising.

[2019-07-09 17:15] twosigmajab opened #1295 "improve docs about snake case and camel case"
A Marshmallow user I'm supporting writes:

Here is what we came up with:

[code]

Searching the docs for "camelCase" currently only gives [a single result in the "upgrading" section](https://marshmallow.readthedocs.io/en/3.0/upgrading.html#load-from-and-dump-to-are-merged-into-data-key) (in which, to be nitpicky, the example confuses PascalCase with camelCase).

This seems like such a common need

[2019-07-09 17:37] deckar01 commented on #1295
https://marshmallow.readthedocs.io/en/3.0/extending.html#pre-processing-and-post-processing-methods

You can make a schema mixin that converts the data to snakecase before loading it and converts it back to camelcase after dumping it.

[code]

[2019-07-09 17:46] deckar01 commented on #1295
I'm not sure how common this use case is. I have always thought the backend defined the API so the front end must conform to it. Most applications I have seen that automate this process (due to scale like gitlab) do so on the front end. Smaller apps just encapsulate it away from the rest of the logic with an API module that maps the functional API to the network API.

[2019-07-09 17:49] twosigmajab commented on #1295
Thanks! Please note the issue title and description. This is about adding dedicated docs (specifically mentioning the problem of "JSON uses camelCase for fields but Python uses snake_case"), if not an actual, dedicated mixin built in, so that each user doesn't have to reinvent this almost-universally-needed wheel.

[2019-07-09 18:00] deckar01 commented on #1295
As far as I know JSON is case agnostic. A javascript casing utility is probably outside the scope of the marshmallow core library. I would encourage you to publish a package to pypi if you think others could benefit from it.

[2019-07-09 18:15] heckad commented on #1280
I propose to add the check on the missing field [in comment](https://github.com/marshmallow-code/marshmallow/issues/1280#issuecomment-509359344). This removes the need to modify fields. It's very simple and adds 7 lines of code without tests and maybe specific documentation.

[2019-07-09 18:15] dLuna commented on #1295
(@deckar01 It looks like your solution is both more code and requires more dependencies than overriding the schema.)

The Google style guide (https://google.github.io/styleguide/jsoncstyleguide.xml?showone=Property_Name_Format#Property_Name_Format) requires camelCase for JSON. And for people who use Swagger to generate their API, the default javascript generation uses camelCase.

It's not a questi

[2019-07-09 18:22] twosigmajab commented on #1295
All the JSON style rules I'm aware of require camelCase, e.g. https://google.github.io/styleguide/jsoncstyleguide.xml?showone=Property_Name_Format#Property_Name_Format

[2019-07-09 19:30] deckar01 commented on #1295
I think the general topic of pre/post processing data is already documented. If you think this can be improved PRs are welcome.

https://marshmallow.readthedocs.io/en/3.0/extending.html#pre-processing-and-post-processing-methods

I don't think JavaScript and the Google style guide specific features are in line with the current functionality of this library.

This could make a good addition to the

[2019-07-09 19:41] robvdl commented on #1289
Ah yeah that is fair enough, I should have actually looked how many times it was used.

I have seen people repeat the cached property "recipe" multiple times in other codebases, in which case I usually introduced @cached_property because it reads nice, pythonic

But if there is only one place I get that.

In the end I worked around it in my own codebase by using the mangled name to set the interna

[2019-07-09 19:56] deckar01 commented on #1289
The original commit doesn't seem to indicate that the name mangling was required.

https://github.com/marshmallow-code/marshmallow/commit/55f79801f29c554412a5dca8974a82de698a6f37

[2019-07-09 20:08] robvdl commented on #1289
A bit OT, but in case you're wondering why I am doing something crazy like this in the first place, subclassing Nested and needing to access it's internal properties in our codebase is that we have special subclasses of Nested, the field types ToOne('SomeResource') and ToMany('AnotherResource'). These link to other API resources not to other schemas. The idea came from TastyPie but we use SQLAlche

[2019-07-09 20:44] sloria commented on #1295
Sure, I think this would be fine to add in the `examples` docs. It's a fairly common use case, though there are many modern counterexamples. To Jared's point, it's often handled on the client-side.

That said, I think the OP's implementation is more correct than using `pre_load`. Using `data_key` allows for better introspection (e.g. by apispec and other schemagen libs).

[2019-07-09 21:04] sloria commented on #1289
Sure, I think it'd be fine to change.  I used `__` originally because it was meant to be private as opposed to protected, which we use `_`  for in the rest of the codebase (e.g. `_serialize`, `_deserialize`). That said, the intention was to communicate, "users reeeally shouldn't be accessing this unless they know what they're doing". The intention was not to make it impossible. Python's name mangl

[2019-07-10 08:58] Bryant-Yang opened #1296 "Is there any way to update field‘s option such as 'required', 'load_only' in subclass?"
I found the following code works, but I'm not sure  it's a correct way.

eg. :

[code]

When create user, user_name is required, and user_id is dump_only, and when get user info, the user_id is required, and for both load and dump.

I want to change require, dump_only ...,  without redefining the entire fields.

[2019-07-10 10:41] lafrech commented on #1296
You can use [class Meta options](https://marshmallow.readthedocs.io/en/3.0/api_reference.html#marshmallow.Schema.Meta) for this kind of things. But I don't see `required` in there.

In my APIs, I use the same schema but the ID for the PUT is in the URL, so it is injected in the view func (by webargs) as a path parameter. Therefore the id field is always dump_only.

[2019-07-10 15:10] deckar01 commented on #1296
This topic came up yesterday in https://github.com/marshmallow-code/marshmallow/issues/1280#issuecomment-509678660. For simple fields without much customization I prefer overriding the field in the subclass. If the field had tons of custom parameters I did not want to repeat I would probably either make a custom field class or a factory function that let me create custom instances without duplicat

[2019-07-10 17:44] heckad commented on #1296
I have proposed this feature in [this](https://github.com/marshmallow-code/marshmallow/issues/1280#issuecomment-509678660). Put your finger up if you think you need to add it.

[Here](https://github.com/marshmallow-code/marshmallow/pull/1297) is a pull request.

[2019-07-11 03:50] davidlouis opened #1299 "Dotted paths for fields do not work (eg data_key="foo.bar")"
Not entirely sure if bug or feature but I would expect to be able to use a dotted path as a data_key which would traverse the dictionary so I could load data from an nested location in source data.

See test with example of how I expected it to work in the following pull request:
https://github.com/marshmallow-code/marshmallow/pull/1298

[2019-07-11 13:27] heckad commented on #1280
@deckar01 @sloria what do you say about implementation?

[2019-07-12 19:13] antgel commented on #1280
@heckad Without wishing to deviate from the main discussion, what do you say about solving it in `marshmallow-sqlalchemy` as suggested by @deckar01 ? I and possibly others have similar issues (as I posted above).

[2019-07-12 23:11] heckad commented on #1280
It is a bad solution because:
1) It is only suitable for marshmallow-sqlalchemy. If I change binding from sqlalchemy to django-orm then you need to remember to rewrite the constraint.
2) It spreads the code responsible for validation across the code of the entire project.
3) It can not be applied if models cannot be changed(not your area of responsibility)

[2019-07-13 20:23] sloria commented on #1274
I put together a little dashboard that should help with these decisions in the future: https://marshmallow.sloria.io/

[2019-07-14 20:54] sloria commented on #1289
Actually, would it make more sense to just add a setter for `schema`?

[2019-07-14 21:12] sloria commented on #1285
Not sure about this one. A quick review shows that [colander](https://github.com/Pylons/colander/blob/141263a3f61bed7c3af92c3a8d293ca7e10732e8/colander/__init__.py#L376), [wtforms](https://github.com/wtforms/wtforms/blob/277a437db29e36db3e211f47c93675eb544d6443/src/wtforms/validators.py#L332), and [cerberus](https://github.com/pyeve/cerberus/blob/c0f53a3535ac490a29119ff57b5eb3566d81bdfa/cerberus/v

[2019-07-14 21:27] sloria commented on #462
I believe this was addressed in [3.0.0b8](https://marshmallow.readthedocs.io/en/3.0/changelog.html#b8-2018-03-24).

Also, the OP's use case (validating that unknown fields are not passed) has first class support with the `unknown` option (https://marshmallow.readthedocs.io/en/3.0/quickstart.html#handling-unknown-fields).

[2019-07-14 21:27] #462 closed, assigned to nobody

[2019-07-14 21:41] sloria commented on #889
Given the current design, there isn't a good way outside of passing `format` to `DateTime` that ensures that the input and output format are exactly the same. If you need more complex logic that `format`, a custom field is the way to go.

[2019-07-14 21:41] #889 closed, assigned to nobody

[2019-07-14 21:46] JBKahn commented on #462
Thanks!

[2019-07-15 16:19] deckar01 commented on #779
I might try to dig into a perf dump and see where the time is going. That seems like a lot of time to just be caused by an extra layer of indirection. I wonder if `Nested` isn't doing something it should be or if `List` is doing something it doesn't need.

[2019-07-15 22:09] macdonaldezra commented on #1285
Thanks for looking into it!

The below stackoverflow response, describes the difference between the two functions a little better than I did... if you're interested:

https://stackoverflow.com/questions/180986/what-is-the-difference-between-re-search-and-re-match

[2019-07-16 00:07] sloria commented on #1285
I'm aware of the difference, but I'm not sure which is more intuitive for users of `validate.Regexp`. Given that both ways may be argued w/ equal validity, I don't think it's worth the breaking change to switch.

[2019-07-16 00:20] sloria commented on #1132
I'm curious about existing use cases for validating on serialization. We've since decided that validation should only happen on deserialization and that the input to `dump` is assumed valid. For this reason, we [removed validation-on-dump from Email And URL fields](https://marshmallow.readthedocs.io/en/latest/upgrading.html#email-and-url-fields-do-not-validate-on-serialization). Given that the fix

[2019-07-16 01:12] rileyjohngibbs commented on #1132
I think if the (clear) expectation is that dumped data is valid, then I support removing dump validation. I don't think we currently (explicitly) rely on `dump` to validate anything.

[2019-07-16 03:46] macdonaldezra commented on #1285
Fair point, probably not worth it then.

Would it be worth indicating in future documentation that match is the underlying function that is used, so users have a better idea of how to write their regular expressions?

[2019-07-16 13:12] deckar01 commented on #1132
Currently almost all of the fields try to handle exceptions with validation failure on dump. Since the `dump()` errors aren't meant to be caught and handled, there probably is no need to normalize them into `ValidationError` instances. Should we get rid of the code that rewrites the errors in `_serialize()`? If we aren't going to pack the errors into the same data structure as `load()`, should we

[2019-07-16 13:52] sloria commented on #1285
Yes, we should definitely document this. PRs welcome!

[2019-07-16 16:45] deckar01 commented on #779
I ran [the benchmarks above](https://gist.github.com/sloria/2e0b141b3d05fe0dafbdeafd294ebae8) using python 3.7.2 against the `dev` branch. I had to make a copy of `Schema` to get sane `cProfile` output, because recursion merges calls into a single total and hides the problem.

**Nested(many)**

<img width="1034" alt="Screen Shot 2019-07-16 at 11 03 23 AM" src="https://user-images.githubusercontent

[2019-07-16 21:43] sloria commented on #1132
Yes, that's what I'm proposing.

[2019-07-17 08:09] #1234 closed, assigned to nobody

[2019-07-17 08:19] lafrech commented on #612
I didn't go through the whole thread again but I'm pretty sure this feature has become much easier to implement thanks to the rework in https://github.com/marshmallow-code/marshmallow/pull/1278.

[2019-07-17 08:24] lafrech commented on #874
I'd rather not engage into this in marshmallow core.

To do this in client code, I'd create a new util function that uses existing rfc and iso utils to try both methods (what you did, but in the util function, not the field deserialization method), and then I'd map this new util function to a custom format that I'd add to a custom `DateTimeField` (or even monkeypatch `DateTimeField.DESERIALIZATION

[2019-07-17 11:45] dlavelle7 commented on #940
Best way to solve this problem is to set the "attribute" kwarg on the Nested field itself to a callable that returns the root object:

    bar_schema = api.model("Bar", {
        "id": fields.String(),
        attribute="bar_id"
    })

    foo_schema = api.model("Foo", {
        "bar": fields.Nested(
            bar_schema,
            attribute=lambda root_obj: root_obj)})

    {"bar_id": "123"}

[2019-07-17 12:29] lafrech commented on #874
Closing this.

Anyone disagrees, please comment / reopen.

[2019-07-17 12:29] #874 closed, assigned to nobody

[2019-07-17 13:19] cristi23 opened #1303 "Wrong message on type validation errors"
## Before going too deep

I'm using marshmallow==2.19.5 and I noticed that there's a release candidate for marshmallow 3 so if this issue has somehow been solved, please ignore the rest. However, the only issue I noticed which seemed like it might have some relevance is this: https://github.com/marshmallow-code/marshmallow/issues/852, but the PR for this doesn't seem to address the problem that I'

[2019-07-17 13:58] deckar01 commented on #1303
It looks like this was fixed in v3 by #857. The original issue was about `unknown`, but the fix corrected an underlying issue that should probably be ported to v2.

Here is a minimal repro:

[code]

[2019-07-17 15:10] cristi23 commented on #1303
OK. Thanks for the quick update. It does indeed seem like there's some potential that the fix you indicated might be a solution in this situation, too.

What are the next steps here? Should we wait until there's a release for version 3 or are other 2.x releases planned which could include a fix for this issue as well?

[2019-07-17 15:21] lafrech commented on #1303
Thanks for the detailed bug report.

2.x is still maintained and should be fixed. A PR would be absolutely welcome.

[2019-07-17 15:26] deckar01 commented on #1132
Should we still try to call `handle_error` in `_serialize` so that the error can be customized per schema on `dump`?

[2019-07-17 15:47] sloria commented on #1132
Probably not? `handle_error` is meant for handling `ValidationError`, which we're proposing should only get raised on deserialization.

[2019-07-17 18:19] lafrech commented on #1042
Due to the former (MA2) behaviour, when people use `{}` as `nested_field.missing` value, they may not mean "`{}`" but "this is an empty value, please give me the default load value of the schema, that is the value the schema outputs when loading `{}`".

This is unfortunately not the new semantics for `missing`. The default value should be returned as is, therefore `{}` means `{}`.

OTOH, there see

[2019-07-17 18:43] drjosephliu opened #1305 "Upgrading from 3.0.0b16 -> 3.0.0rc8: _deserialize() got an unexpected keyword argument 'partial'"
Any idea what this error might be referring to when I try to upgrade from 3.0.0b16 to 3.0.0rc8?

I've updated all decorator functions (`@post_load`, `@pre_load`, `@pre_dump`, `@post_dump` and `@validates`) to also take in `**kwargs` but I'm still getting this error.

[2019-07-17 18:47] lafrech commented on #1305
It's hard to help without at least a stack trace.

This might help: https://github.com/marshmallow-code/marshmallow/issues/1286. Please see debug method proposed in https://github.com/marshmallow-code/marshmallow/issues/1286#issuecomment-508771989.

[2019-07-17 19:07] deckar01 commented on #779
#1304 makes `dump()` ~18% faster for both paths. #1306 makes `dump()` ~21% faster for `List(Nested)`, which makes the two paths run in effectively the same amount of time (< 1%).

[2019-07-17 19:31] lafrech commented on #779
Great.

Is there the same kind of gap between `Nested(many)` and `List(Nested)` when loading?

[2019-07-17 19:59] deckar01 commented on #779
Ya, `load()`has the same ~35% slowdown when comparing `List(Nested)` to `Nested(many)`. The same strategy should work there.

**Edit:** I added the fix for `load()` in #1306 and confirmed that it makes them run in the same time without slowing down `Nested(many)`.

[2019-07-17 22:00] drjosephliu commented on #1305
[code]

It references a problem loading `CreateClinicalCaseSchema`:

[code]

which inherits `RequestSchema`:

[code]

[2019-07-17 22:02] lafrech commented on #1305
And where does `EnumField` come from?

[2019-07-17 22:48] drjosephliu commented on #1305
From marshmallow-enum: https://github.com/justanr/marshmallow_enum

[2019-07-17 23:58] sloria commented on #1305
Ah, looks like marshmallow-enum is not yet compatible with marshmallow 3, but it looks like it's being worked on https://github.com/justanr/marshmallow_enum/pull/29 .

Closing since there's nothing to be done here.

[2019-07-17 23:58] #1305 closed, assigned to nobody

[2019-07-18 00:27] sloria commented on #1285
Closed by #1308 . Thanks again!

[2019-07-18 00:27] #1285 closed, assigned to nobody

[2019-07-18 09:09] cristi23 commented on #1303
Ok. I will try to see if I can adapt the existing fix you made from v3 to v2.x and then create a PR. Hopefully I will be able to get it done by the end of the week.

[2019-07-18 14:22] deckar01 commented on #773
Python 3.8 is adding public methods that normalize args and origin access.

https://docs.python.org/3.8/library/typing.html#typing.get_origin

[2019-07-19 15:21] sloria commented on #1289
Using a setter should simplify implementation of e.g. polymorphic fields as well.

[2019-07-19 19:40] a3huang opened #1311 "Validation Error When Using Pluck Field"
I get a weird validation error when I try to deserialize an object using a nested schema. When I run the following:
[code]

I get:
[code]

but what I'm confused about is that the value of the "title" field in the nested "book" object seems to be a valid string.

---

What I'm trying to do is to validate the following event coming in:
[code]

and then after validation, output it as:
[code]
i.e. wit

[2019-07-19 19:59] deckar01 commented on #1311
I was writing [this comment](https://github.com/marshmallow-code/marshmallow/pull/1298#issuecomment-513354502) when you posted this issue. The naming is confusing without the context of the issue that inspired it. `Pluck` describes the operation during serialization. This issue is a better place for that comment, so I will copy it here:

https://github.com/marshmallow-code/marshmallow/pull/1298#is

[2019-07-19 20:14] robvdl commented on #1289
@sloria, basically what I already posted to me is already perfect and very Pythonic. The idea is that this is a property that gets evaluated only once and then the cached value returned when called again. It's quite a common pattern in Python libraries, Django calls it @cached_property, Pyramid calls it @reify.

e.g. this is how it is now:

[code]

That just becomes:

[code]

What I have done is r

[2019-07-19 20:40] sloria commented on #1289
Right. I guess my point is that we should just make `schema` settable instead of renaming `self.__schema` to `self._schema`. I only proposed using a setter because it's a smaller diff:

[code]

I realize your cached_property implementation achieves the same goal. I don't have a strong preference either way.

[2019-07-19 21:01] deckar01 commented on #1289
I am leaning toward renaming since it preserves the overall line count and doesn't increase the complexity.

[2019-07-19 21:01] lafrech commented on #1289
FWIW, werkzeug also provides `cached_property`.

Doc: https://werkzeug.palletsprojects.com/en/0.15.x/utils/#werkzeug.utils.cached_property
Code: https://github.com/pallets/werkzeug/blob/master/src/werkzeug/utils.py#L53

It is a bit different from the code in https://github.com/marshmallow-code/marshmallow/issues/1289#issuecomment-509044937 due to https://github.com/pallets/werkzeug/pull/617.

Sinc

[2019-07-19 21:15] sloria commented on #1289
I'm not completely convinced that setting the schema should be private API. That said, changing to `_schema` is certainly the most conservative change, and it meets the OP's needs. We can always revisit if/how we implement the setter later.

[2019-07-19 21:28] robvdl commented on #1289
Yes I am happy with the convervative change of just renaming it to _schema
and does solve my problem, adding a setter seems overkill to me.

On Sat, 20 Jul 2019 at 09:15, Steven Loria <notifications@github.com> wrote:

[2019-07-20 02:03] sloria opened #1312 "Add a way to generate a Schema from a dictionary"
Generating schemas at runtime is a fairly common use case that I've run into a handful of times at this point ([webargs](https://github.com/marshmallow-code/webargs/blob/de061e037285fd08a42d73be95bc779f2a4e3c47/src/webargs/core.py#L50-L63), [environs](https://github.com/sloria/environs/blob/91b32a0e4bdf40281fab3978368164b27ce65e39/environs.py#L83-L95) , form builders...).

It might make sense to i

[2019-07-20 15:51] sloria commented on #1311
@a3huang Indeed, I think `Pluck` isn't what you want here. You could try the `Reach` recipe I posted [here](https://github.com/marshmallow-code/marshmallow/pull/1298#issuecomment-513314792).

[code]

@deckar01 I agree that `Pluck` is easily misunderstood. I improved the documentation a bit in #1314. Perhaps we could improve the naming to make it more clear, as well as provide a field for the rever

[2019-07-20 15:51] #1311 closed, assigned to nobody

[2019-07-20 15:58] sloria opened #1315 "Reduce confusion around fields.Pluck behavior"
Follow-up to discussions in https://github.com/marshmallow-code/marshmallow/pull/1298#issuecomment-513354502 and  https://github.com/marshmallow-code/marshmallow/issues/1311.

@deckar01 wrote:

@sloria wrote:

---

One possible solution might be to rename (or alias, to not break compat) `Pluck` to `Flat` and provide a `Deep` field which does the opposite (what I called `Reach` in https://github.co

[2019-07-20 16:13] #1296 closed, assigned to nobody

[2019-07-21 08:44] atmo commented on #721
Hello, @sloria ! I understand that you don't want to include data `URI`s support to `fields.Url` (as `URL` is only a subset of all possible `URI`s, see [spec](https://tools.ietf.org/html/rfc3986#section-1.1.3) or [wikipedia](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#URLs_and_URNs)). How would you feel about defining a separate field for `URI`? I can see how `URL` might then be inhe

[2019-07-21 18:11] sloria opened #1318 "Validate `missing`?"
Follow-up from #1316:

Should we validate the `missing` value?

from @kissgyorgy :

I agree, but there are some use cases which make sense, for example, getting a value from a dynamic location, when that value come from a user input like a database, or an environment variable.

The other alternative would be to make it optional, for example with a `validate_missing` argument.

Here is what I'm cur

[2019-07-21 18:13] sloria commented on #1303
Thanks for offering to tack this @cristi23 . If you end up not being able to work on this, unassign yourself and let us know.

[2019-07-21 18:24] kissgyorgy commented on #1318
I think at the very minimum, the current behavior should be documented and a `ValueError` should be raised when `missing` and `validate` are used together, [the same way as for `required` and `missing`](https://github.com/marshmallow-code/marshmallow/blob/d52c76a4c19a1cf90ed26eb1f8ad1b431c70c559/src/marshmallow/fields.py#L181-L182).

[2019-07-21 18:36] sloria commented on #1318
Yeah, I've no problem with documenting the current behavior. But raising an error when `missing` and `validate` are used together seems incorrect. They aren't mutually exclusive like required and missing are.

[2019-07-21 18:39] kissgyorgy commented on #1318
Validators will not run when `missing` is specified. I think this means they are mutually exclusive; You either use validators or specify `missing`.

[2019-07-21 18:54] sloria commented on #1318
Validators will still run as long as a value is provided, even if `missing` is specified.

[code]

[2019-07-21 18:58] kissgyorgy commented on #1318
Oh yes, you are right, sorry. I was fixated to the `missing` code path.

[2019-07-21 19:12] #1289 closed, assigned to nobody

[2019-07-21 20:36] #1295 closed, assigned to nobody

[2019-07-21 20:38] sloria commented on #1295
See https://marshmallow.readthedocs.io/en/latest/examples.html#inflection-camel-casing-keys

[2019-07-21 20:43] sloria commented on #611
This is basically the same as what was proposed in #1298 . As I said on that PR, I don't think using `load_from` or `data_key` is the optimal way to meet the use case because there may be valid use cases where the external representation has periods in the keys. Instead I think this can be solved by a custom field (see my [`Reach`](https://github.com/marshmallow-code/marshmallow/issues/1311#issuec

[2019-07-21 20:43] #611 closed, assigned to nobody

[2019-07-21 23:37] lovasoa commented on #773
@deckar01 Great ! Is there a backport to 3.7 and 3.6 ?

[2019-07-22 11:56] edelooff commented on #1318
An additional consideration: when validating default values for missing fields, the client will now potentially get an error on data they did not provide or have actual control over.

Ensuring that correct defaults are set is a real concern, but I'm not sure runtime input validation is the correct place for it.

[2019-07-22 16:00] deckar01 commented on #1318
Providing the `missing` value in deserialized form was a feature added in 3.0.

https://github.com/marshmallow-code/marshmallow/issues/378

We have also been removing validation on serialized data recently for performance reasons, so adding validation to `missing` probably wouldn't be consistent. It should be possible to use a `@pre_load` hook.

[code]

https://marshmallow.readthedocs.io/en/3.0/ex

[2019-07-22 16:40] sloria commented on #1318
Yeah, `pre_load` seems a good place if you need to do validation on dynamically-computed defaults. `ValidationError`s raised there will get collected just like field errors.

Closing for now.

[2019-07-22 16:40] #1318 closed, assigned to nobody

[2019-07-22 16:56] cristi23 commented on #1303
I created a PR - https://github.com/marshmallow-code/marshmallow/pull/1323

Let me know if it's all good. From my tests it should be working fine.

The only small thing I still don't like is the fact that there's a small inconsistency where sometimes "Invalid input type." (for most cases) will be returned in some cases, but also "Invalid type." (when sending wrong data to Nested fields) in others.

[2019-07-22 19:43] kissgyorgy commented on #1318
Thanks for the comments! Seems like validating in `@pre_load` will be good enough.

[2019-07-22 23:24] davidlouis commented on #1315
Some feedback on using `Reach` with my travels so far:

I had some trouble deserializing data similar to:
[code]

Using the following schema:
[code]

The initialisation of this schema failed because of the duplicated data key "data" I needed to load two values from the same nested json key. I have temporarily worked around this by creating my own `ReachSchema` that subclasses `Schema` and override

[2019-07-23 15:40] sloria commented on #1315
Ah, good point--I hadn't considered duplicate `data_key`. Might have to rethink the recipe a bit.

In the specific case you posted, it might be better to use a `post_load` method:

[code]

[2019-07-27 12:36] kissgyorgy commented on #1318
I tried this and it works perfectly and very simple, thanks!

[2019-07-28 13:22] LiuG-lynx opened #1325 "how to marshmallow serialization elasticsearch-dsl-py"
请问是否未来会对 elasticsearch 进行支持

[2019-07-29 21:12] lafrech commented on #1325
Reported as spam.

[2019-07-29 21:12] #1325 closed, assigned to nobody

[2019-07-30 14:55] deckar01 commented on #1325
Google translate says that is Chinese and means "Will you support elasticsearch in the future?".

We don't explicitly add support for 3rd party software like this. Marshmallow should be flexible enough for any data structure. If you think marshmallow is not compatible with elastic search, the issue you create should contain specific information about the data structures you are using and the marsh

[2019-07-30 15:54] zjqzero opened #1326 "Field type is forced to identify with the first data"
[code]

to avoid the problem I should declare all fields explicitly, but not convenient if there are many fields.

[2019-07-30 16:32] deckar01 commented on #1326
Python can tell the difference between a float and an int. You may need to enforce specific types before letting marshmallow infer fields from them.

[code]

Inferring a generic type based on a polymorphic set of inputs is probably outside the scope of this feature. In your use case, treating an integer as a float could lose information/precision, so it is a decision that needs to be made explicit

[2019-07-31 02:31] zjqzero commented on #1326
ok. thank you.

[2019-07-31 02:31] #1326 closed, assigned to nobody

[2019-07-31 03:43] #1132 closed, assigned to deckar01

[2019-08-01 01:25] LiuG-lynx commented on #1325
Sorry. My English is terrible

[2019-08-01 14:01] killthekitten commented on #339
Hey, for the history, @sloria added [a code example](https://github.com/marshmallow-code/marshmallow/blob/dev/examples/inflection_example.py) that solves it recently. Also, #1295

[2019-08-02 02:59] #1210 closed, assigned to nobody

[2019-08-02 03:12] #1187 closed, assigned to nobody

[2019-08-02 03:20] sloria commented on #1257
`attribute` has no effect on validation and deserialization; it is only used for serialization. You can use a `@post_load` method if you need to deserialize a flat object into a nested object.

[code]

[2019-08-02 03:20] #1257 closed, assigned to nobody

[2019-08-02 03:49] sloria commented on #1113
DateTime is implemented to deserialize strings. For now, you should use a custom field if you want to deserialize other types, as Jared suggested.

[2019-08-02 03:49] #1113 closed, assigned to nobody

[2019-08-02 04:02] sloria commented on #914
You could take advantage of the fact that `ValidationError.messages` is keyed by index when `many=True` to filter the valid data.

On marshmallow 3 it would look something like:

[code]

[2019-08-02 04:02] #914 closed, assigned to nobody

[2019-08-02 04:17] sloria commented on #972
I think https://github.com/marshmallow-code/marshmallow/issues/1312 would meet this use case. The proposal there is to provide an easy way to generate schemas at runtime, so you could do:

[code]

What do you think?

[2019-08-02 04:39] sloria commented on #867
This. We don't want to re-raise any and all exceptions as ValidationErrors. At the very least, this would result in strange, inconsistent error messages. At worst, it could expose sensitive data from exceptions to clients.

I think either a custom field or a `@pre_load` method address the OP.

[2019-08-02 04:39] #867 closed, assigned to nobody

[2019-08-05 05:28] davidlouis commented on #1315
I've been revisiting the use of Reach which just so happened to be required in the second use case of my project using Marshmallow and have spent a bit of time trying "back of the napkin" a solution for this.

Before I begin, another issue I ran into with using Reach with identical data keys was that when I got validation errors they all read `{'data_key': ['Not a valid integer.']}`. Since almost

[2019-08-05 07:38] NilsBarlaug-cognite commented on #1132
We have a library which helps users work with some specific JSON documents (which they might use locally or against our HTTP API). Basically letting them easily load, dump and modify these JSON documents in a Python native way. For improved user experience we validate the JSON documents both on load and dump. The user can create/modify a document in Python - so we have no guarantees that the data

[2019-08-05 12:01] javiersanp commented on #376
I have a Issue similar to this one with this code:
[code]

get:

`UnmarshalResult(data={}, errors={'date_from': ['Not a valid date.']})`

while expected:

`UnmarshalResult(data={'date_from': date(2019, 1, 1)}, errors={})`

Please could any one show me where is the user error?

[2019-08-05 12:06] javiersanp commented on #376
Forgive me! The answer is here #378

[2019-08-05 12:55] deckar01 commented on #1132
Under the hood, `validate` calls the same logic as `load`, it just doesn't return the deserialized data.

[2019-08-05 18:07] debonzi commented on #1257
Hi sloria,

I dont get it. If it has no effect, why does the two codes below have distinct behavior?

[code]

[code]
The PR (#1256) makes both codes have the same behavior.

[2019-08-06 10:19] bc291 opened #1333 "builtins.TypeError: return_valid() got an unexpected keyword argument 'partial'"
After bumping from b12->rc9
Happened while loading.

[code]

[2019-08-06 23:09] yradchen opened #1334 "Setting only fields after class instantiation does not run normalize options function"
Running into issues when a schema is instantiated then properties, like exclude and only, are set afterwards.

For example;
When a schema is first instantiated with the following

[code]
A method "self._normalize_nested_options()" is run from the init which sets nested fields. e.g. we will now only get age from the player and name from the user.

However if the only field is set after the fact;

[

[2019-08-07 03:44] sloria commented on #1333
See https://marshmallow.readthedocs.io/en/3.0/upgrading.html#decorated-methods-and-handle-error-receive-many-and-partial . You will need to add `**kwargs` to your `return_valid` method.

[2019-08-07 03:44] #1333 closed, assigned to nobody

[2019-08-07 03:46] sloria commented on #1334
Let's continue discussion on the linked issues above.

[2019-08-07 03:46] #1334 closed, assigned to nobody

[2019-08-07 06:02] ckanesan commented on #1132
@deckar01 As far as I understand, `load` accepts dicts of primitive types whereas `dump` would accept native Python objects. Does this mean that the validation feature would be limited to objects composed of primitive types only? How would one go about validating a native object?

[2019-08-08 02:18] multimeric commented on #658
While this particular issue is a marshmallow-sqlalchemy issue, I can see some need for a generalized mechanism for Marshmallow schemas to pass metadata down to nested schemas. This would solve this problem for marshmallow-sqlalchemy, and other downstream libraries too.

Broadly we need some way for schema arguments to continuously pass data down to nested schemas, without any of them ever breaking

[2019-08-08 21:15] hiphamster opened #1335 "need help loading nested objects with lookup"
I have two sqlalchemy models - ServiceRecord and Service, with a many-to-many relationship, which is resolved via a service_record_services table.
I'm trying to deserialize ServiceRecord object, from the following JSON, and to load Service objects from db via ids provided. Instead, i end up with new Service objects created.
[code]

Models:
[code]

Schemas:
[code]

[code]

[2019-08-09 07:31] aniforprez opened #1336 "validate.Range not working as expected"
I have the following schema

[code]

I load the following dict into the schema so
[code]

Range throws no error for `field_thingy` being outside the range specified

We are running `marshmallow==3.0.0b12`

[2019-08-09 12:31] timster commented on #1336
I think the kwarg to `fields.Number` should be `validate` and not `validation`.

[2019-08-09 12:43] lafrech commented on #1336
Indeed.

https://marshmallow.readthedocs.io/en/3.0/quickstart.html#validation
https://marshmallow.readthedocs.io/en/3.0/api_reference.html#module-marshmallow.fields

[2019-08-09 12:43] #1336 closed, assigned to nobody

[2019-08-09 12:59] aniforprez commented on #1336
Argh I'm so sorry

[2019-08-09 13:08] sloria commented on #1176
Is this fixed in 3.0.0rc9?

[2019-08-09 20:35] airstandley opened #1337 "Marshmallow warnings.py not Python 2 compatible from version 2.18.0"
The `unused_and_removed_in_ma3` decorator introduced in version 2.18.0 is not Python  2.7 compatible due to absolute import not being used.

To reproduce simply attempt to call a decorated method.
[code]

Expected:
Method executes but logs a `RemovedInMarshmallow3Warning`

Actual:
`AttributeError: 'module' object has no attribute 'warn'` is raised.

[2019-08-09 20:49] deckar01 commented on #1337
I was able to reproduce this issue on v2.19.5 with python 2.7.16. I also confirmed that this issue is not present on python 3.7.2. I also noticed this issue number is very #1337. 😄

[2019-08-09 21:28] badrobit opened #1339 "Allow for composition based schemas"
I have a series of schema's some with a variety of fields that are commonly shared but they build on each other in a manner like this:

[code]
(note the fields here are just the quickest ones I could think of the real ones also contain validation checking to ensure the correctness of the field to the application in question)

These schemas represent commands that come into a system as JSON. As you

[2019-08-10 13:10] sloria commented on #1337
Fix is released in 2.20.0. Thanks for the report and fix!

[2019-08-10 13:10] #1337 closed, assigned to nobody

[2019-08-10 16:50] lafrech commented on #1132
@ckanesan you're right about `validate` taking serialized (primitive types) data as input.

Maybe you could call it after serialization, but it might fail on edge cases (e.g. asymmetrical dump/load keys, pre-post processings,...).

We can't really extract validation from the loading process because it is done in each field's deserialization method. It is not a two-step process (deserialization, th

[2019-08-10 17:14] lafrech commented on #1257
I didn't read the whole thread, but unless I'm misunderstanding, this is wrong. `attribute` works symmetrically. It is used in both serialization and deserialization.

[2019-08-11 07:00] hiphamster commented on #1335
Turns out i didn't need the 'transient = True' on ServiceSchema, and 'name' field should not have been 'dump_only'. The 'pre_load' method on ServiceRecordSchema is also unnecessary.

[2019-08-11 07:00] #1335 closed, assigned to nobody

[2019-08-11 13:07] #1303 closed, assigned to cristi23

[2019-08-11 21:28] #1312 closed, assigned to nobody

[2019-08-12 07:55] sirkonst opened #1342 "[version 2.20.0] TypeError: 'NoneType' object is not subscriptable"
After update from version 2.19.5 to 2.20.0 I got error for code like:

[code]

[code]

[2019-08-12 13:41] sloria commented on #1342
Thanks for reporting. I was able to reproduce this on 2.20.0. This is likely a regression from https://github.com/marshmallow-code/marshmallow/pull/1323 . I don't have time to look into it now. Would appreciate a PR.

[2019-08-13 04:40] sloria commented on #1342
This is fixed in 2.20.1.

[2019-08-13 04:40] #1342 closed, assigned to nobody

[2019-08-13 04:48] sloria commented on #1299
Let's continue discussion on #1315

[2019-08-13 04:48] #1299 closed, assigned to nobody

[2019-08-13 07:51] ssfdust commented on #928
Any update?I have checked all issues milestoned 3.0 have been closed.Will it be released this week?

[2019-08-13 10:02] sirkonst opened #1345 "[regression 2.20] pass None for @validates_schema instead empty dictionary"
I found another regression after update from 2.19.5 to 2.20.1.

[code]

[2019-08-13 13:14] sloria commented on #928
Yes, the 3.0 issues are complete. We are just allowing some time for people to use the latest RC before the final release. If you'd like to help, I encourage you to upgrade to 3.0.0rc9 and report any issues that you find.

[2019-08-13 13:34] sloria commented on #1345
Thank again for reporting. Would you like to investigate and send a PR?

[2019-08-13 13:47] deckar01 commented on #1345
I'm surprised `validate_schema()` gets called considering the structure of the input is invalid.

[2019-08-13 21:58] sloria commented on #1315
Thanks for that analysis @davidlouis . I think allowing for `data_key` to be a list of strings could be a nice solution. Feel free to send a PR (even a work-in-progress one). We might not get to it immediately, since we're focused on 3.0 final, but I do think we'll want a good solution for handling nested keys.

[2019-08-14 00:54] davidlouis commented on #1315
Thanks @sloria. Yeah I like having `data_key` support a list of strings too. I think it's better than using the additional `path` param.
Will update with a PR when I find some time!

[2019-08-14 02:26] sloria commented on #1339
I'm not sure I understand the question. Schema4 and Schema5 don't share fields with their ancestors, so why would you need to combined the validators? Can you give an example of the expected input and output? Or maybe pseudocode?

[2019-08-14 02:48] badrobit commented on #1339
Hi, sorry for the rushed question I have updated the original to hopefully try and be a bit clearer,

[2019-08-14 07:10] sirkonst commented on #1345
@deckar01 - yes it's strange but I think it have a sense in some cases. And method was not called if using @validates_schema(skip_on_field_errors=True).

[2019-08-14 12:59] deckar01 commented on #1339
The mixin pattern with multiple inheritance should allow just about any type of schema composition.

https://stackoverflow.com/questions/533631/what-is-a-mixin-and-why-are-they-useful

[code]

[2019-08-16 20:49] sloria commented on #1339
Not sure if it fits your use case, but you could also dynamically generate a schema.

[code]

Note: `from_dict` isn't yet released (it will be in 3.0 final), so you could add it to `BaseCommandSchema` for now.

Closing for now, feel free to carry on discussing here if your use case hasn't been met.

[2019-08-16 20:49] #1339 closed, assigned to nobody

[2019-08-16 21:58] jtrakk opened #1346 "SomeField(many=True) vs List(SomeField())"
I've always used `List(SomeField())` and haven't really understood the purpose of `SomeField(many=True)`. Is there a guideline for when I'd want to use `SomeField(many=True)` instead of  `List(SomeField())`? Thanks.

[2019-08-17 13:23] keith6014 opened #1347 "dynamic dictionary validation"
Say, I have a dictionary like this
[code]
* "title" is mandatory. Must be string
* "srv" will be dynamic. Must be a string. Dynamic means, it will be called "srv", "foo","bar", or whatever
* "A" & "B" will be dynamic. Must be string

[code]

[2019-08-17 13:31] sloria commented on #1346
See https://github.com/marshmallow-code/marshmallow/issues/779 ; we are considering deprecating `Nested(many=True)` in favor of `List(Nested())`. It used to be `Nested(many=True)` had better error reporting behavior and was more performant, but in marshmallow 3 they will be in parity with each other.

[2019-08-17 13:31] #1346 closed, assigned to nobody

[2019-08-17 13:47] sloria commented on #1347
See https://stackoverflow.com/questions/57437960/serializing-data-with-marshmallow-if-data-key-is-unknown/57470868#57470868 . You can use `from_dict` to build your schema completely dynamically.

[2019-08-17 13:47] #1347 closed, assigned to nobody

[2019-08-17 15:37] keith6014 commented on #1347
Thanks.

I am doing something like this
[code]

But i keep getting
[code]

[2019-08-17 15:41] sloria commented on #1347
The idea is that you would dynamically build the dictionary passed to `from_dict`, such that it would include `srv` when appropriate.

[2019-08-17 17:25] sloria commented on #972
Closing for now, as a think the recently-added `from_dict` should meet this use case.

[2019-08-17 17:25] #972 closed, assigned to nobody

[2019-08-17 18:40] keith6014 commented on #1347
i see. I need to do
[code]

But how can I run validation against it?

[2019-08-17 19:01] fenchu commented on #972
Yes this works, thanks, but please update the docs with examples. I have tons of rest apis whose load dynamic content like active services, probing services, status etc. We do not have any problem marshalling the same content with jackson in java.

[2019-08-17 22:48] sloria commented on #1347
`from_dict` returns a schema class, so you would instantiate and call `validate` or `load`, as normal

[code]

[2019-08-17 22:56] keith6014 commented on #1347
Yeah, I am trying that that doesn't seem to work.

[code]
Error
[code]

[2019-08-17 23:09] jtrakk commented on #1346
I see. What does that mean for the future of `Integer(many=True)` and other fields?

[2019-08-17 23:10] jtrakk commented on #779
Does it make sense to remove `Integer(many=True)` and the `many` argument on other fields too?

[2019-08-18 01:13] sloria commented on #1347
What isn't working? Can you post a code snippet?

[2019-08-18 01:14] sloria commented on #779
@jtrakk `many` isn't an argument to other fields.

[2019-08-18 01:26] jtrakk commented on #779
I see. FWIW, I've seen people (including myself) pass `Integer(many=True)` and been confused when it doesn't work. I know [`attr.ib()`](http://www.attrs.org/en/stable/api.html#attr.ib) uses the `metadata=` namespace instead of taking `**metadata`, to avoid that problem, at the cost of a little extra verbosity. I'm not sure how I feel about the tradeoff, though I lean toward the explicit namespace.

[2019-08-18 01:33] sloria commented on #779
Yeah, it's a known issue. The reasons we use **kwargs instead of e.g. `metadata=` are mostly historical. The original decision was that storing kwargs 1) was more concise and 2) saved us from having to come up with an appropriate name... "metadata" didn't seem right because there are use cases where the things your storing aren't really metadata. At this point, it's not worth breaking the API.

No

[2019-08-18 05:35] sloria commented on #972
`from_dict` is documented in the Quickstart: https://marshmallow.readthedocs.io/en/latest/quickstart.html#creating-schemas-from-dictionaries

I also wrote up a quick blog post: https://stevenloria.com/dynamic-schemas-in-marshmallow/

[2019-08-18 06:09] jtrakk commented on #779
I suppose so.

That being said, 3.0.0 would be a good time to do it, and it [wouldn't be hard](https://instagram-engineering.com/static-analysis-at-scale-an-instagram-story-8f498ab71a0c) to write an automatic converter using [libCST](https://libcst.readthedocs.io/en/latest/) or similar that'd move all the current `**metadata` calls into `metadata=dict(...)`.

[2019-08-18 10:32] keith6014 commented on #1347
[code]

Here is the source
[code]

[2019-08-18 20:20] sloria opened #1350 "RFC: Change the way we store metadata?"
Users are often bit by the fact that fields store arbitrary keyword arguments as metadata. See https://github.com/marshmallow-code/marshmallow/issues/683.

_Originally posted by @sloria in https://github.com/marshmallow-code/marshmallow/issues/779#issuecomment-522283135_

Possible solutions:

1. Use `metadata=`.
2. Specify a whitelist of allowed metadata arguments.

Feedback welcome!

[2019-08-18 21:43] sloria commented on #779
@jtrakk It's too late for 3.0 (planning to release the final today 😬 ), but I've opened https://github.com/marshmallow-code/marshmallow/issues/1350 for further discussion.

[2019-08-18 21:48] sloria commented on #1350
Solution 1. is preferable to 2., I think. That said, there are some use cases where it's awkward to call additional kwargs "metadata". `location` in webargs is one that comes to mind.

[code]

though we could probably wrap all the fields in webargs to take the additional `location` argument. 🤔

[2019-08-18 22:41] fuhrysteve commented on #928
@sloria we've all got your back when you're ready to pull the trigger! We're all professionals here, and know how to rollback if there are issues.

I already have it on my head that it's going to take my team 6 months after the 3.0 official release before we'll be ready to upgrade anyways (I manage a large codebase with thousands of marshmallow schemas). I'm just eager for that clock to start tick

[2019-08-18 22:43] sloria commented on #928
@fuhrysteve Start that clock: v3 is released!

[2019-08-18 22:55] fuhrysteve commented on #928
Wow!!! :champagne: :champagne: :champagne:

Congrads on completing such an incredible milestone. Introducing major BC breaks so late in a large and widely used library's life-cycle is no a small achievement. Myself and my team alone have spent thousands of hours of our lives working with marshmallow, and the library has had a major impact on the way I think about software architecture after so man

[2019-08-19 07:26] lafrech commented on #1347
IIUC, the field name is unknown at schema instantiation time.

Could be a case for https://github.com/marshmallow-code/marshmallow/issues/853.

[2019-08-19 10:07] f0cker opened #1353 "question: Regexp only matches first character?"
Since validate.Regexp appears to only match the first character of a string (re.match), what is the correct way to ensure the whole string conforms to a regex?

Hope this is possible. Thanks.

[2019-08-19 10:17] lafrech commented on #1353
FWIW, related to https://github.com/marshmallow-code/marshmallow/issues/1285.

[2019-08-19 11:44] antgel commented on #928
Sorry (not sorry) for the spam, but woo! Congrats to all, I've only been following closely for a few months, but it's an incredible effort.

[2019-08-19 13:14] sloria commented on #1347
@keith6014  You need to build the schema based on the data in the file.

[code]

[2019-08-19 13:21] sloria commented on #1353
You can use a custom validator that uses `re.search`.

[code]

Edit: fix typo with _format_error.

[2019-08-19 13:21] #1353 closed, assigned to nobody

[2019-08-19 16:27] f0cker commented on #1353
Thanks for that, just for completeness if anyone else looks at this 'format_error' should be '_format_error'

It turns out what I needed was something that would reject any special characters etc., using a whitelist approach, so re.search didn't work for me. I used the below instead, with the regex \W in this case to check for any characters not matching \w which is equivalent to [a-zA-Z0-9_]:

[c

[2019-08-19 16:29] sloria commented on #1353
Fixed the typo. Glad you got it working.

[2019-08-19 20:34] yeralin opened #1355 "Doubly nested list field does not assign inner field's name"
Let's take a look at the following schema:
[code]
When you create an instance of it `test_schema = TestSchema()`, you can get outter and inner fields' names:
[code]
It works as part of https://github.com/marshmallow-code/marshmallow/blob/e0163744069de0eacc0e70fbc0d8d5937bab753a/src/marshmallow/fields.py#L335-L343

However, let's include another level of "nestness" in `TestSchema`:
[code]
In this c

[2019-08-20 09:51] sloria opened #1356 "RFC: Remove implicit field creation"
Proposal: Remove Implicit/inferred field creation (`fields` and `additional` class Meta options).

At the very least, it's an unnecessary feature that adds complexity to the codebase. At worst, it interacts in weird ways with consuming libraries that autogenerate fields (see #923). The feature was added pre-1.0, when there were no ORM integration libs, as a poor man's [ModelSerializer](https://www

[2019-08-20 17:05] deckar01 commented on #1355
I was able to reproduce. We should probably separate the name binding logic from the schema binding logic so that we can recursively assign the name attribute.

[2019-08-20 17:33] sloria commented on #1355
I won't be able to look at this soon. @deckar01 Can you take this one?

[2019-08-20 18:41] deckar01 commented on #1355
After thinking about it a little more, I don't think it's a bug. Why would the inner type of this field need a name? It is an anonymous item in a list. Wouldn't reusing the same name for the inner containers be just as invalid as using `None`?

[2019-08-20 18:43] yeralin commented on #1355
@deckar01  But then by your logic, `test_schema.fields['test'].container.name` should also be `None`, but it is copied from the parent and set to `test` as well

[2019-08-20 19:05] deckar01 commented on #1355
This is a `2.x-line` specific issue. In 3.0 `container` has been renamed to `inner` and the `name` attribute is applied recursively. I thought I remembered this getting normalized recently. 😄

I guess duplicating the same name to all the nested fields is the desired behavior. I don't think we actually use this attribute for anything internally other than on the top-most fields in `Nested`. This be

[2019-08-20 19:05] #1355 closed, assigned to deckar01

[2019-08-20 19:26] phrfpeixoto commented on #1150
I encountered the same issue o 3.0.0 stable, but I did not touch the `pass_original` attribute.
Here's a sample project showing my issue:
https://github.com/phrfpeixoto/marshmallow_bug/tree/master

It works ok o 2.x Branch. I'm holding to that version for now.

[2019-08-21 13:24] zblz opened #1357 "3.0: DateTime fields cannot be used as inner field for List or Tuple fields"
Between releases 3.0.0rc8 and 3.0.0rc9, `DateTime` fields have started throwing an error when being instantiated as inner fields of container fields like `List` or `Tuple`. The snippet below works in <=3.0.0rc8 and throws the error below in >=3.0.0rc9 (and, worryingly, 3.0.0):

[code]

Traceback:
[code]

It seems like it's treating the parent field as a Schema without checking that it is indeed a

[2019-08-21 13:31] sloria commented on #1357
Thanks for reporting. I don't think I'll have time to look into this until the weekend. Would you like to send a PR?

[2019-08-21 13:46] zblz commented on #1357
I'm afraid I don't have any time either, and I don't really have enough context on the `_bind_to_schema` process to make sure I'm not breaking stuff.

[2019-08-21 13:48] sloria commented on #1357
OK, no problem. @lafrech Will you have a chance to look into this?

[2019-08-21 13:49] zblz commented on #1357
I've found the patch below to fix the minimal example above, but I'm not really sure what it's missing out on or how to test it properly:
[code]

[2019-08-21 14:02] lafrech commented on #1357
git difftool 3.0.0rc8 3.0.0rc9 src/marshmallow/fields.py

When reworking container stuff, I changed

[code]
into

[code]

AFAIR, I did this merely to avoid duplication. On second thought, I think it was the right thing to do, not only for duplication but to actually bind inner fields to the `Schema`.

Reverting this avoids the error but the inner field's `_bind_to_schema` method is not called so I

[2019-08-21 14:28] sloria commented on #1357
On quick glance, your analysis and fix look correct @lafrech

[2019-08-21 14:52] lafrech commented on #1357
Let's do that, then.

Not much time either. The first who gets the time can do it.

For the non-reg tests :

1/ a test that checks the format set in the schema is respected if the `DateTime` field is in a container field

2/ a set of tests asserting the `_bind_to_schema` method of inner fields `List`, `Dict`, `Tuple` is called from container fields (we can use `DateTime` with the same test case fo

[2019-08-21 15:37] phalbert opened #1358 "Help Wanted: AttributeError: 'list' object has no attribute 'data' on schema.dump(model).data in 3.0.0"
Deserializing a model in marshmallow `3.0.0` seems to have changed. I have been using `v2.19.5` with `schema.dump(model).data`. However, this no longer works and the following error is now thrown:

[code]
What is the alternative then?

[2019-08-21 15:43] lafrech commented on #1358
Please read the *upgrade to 3.0* section of the docs.

You don't need to access `.data` attribute, `dump` already returns the data.

[2019-08-21 15:43] #1358 closed, assigned to nobody

[2019-08-21 16:43] phalbert commented on #1358
thanks @lafrech

[2019-08-21 17:52] sloria opened #1360 "Rename `schema` param to `parent` in _bind_to_schema"
We may want to consider renaming the `schema` arg of `_bind_to_schema` to `parent` to make it a little clearer that this might be a field.

_Originally posted by @deckar01 in https://github.com/marshmallow-code/marshmallow/pull/1359_

[2019-08-21 17:53] #1357 closed, assigned to deckar01

[2019-08-21 18:20] sloria commented on #1357
Fix released in 3.0.1

[2019-08-21 19:00] codebind-luna commented on #1345
@sloria is anyone working on this? If not I would like to investigate on this

[2019-08-21 19:02] sloria commented on #1345
I don't think anyone is working on this. Would be glad if you sent a PR, @codebind-luna !

[2019-08-21 20:00] codebind-luna commented on #1345
@sloria I have started looking into it. I hope soon will raise a PR

[2019-08-22 08:47] multimeric commented on #940
I also solved this using a (simpler) variant of @m-a-choquette's method:

[code]

***

This let me use this schema:

[code]
(ignore my custom fields, they're not important for this example)

Which transforms:
[code]

into

[code]

aka, a valid response (or segment thereof) under the [JSON API](https://jsonapi.org/format/#document-resource-object-attributes) standard!

[2019-08-22 16:35] jeffsawatzky opened #1361 "Temporarily Require a Field"
I have a deeply nested schema, and most of the time the child attributes are not required.

However, occasionally I will need to ensure that one or more of the child attributes are present. Is there a way to do this without having to define multiple schemas for every combination of required attributes?

For example, if I have:
[code]

When creating a user I want `name` and `password` to be require

[2019-08-22 16:47] sloria commented on #1361
The typical way handle updates is to do the opposite: temporarily make a field optional using [partial](https://marshmallow.readthedocs.io/en/stable/quickstart.html#partial-loading).

[2019-08-22 16:54] zaraken commented on #980
I do agree that class Meta options should not be automatically propagated.

However, what about when overriding `unknown` in the load method which should according to documentation override the value set at instantiation or in Meta. For this use case it would make sense to (conditionally) allow propagation to nested fields or ?

[2019-08-22 17:42] deckar01 commented on #1361
Duplicate of #1280 and #1296.

Adding meta options and constructor args adds a lot of code and API surface area that will be rarely used. A factory that customizes the schema is probably the most flexible option and is very readable.

[code]

[2019-08-23 23:49] sloria commented on #1361
@jeffsawatzky Do either of the above fit your use case?

[2019-08-25 23:43] robvdl opened #1363 "TimeDelta field is crashing in _serialize in Marshallow 3 because value is a str"
This seems to be a new issue in Marshmallow 3.0.x (I am using 3.0.1)

Here is the tb:

<pre>
  File "/virtualenv/lib/python3.6/site-packages/marshmallow/schema.py", line 541, in dump
    result = self._serialize(processed_obj, many=many)
  File "/virtualenv/lib/python3.6/site-packages/marshmallow/schema.py", line 505, in _serialize
    value = field_obj.serialize(attr_name, obj, accessor=self.get_

[2019-08-25 23:54] robvdl commented on #1363
Could be something in my code, I'm still digging into it, for some reason value contains '0 hours' which is a str while for other tests it contains a timedelta as expected.

This should just come from serializing a SQLAlchemy ORM object so I wouldn't expect different behaviour as the field should always be a timedelta. But it can sometimes be to do with the fact the tests are flushing the db sessi

[2019-08-26 00:07] robvdl commented on #1363
I am closing this, I it seems to be SQLAlchemy changing the data type when doing a commit. Unrelated to marshmallow.

[2019-08-26 00:07] #1363 closed, assigned to nobody

[2019-08-26 07:27] kathur2rain commented on #195
finally I solved this problem by override fields.nested.  but I just find here's a, plugin? called marshmallow-oneofschema. which just might help.

[2019-08-26 09:04] charlax commented on #1286
Got bitten by this, should this be added to https://marshmallow.readthedocs.io/en/latest/upgrading.html?

[2019-08-26 09:10] lafrech commented on #1286
Yeah, possibly.

This is what was done for MA2: https://marshmallow.readthedocs.io/en/latest/upgrading.html?#custom-fields

Anyone wants to send a PR?

[2019-08-26 09:11] charlax commented on #1286
Sure.

[2019-08-26 13:23] sloria commented on #1361
Closing for now. Feel free to comment if you have further questions

[2019-08-26 13:23] #1361 closed, assigned to nobody

[2019-08-26 13:50] sloria commented on #195
Yes, https://github.com/Bachmann1234/marshmallow-polyfield and https://github.com/marshmallow-code/marshmallow-oneofschema are the two libraries I know that implement polymorphism.

I can't really recommend one over the other--we're using both in production (in different services), and both seem to work as advertised.

[2019-08-26 14:51] jeffsawatzky commented on #1361
Sorry for taking some time to reply.

I don't think those options fit my use case.  Using `partial` means I need to mark all fields as `required`, and then use `partial` to only read the ones I want. However, I am also using apispec to generate OAS docs from the schema's and this means that the OAS docs will now list all fields as required, when they aren't.

I also don't want to litter the OAS do

[2019-08-26 15:12] deckar01 commented on #1361
OAS requires derived schemas to be declared with inheritance and overridden fields.

https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/

https://github.com/marshmallow-code/apispec/issues/226

https://github.com/timakro/apispec-swaggerinherit

[2019-08-26 18:04] philip-newzoo opened #1366 "Determining schema load order"
I have a schema with nested fields and I need to guarantee the order the nested schemas are evaluated when loading data. Consider the following contrived example (modified from one of marshmallow's own). I would like to guarantee `artist` is always loaded first, followed by `label`.

Is this possible?

[code]

[2019-08-26 18:11] charlax commented on #980
At the very least, this behavior should be documented.

[2019-08-26 18:13] philip-newzoo commented on #1366
A little bit more background to the issue I'm facing. I'm using `marshmallow-sqlalchemy` to load a nested JSON object into a nested schema. Because one of the nested schemas is actually an `association_proxy` I need the `target` object in the proxy to be loaded first. It seems that about 50% of the time the load order is correct, and everything works. The other half of the time, the `attr` of the

[2019-08-26 18:15] charlax opened #1367 "Allow setting a global unknown setting"
The new `RAISE` unknown setting can make the migration pretty painful, especially for those who are just fine with `EXCLUDE`ing unknown keys. What about making this global default a configuration setting?

Something as simple as:

[code]

I know it's possible to subclass `Schema`, but that seems more heavy-handed.

[2019-08-26 19:05] deckar01 commented on #1367
You can modify the base schema's `Meta` class directly and your subclasses will inherit it.

[code]

[2019-08-26 20:18] charlax commented on #1367
Indeed, that's just as simple. Perhaps this could be added to the docs?

[2019-08-26 20:41] deckar01 commented on #1367
I'm not sure this would fit well in the "Handling Unknown" section of the quick start docs. Global configuration doesn't seem to have a dedicated place in the docs either. It would probably be useful to mention the pattern in the upgrading docs.

Feature requests that are solved by applying Python language features to documented implementation details do come up regularly though. I wonder if the e

[2019-08-26 20:41] sloria commented on #1367
I don't think we need to add any additional API for setting defaults. I think many users use a base class that defines their defaults.

I guess we can the suggestion above to the docs, but is it really a pattern we want to encourage?

Feel free to send a PR adding the docs, but closing the issue since the use case has been met.

[2019-08-26 20:41] #1367 closed, assigned to nobody

[2019-08-26 20:42] sloria commented on #1367
Yeah, that's what I was thinking. We could make it clear that it's just a stopgap.

[2019-08-26 20:50] deckar01 commented on #1367
Right, new users shouldn't need this, because they can easily make a custom base class.

[2019-08-26 21:05] deckar01 commented on #1366
https://marshmallow.readthedocs.io/en/stable/quickstart.html#ordering-output

I haven't tested the ordering during load, but the docs say it uses an ordered dict for the schema fields internally, so I would try that first. It seems odd that loading the nested schema would cause the lazy reference to resolve, but trying to access one of its attributes wouldn't.

[2019-08-26 21:29] charlax commented on #1367
Well, the point about documenting it is that it becomes a supported use case that should be tested. Either way, this is simple enough that it can stay as is. Let me know what you think, happy to spin up a quick PR.

[2019-08-26 21:38] sloria commented on #1367
I'm not convinced this is something that *should* be tested. It's a stopgap, after all, so I don't think it's something we want to guarantee support for. Secondly, it's just using "plain Python", i.e. it's not really a marshmallow feature.

[2019-08-26 21:49] deckar01 commented on #1367
Being able to configure `Schema.Meta` directly is a generally useful pattern that we probably don't have explicit test coverage for, but schema inheritance is a Python feature, not a marshmallow feature. The only way we would regress that functionality is if schemas stopped being declared as a subclasses, and that would be a breaking change with upgrading docs.

[2019-08-27 02:39] philip-newzoo commented on #1366
I think that was it! Nice simple solution, where ordering the output also appears to order the loading. Will have to test more to see if this is the actual fix but it looks promising.

[2019-08-27 20:49] phrfpeixoto commented on #1150
Any updates on this?

[2019-08-27 21:49] lafrech commented on #1150
@phrfpeixoto your issue is unrelated to this one.

Looks like it is another bug and the fix could be the following:

[code]

Would you like to open another issue, investigate and perhaps propose a PR with a test?

[2019-08-28 01:10] sloria opened #1368 "many is passed through to pre/post_dump/load method even when pass_many=False"
https://github.com/phrfpeixoto/marshmallow_bug/tree/master

_Originally posted by @phrfpeixoto in https://github.com/marshmallow-code/marshmallow/issues/1150#issuecomment-523160159_

[2019-08-28 01:18] sloria commented on #1368
I'm not sure that this is a bug. In v3, `many` *always* gets passed to `post_dump` methods, and it will be equal to the value of `many` upon calling `dump`.

`pass_many` controls whether your post_dump method receives the original input list or if it handles single items. It does *not* control whether or not the `many` argument passed.

https://marshmallow.readthedocs.io/en/latest/extending.html#p

[2019-08-28 01:19] sloria commented on #1150
@phrfpeixoto  Indeed, your issue is different from the OP, but I'm not actually sure it's a bug. Let's continue discussion on #1368

[2019-08-28 03:14] sirosen commented on #1350
I wanted to note that even webargs' `location` doesn't necessarily make the case against `metadata=...`. I was surprised/confused at first when I went looking for `location` in marshmallow and found no mention of it. At the cost of a little bit of verbosity, it would make it easier to understand how marshmallow is functioning.

Relatedly, the plan in https://github.com/marshmallow-code/webargs/iss

[2019-08-28 07:39] lafrech commented on #1368
I'm not sure I have the whole picture.

In the diff I propose in https://github.com/marshmallow-code/marshmallow/issues/1150#issuecomment-525496932, my idea was that since we iterate on the input to pass it to the decorated processor one item at a time, it made sense, intuitively, to pass many=False on each call.

I tried it and it broke no test but I didn't investigate any further.

[2019-08-28 13:46] sloria commented on #1368
It's debatable whether `many` should equal the "dump-time" value of `many` or always be `False` when `pass_many=False`. I think the current behavior is fine, tbh.

I think the confusion in the OP was that `pass_many=False` would cause `many` to not be passed to the method (which was the 2.x behavior).

[2019-08-28 15:21] lafrech commented on #1368
OK, I don't know and don't mind either way. I have no example of case where the decorated processor actually uses `many`.

Since it is swallowed by `**kwargs`, it shouldn't make any difference.

The issue is people who upgrade without reading the upgrading docs first (like my colleague just did, just like I would have done myself as well) get the error about `many` and get confused.

[2019-08-28 15:24] sloria commented on #1368
Yeah. I think renaming `pass_many` to `pass_collection` might clarify things a bit.

[2019-08-28 18:33] phrfpeixoto commented on #1150
Thanks! Will follow up over there.

[2019-08-28 18:54] phrfpeixoto commented on #1368
Thanks for replying, both of you.

That's what the documentation says. It's at least confusing:

That last sentence suggests that _the boolean value_ is passed when `pass_many` is `True`.
It should say something like "... datum or a collection) along a `True` value on the `many` parameter."

On top of that, the fact the the parameter are called `pass_many` and `many` really does not help. Strongly

[2019-08-28 19:04] sloria commented on #1368
We decided in https://github.com/marshmallow-code/marshmallow/pull/1034#issuecomment-436556833 to move away from conditionally passing arguments based on the decorator arguments and that users should add `**kwargs` to PPDL (pre/post-dump/load) methods for forward-compatibility.

I agree that the docs you quoted are misleading; looks like we forgot to update that part. PRs welcome =)

[2019-08-28 19:05] phrfpeixoto commented on #1368
Also, this current behaviour suggests this should not crash. Didn't try, though.

[code]

UPDATE:
Tried it, and it indeed does not fail. Consistent, but not really beautiful.

[2019-08-28 19:05] sloria opened #1369 "Rename pass_many to pass_collection"
Follow-up to discussion in https://github.com/marshmallow-code/marshmallow/issues/1368 : `pass_many` is a misleading name and should be improved.

[2019-08-28 19:06] phrfpeixoto commented on #1368
Will do that once I get home from work.

[2019-08-28 22:43] phrfpeixoto commented on #1368
Posted PR #1370 for improving the documentation.

[2019-08-29 00:29] sloria commented on #1368
Thanks for the docs PR. I think this can be closed now.

When we add type annotations to the decorators, the signatures will become even more clear.

[2019-08-29 00:29] #1368 closed, assigned to nobody

[2019-08-29 00:40] sloria commented on #940
There's discussion on https://github.com/marshmallow-code/marshmallow/issues/1315#issuecomment-518090992 to allow `data_key` to be a nested path specified as a list of strings which would address the issue here, I think. Please comment there (or even 👍 👎 ) if you have thoughts.

[2019-08-30 06:42] #1366 closed, assigned to nobody

[2019-08-30 09:25] heckad opened #1371 "How to load field value from another field."
I have a sqlalchemy model with filed `is_canceld`. I made shame for this field by `marshmallow-sqlalchemy` and I want the value for this field to be taken from `additional_info['is_canceld]` . How to do it?

[2019-08-30 13:59] mdkess opened #1372 "schema.validate returns errors for the example in the documentation"
In the documentation, there is the following example:

[code]

However, if we add the line `print(schema.validate(album))` we get that the `release_date` is not a valid date: `{'release_date': ['Not a valid date.']}`

What is the expected behavior here?

This seems related to https://github.com/marshmallow-code/marshmallow/issues/656

I'm using Python 3.7 with Marshmallow 3.0.1.

[2019-08-30 14:06] lafrech commented on #1372
Validation is only meant to be applied to serialized data, during a load.

Marshmallow does not validate object data before dump.

You get this error because the `Date` field is expecting a serialized date.

[2019-08-30 14:18] #1372 closed, assigned to nobody

[2019-08-30 14:22] sloria commented on #1371
If I'm understanding the problem correctly, I think you can achieve this with a `pre_load` method

[code]

[2019-08-31 15:04] sloria opened #1373 "Simplify field overrides"
_Originally posted by @deckar01 in https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/240#issuecomment-526729498_

[2019-08-31 15:06] sloria commented on #1373
Seems like something like this could be especially convenient when used with `required` and `allow_none`.

[code]

[2019-09-02 22:40] MikeBadescu commented on #1356
To clarify, do you still plan to keep the `Schema` class meta `unknown`?
[code]

[2019-09-02 22:51] sloria commented on #1356
Yes, the unknown field API will remain the unchanged.

[2019-09-02 23:25] MikeBadescu commented on #1356
Thank you!

[2019-09-03 09:43] zannkukai opened #1374 "Modify fields restrictions after init"
I try to use marshmallow to validate some JSON data and retrieve the best possible object. Let see the below code

[code]

I already tried to use `@pre_load` and `@validates_schema` decorators but it seems not the way to do that. I tried to alter my schema_class just before loading data but same issue. Do you know a good way to solve this problem ?

[2019-09-03 09:57] lafrech commented on #1374
To me, this is typically schema-level validation, so I'd use `@validates_schema`.

You identified the right place (where the comment reads `#Something here...`). You don't tell us why it didn't work so we can't really help but you're on the right track.

[2019-09-03 14:56] deckar01 commented on #1374
Adding a schema validator to each schema should work.

https://marshmallow.readthedocs.io/en/stable/extending.html#schema-level-validation

[code]

It might be more practical to extend the author schemas with specialized fields though.

[code]

[2019-09-05 00:40] jtrakk opened #1377 "Raw field disallows None"
The docs of [field.Raw](https://marshmallow.readthedocs.io/en/stable/api_reference.html#marshmallow.fields.Raw) say

However, by delegating to `fields.Field`, it disallows `None`. I'm not sure if this is a documentation issue or unintended behavior.

[code]

[2019-09-05 00:59] jtrakk opened #1378 "Empty string data_key disallowed"
Having an empty string as `data_key` doesn't seem to work.

[code]
[code]

marshmallow-3.0.2

[2019-09-05 01:09] sloria commented on #1377
All fields disallow `None` by default. To allow it, pass `allow_none=True` to the field. https://marshmallow.readthedocs.io/en/stable/api_reference.html#module-marshmallow.fields

Perhaps the `Raw` documentation is a bit misleading: it applies no _additional_ validation on top of the base validation (required, `None`). I'll update the docs.

[2019-09-05 01:13] #1377 closed, assigned to nobody

[2019-09-05 01:26] sloria commented on #1378
Thanks for reporting. Was able to reproduce this. Will look into it.

[2019-09-05 01:37] sloria commented on #1374
Closing for now. Feel free to comment if there are any follow-up questions.

[2019-09-05 01:37] #1374 closed, assigned to nobody

[2019-09-05 01:41] #1378 closed, assigned to nobody

[2019-09-05 01:43] #1371 closed, assigned to nobody

[2019-09-05 02:19] sloria commented on #1378
Bug fix is released in 3.0.3

[2019-09-06 11:35] kathur2rain opened #1380 "compatible issue when upgrade from 3.0.0rc6 to 3.0.3"
this problem might be the same with #1305, after I upgrade marshmallow frim 3.0.0rc6 to 3.0.3, suddenly all of my post_load / pre_load start to give me error "unexpected keyword argument 'many'" and I have to give them a **kwargs to avoid this error, however all the **kwargs are not used.

is this intended to be so?

I use flask , webargs for validate and serialize
my schema for post is like this:

[2019-09-06 12:15] lafrech commented on #1380
Yes.

https://marshmallow.readthedocs.io/en/stable/changelog.html#rc7-2019-06-15

[2019-09-06 12:15] #1380 closed, assigned to nobody

[2019-09-07 04:28] IceBearZero commented on #238
@sloria digging this up, as Im having a similar issue. I agree that it may not be the responsibility of marshmallow, but I don't quite understand how to filter the nested objects before hand?

For example, if you have `stores` and each has several (lets say hundreds) `items` as a nested relationship. When you call the Serializer on `stores` (even filtering down to a few stores, you stil get all th

[2019-09-07 14:38] IceBearZero commented on #238
I think I get it now, Marshmallow isnt doing the DB queries, those are handled by the ORM, and hence, with some sort of lazy load, the records are there, so when passed into Marshmallow it treats those as the nested.

Ill need to work through how to limit the returned nested relations from SQLAlchemy -- I think that was what you were saying

Thanks

[2019-09-07 17:02] sloria commented on #1205
I'm not sure there's a good way to handle this without introducing a performance regression. I'd rather not add a performance penalty for such a corner case.

For now, you can override `get_attribute` for Schemas that serialize dictionaries.

[code]

[2019-09-07 17:02] #1205 closed, assigned to nobody

[2019-09-07 21:09] sloria commented on #713
I think it would be odd to treat empty strings equivalent to `None`; there are use cases where `None` means "not provided", as distinct from `""`.

I think we should control `None` and empty/blank values separately, as in Django. We could add an `allow_empty` parameter to `Field` and have `empty_values` set on the field class.

[code]

Thoughts?

[2019-09-07 21:23] sloria commented on #713
You can achieve the above today with

[code]

So on one hand, the proposed API is redundant. On the other hand, it's a common enough use case that it may warrant first-class support.

[2019-09-07 23:30] sloria commented on #713
Actually, I think I was misunderstanding the OP. IIUC, the goal is to interpret `""` as missing and deserialize to `None`.

I think a more direct and flexible way to achieve this would be to allow specifying the values that should be interpreted as missing (as suggested by @lafrech in a [previous comment](https://github.com/marshmallow-code/marshmallow/issues/713#issuecomment-378248084)).

[code]

[2019-09-08 00:12] sloria commented on #1146
I wonder if we should instead allow for a callable, [like in SQLAlchemy](https://docs.sqlalchemy.org/en/13/orm/relationship_api.html#sqlalchemy.orm.relationship).

[code]

Thoughts?

[2019-09-08 03:58] schettino72 commented on #713
Indeed this approach would be more flexible. The problem is that it is very verbose. As OP work with XML or working with HTML forms, it is very common for blank string to used as missing value...
In this solution you would need to add `missing="", missing_values={None, ""}` to all numeric and date fields, thats a lot of noise.

I have not even seen another use-case where people want other custom m

[2019-09-08 09:04] Kamforka commented on #1146
@sloria Actually I like this idea, it would open up possibilities for directed schema factories as well, which is always nice.

[2019-09-08 13:57] sloria commented on #713
Yes, it is common to model `""` as missing, but there are also cases where `None` is used for missing (IIUC, this is what the OP wants).

See the [relevant Django docs](https://docs.djangoproject.com/en/2.2/ref/models/fields/#field-options):

The proposed API cleanly supports both cases.

---

We could set defaults at the class level, so you could do

[code]

Edit: Use tuple instead of set for def

[2019-09-08 14:54] sloria commented on #1373
As an intermediate step, we could set more defaults at the class level

[code]

[2019-09-08 16:40] sloria commented on #779
With this change and the `lambda` change proposed [here](https://github.com/marshmallow-code/marshmallow/issues/1146#issuecomment-529157000), we can also probably deprecate the `only`, `exclude`, and `unknown` parameters of `Nested`.

[code]

[2019-09-08 16:43] sloria commented on #1350
cc @jtrakk . This was your suggestion in https://github.com/marshmallow-code/marshmallow/issues/779#issuecomment-522282845 . I'm leaning towards this more and more.

[2019-09-08 21:21] antgel opened #1383 "Data in from a many-to-many association object"
I'm using the example of a party co-ordination system, where many `Parties` can have many `Responders`. I have an association object `PartyResponder` which maps the many-to-many, and adds another few columns such as `is_attending` (maybe the responder will come to the party, maybe they won't).

[code]

The JSON I currently get from my API (via `PartySchema` when I do something like `http GET http:

[2019-09-08 21:22] antgel commented on #1383
Oops, this should have gone to marshmallow-sqlalchemy. Closing and will re-open there.

[2019-09-08 21:22] #1383 closed, assigned to nobody

[2019-09-08 22:40] sloria opened #1384 "Dotted `only` and `exclude` not working for nested schema instances"
#1229 fixed propagation of `only` and `exclude` for nested schema classes but no instances.
Dotted strings passed to `only` and `exclude` are not respected when a schema instance is nested.

[code]

Expected output:

[code]

Actual output:

[code]

[2019-09-08 23:32] sloria commented on #1384
Noticed this while working on #1382 . This needs to be fixed before that gets merged.

[2019-09-09 07:43] vguntuku opened #1386 "Accessing previously deserialized field data from a different field"
class MySchema(NamespacedSchema):
    name = fields.String()
    customData = MyField()
    complextData = ComplextDataField()

For the ComplextDataField to be able to deserialize it depends on the customData, but then customData is not available in the data parameter. Reading the docs, it looks like we can use schema context to pass data between dependent fields, any other easy way?

why isn't th

[2019-09-09 07:43] #1386 closed, assigned to nobody

[2019-09-09 07:49] vamsu opened #1387 "Accessing previously deserialized field data from a different field"
[code]
In the above schema, the ComplextDataField depends on the customData to deserialize, but then customData is not available in the data dict. Reading the docs, it looks like we can use schema context to pass data between dependent fields, any other easy way?

Any reason the previously deserialized fields are not available in the data param ? in def deserialize(self, value, attr=None, data=Non

[2019-09-09 17:39] csingley commented on #713
Thanks for picking this up

Yes, this is just it.  There are plenty of data formats where the keys are fixed, and the values are all strings; in such a scheme, the only way to represent "no data" is an empty string.

Having the "no data" be configurable on the class is a win.  Cheers.

[2019-09-09 21:51] sloria commented on #1096
@PhilMarsh so is your issue solved by updating your custom fields' `_serialize` methods to serialize `None` to `None`?

[2019-09-09 21:58] sloria commented on #1096
On a related note: #1381 implements a `missing_values` parameter that defines missing values for _deserialization_. See [here](https://github.com/marshmallow-code/marshmallow/issues/713#issuecomment-529154890) for what the usage would look like.

It seems like you're looking for an analagous API for serialization, like the `default_values` proposed [here](https://github.com/marshmallow-code/marshm

[2019-09-10 07:23] connebs opened #1388 "Why aren't custom error_messages supported for the `load` and `loads` methods on Schema?"
Title.

Why does [this code](https://marshmallow.readthedocs.io/en/latest/extending.html#custom-error-messages) only support `dump` and `dumps`?

Validation happens on `load` and `loads` too, so presumably it makes sense for me to able to overload those messages with the same class variable too, no?

[2019-09-10 07:30] lafrech commented on #1388
No, it doesn't.

[2019-09-10 10:04] connebs commented on #1388
@lafrech I might be confused, but then what is the [meaning of this](https://marshmallow.readthedocs.io/en/stable/quickstart.html#validation)? Is that not `Schema` validation on `load` and `loads`?

[2019-09-10 10:24] lafrech commented on #1388
I'm the one who was confused. Validation happens on load and not on dump. (Validation on dump is a recurrent question, hence my confusion. Sorry about that.)

I think the doc is wrong. It should read load instead of dump.

Summary:

- Validation and error_messages are only for load.
- We need to fix the docs.

Thanks for pointing this out.

[2019-09-10 10:40] connebs commented on #1388
Gotcha, no worries.

I'm afraid I'm still stuck though. I'm using flask-marshmallow for my Schemas, and the error messages are not changing when I add an `error_messages` class variable. This is on `load`.

For reference, my code is this:

[code]

Originally I was trying to do this in a `BaseSchema` I've created (to overload the `error_messages` in all my Schemas) but that wasn't working in for so

[2019-09-10 20:08] jceresini opened #1389 "The `strict` parameter for fields.Integer is not documented"
The strict parameter for fields.Integer defaults to False, which was a surprise because I thought all fields defaulted to strict=True. That may belong in a separate issue, but either way, the documentation doesn't include any details about  the `strict` parameter:

https://marshmallow.readthedocs.io/en/stable/api_reference.html#marshmallow.fields.Integer

https://marshmallow.readthedocs.io/en/stab

[2019-09-10 20:11] sloria commented on #1389
Good catch. Would you like to send a PR? =)

[2019-09-11 11:44] 245967906 opened #1391 "Add a way to trim whitespace characters"
Like the trim_whitespace parameter in the django rest framework.

[2019-09-11 12:26] sloria commented on #1391
You could use a custom field.

[code]

You could also use field composition if you want to trim other field types.

[code]

That said, I'm going to keep this issue open because this may be a common enough use case to justify adding to marshmallow core. Feedback welcome.

[2019-09-11 12:30] sloria commented on #1391
Should we add a `strip_whitespace` parameter to `Field`? @lafrech @deckar01

[2019-09-11 12:47] #1389 closed, assigned to nobody

[2019-09-11 13:31] 245967906 commented on #1391
@sloria  thanks for your quick reply, the example you gave above can solve my problem, it's great.
but as you said, adding a strip_whitespace parameter might be a better way.

[2019-09-11 16:39] deckar01 commented on #805
For my testing I modified the benchmark to dump single objects, rather than `many`, since this more closely reflects the use case of a server dumping on request

Source: https://github.com/marshmallow-code/marshmallow/compare/dev...f35f908

### Marshmallow (dev)

<img width="1058" alt="Screen Shot 2019-09-11 at 10 35 14 AM" src="https://user-images.githubusercontent.com/3108007/64711852-e4702280-d

[2019-09-11 16:52] taion commented on #805
@deckar01 Hmm, I think in general, most of our time spent in Marshmallow is actually for doing a `many` dump on list endpoints. I guess I'm just a little surprised that the time difference you see is so minimal. The T-M benchmarks show a significantly larger speedup for using T-M.

[2019-09-11 18:11] deckar01 commented on #805
They are using an old fork of v2. We have landed several significant performance improvements in v3. I ran the original benchmark with the `many` dump and the results aren't that much different:

- marshmallow (dev): 1,616.64 usec/dump
- toasted (latest): 700.67 usec/dump
- marshmallow (PoC): 1,037.69 usec/dump

The remaining difference should be analyzed, but bypassing `get_value` still accounted

[2019-09-11 18:19] sloria commented on #367
Discussed offline: it's not clear that the OP was a good idea. This API gets confusing when fields are inherited. `validates('string')` looks magic on the surface, but at least it's clear what its behavior is.

Closing this for now.

[2019-09-11 18:19] #367 closed, assigned to nobody

[2019-09-11 18:26] taion commented on #805
I thought they were working off a v3 beta.

I'm just really surprised at the differences here. If anything I feel like they're worth understanding for their own sake. This would imply that Marshmallow has sped up on serialization by ~5x since T-M was made a thing?

[2019-09-11 18:31] sloria commented on #805
T-M is using a vendorized [fork](https://github.com/lyft/marshmallow/tree/9319f89fb00d83aa60a6f3cb91a49c4fa8572152) of 2.15.1.

v3's removal of all validation on serialization probably made up a significant portion of the difference.

[2019-09-12 01:16] sloria commented on #1160
I was able to reproduce this on both 2.x-line and dev. In marshmallow 3, you should use `List(Nested(...)))`, but this should be fixed anyway.

Will release a fix soon.

[2019-09-12 02:02] #1384 closed, assigned to sloria

[2019-09-12 02:06] sloria commented on #1160
Fixed on v2 and v3

[2019-09-12 02:06] #1160 closed, assigned to sloria

[2019-09-12 04:52] ramshaw888 opened #1393 "Validation before serializtion difficult when using `data_key`"
I'm in the process of upgrading to marshmallow 3 and I'm having some difficulty with this change "Remove Dump Validation" #1304.

`docs/upgrading.rst` recommends doing a `load` before `dump` to ensure it's valid:
[code]

The problem I'm having is that `load` expects a "serialized" object. This works in the given example since the serialized and deserialized objects have symmetrical keys. When usin

[2019-09-12 07:23] lafrech commented on #1393
Validation on dump is something that was never really supported IIUC and we decided to remove it completely. The rationale is that objects are supposed to be valid. It's a design choice.

Indeed the recommendation in the docs is kinda wrong. Your workaround is the first that came to my mind.

[2019-09-12 15:28] k4nar opened #1394 "The "unknown" option is not transmitted to Nested fields"
Consider the following example:

[code]

As the `unknown` option is not specified in the options of `Author`, nor when instantiating the Nested field `author`, I think it would make sense for `author` to use the value passed to the `Book` schema.

Do you think it would make sense?

[2019-09-12 15:39] lafrech commented on #1394
See https://github.com/marshmallow-code/marshmallow/issues/980.

[2019-09-12 15:51] k4nar commented on #1394
Oh thanks I didn't find this in my search, sorry :) .

It answers my question perfectly well, thanks!

[2019-09-12 15:51] #1394 closed, assigned to nobody

[2019-09-12 16:53] sloria commented on #1393
Validating deserialized objects isn't supported out-of-box. Serializing your object before passing it to `schema.validate` or `schema.load` is your best option.

[2019-09-12 16:53] #1393 closed, assigned to nobody

[2019-09-12 18:06] taion commented on #805
well, `ma.utils.get_value` does a lot more than just `getattr`, anyway. dotted getter notation and all that.

if serialization is actually 5x faster than it used to be, then maybe there's not much of a problem left. the logic in `get_value` handles a bunch of edge cases around e.g. dictionaries with properties or other weird combinations of ways to subscript things, so it's not as easy of a drop-i

[2019-09-12 18:43] deckar01 commented on #805
toasted doesn't support dotted attribute syntax. There is a comment about it in the source code, but it doesn't seem to be documented in the readme.

https://github.com/lyft/toasted-marshmallow/blob/00a8e761/toastedmarshmallow/jit.py#L669-L672

The name of a field never changes once the schema is constructed, which is why the optimization works. We should be able to determine the accessor method d

[2019-09-12 19:03] taion commented on #805
The complexity is that the accessor is a function of both the object and the field name.

The same schema with a `name` field currently can handle both an instance of a `Widget` class and read `widget.name` as well as a dictionary with `{"name": "whatever"}`.

So we'd at least need something like what I recall was T-M-style logic of caching or memoizing based on what's passed in.

[2019-09-12 19:26] deckar01 commented on #805
Ya, the init-time cache could only detect if the field name is dotted... We would need a dump-time check for the data type of the input that caches the actual accessor function. Currently both conditions are recomputed on each individual field dump.

[2019-09-12 19:30] lafrech commented on #805
Can't there be mixed object types, like a `Widget` instance with items to get, or a `dict` child class with attributes? Therefore the need for the per-field check?

[2019-09-12 19:36] taion commented on #805
Yup, exactly. You'd need to cache/memoize on the type of the object being serialized to be reasonably safe.

[2019-09-12 20:00] sloria commented on #805
Now that we assume that data to dump is valid, deserialized data, the types should be known upfront, right?

[2019-09-12 20:12] deckar01 commented on #805
toasted checks the data up front and only falls back to the get_value behavior if it can be accessed both ways. The majority of use cases will be dicts or simple class instances, so being able to call `getattr` or `getprop` directly should be a major speedup for the most common use cases.

[2019-09-12 20:36] taion commented on #805
@deckar01 Sure, so I think a starting point would be to just memoize the last accessor based on the `type` of the object being dumped.

[2019-09-12 20:57] sloria commented on #805
I agree with the direction here. Do we agree that the target end state is to cache accessors for all fields ahead of time? Since we assume `dump` input is valid data with known shape/types, the generic `utils.get_value` or memoization-with-fallbacks seems unnecessary.

I imagine the 'accessor factory' could be defined per-class. Something like

[code]

[2019-09-12 21:47] deckar01 commented on #805
Ya. The discussion so far has pointed to once at the beginning of schema as ahead of time.

Requiring the user to declare the schema's data type is probably the fastest way to handle it (and how I modeled it when building [marsha](https://gitlab.com/deckar01/marsha#usage) to explore marshmallow optimizations). I am all for splitting slow code into separate paths that have to be explicitly opted in

[2019-09-12 22:22] sloria commented on #805
Related to my above comment: we could even support setting getters in both directions (dump and load). This would allow you to validate objects (not just `dict`s), which is [clunky](https://github.com/marshmallow-code/marshmallow/issues/1393) right now.

[code]

[2019-09-13 02:51] sloria commented on #805
That said, `load`-ing objects is semantically tricky. For example, what would `unknown` validation look like? Maybe it's not something we should support.

[2019-09-13 03:23] jmc-rival opened #1396 "Can't use a mixin to delcare on_bind_field"
I am trying to use the example given around converting field names to and from camel case in the docs. Since I have many of these cases to do, I was trying to create a mixin for "HasCamelCaseFields" but after expermenting and looking at the code, I realized you can't overload the hooks in a mixin I don't think. Either I have to inherit from some CamelCaseSchema which, in turn inherits from Schema

[2019-09-13 04:23] sloria commented on #1396
Python's method order resolution goes from left-to-right, so you need to put the mixin before `Schema`.

This is working on current `dev`:

[code]

[2019-09-13 04:23] #1396 closed, assigned to nobody

[2019-09-13 06:49] lafrech commented on #805
I think the clunkyness of validating objects does not come from the attr/item getters but from the fact that the keys may have different names (`data_key`), let alone the pre/post-load/dump decorators.

[2019-09-13 13:43] sloria commented on #1388
@acnebs

"Required" validation is field-level, not schema-level, so you need to set the default error messages on `Field`.

[code]

@lafrech The docs appear correct. Am I missing something?

[2019-09-13 13:43] #1388 closed, assigned to nobody

[2019-09-13 13:46] sloria commented on #1387
Would a `pre_load` method fit your use case? https://marshmallow.readthedocs.io/en/stable/extending.html#pre-processing-and-post-processing-methods

pre_load methods receive the full, unserialized data, so you can do any necessary pre-processing there.

[2019-09-13 13:48] lafrech commented on #1388
This part:

https://marshmallow.readthedocs.io/en/latest/extending.html#custom-error-messages

Should read load/loads.

[2019-09-13 14:03] sloria commented on #1388
Ah thanks. Fixed

[2019-09-13 15:27] sloria commented on #1345
@codebind-luna Are you still looking into this? No worries if not--just let us know and someone else can pick it up.

[2019-09-13 15:54] deckar01 commented on #805
@taion A memoization table has a significant amount of overhead. I compared memoizing `get_accessor(obj)` to passing the value into `schema.get_attribute()`:

| `get_attribute` | time (s) | relative |
|---|---|---|
| baseline | 2.75 | -- |
| lru_cache | 1.45 | -47% |
| arg | 0.71 | -74% |

[2019-09-13 16:18] 245967906 commented on #1391
@sloria hi, I understand what you mean. I will compare the implementation of similar libraries and make changes later if I find a better solution.

[2019-09-13 16:20] jmc-rival commented on #1396
Thanks that worked!

[2019-09-13 19:34] taion commented on #805
Can we hard-memoize only the most recent value, and do it per schema?

A little tricky where to store the per-field cached accessors anyway, no? I guess it could be some sort of map on the schema class or something?

[2019-09-14 02:07] sloria commented on #876
I think we're best following Django's lead on this one. There doesn't seem to be enough reason to special case `\u200b`. Data like that can be cleaned in either a custom field or in a `pre_load` field if need be.

Thanks anyway for reporting this.

[2019-09-14 02:07] #876 closed, assigned to nobody

[2019-09-14 13:33] sloria commented on #1391
Copying https://github.com/marshmallow-code/marshmallow/pull/1397#issuecomment-531323116 here for discussion:

[2019-09-14 17:10] sloria commented on #1391
`strip_whitespace` could be applied to any field that can deserialize strings, including `Number` (`"   1   "` -> `1`). So I still think adding it to `Field` rather than `String` makes sense.

[2019-09-14 17:56] sloria commented on #1387
Closing for now. Feel free to comment if you have further questions.

[2019-09-14 18:40] sloria commented on #713
@schettino72 What do you think about the `default_missing_values` solution above?

[2019-09-14 19:42] vamsu commented on #1387
@sloria Unfortunately, pre_load does not work. Because the field I am trying deserialize depends on a different field (post deserialization). Since, pre_load gets invoked before field deserialization it will not work.

Another option is to use post_load and force field deserialization ordering, or pass the context around with ordering.

Any other clean solution? I have similar situation with seria

[2019-09-15 02:35] 245967906 commented on #1391
I don't think this is a convincing reason, because for number type, whether or not we provide the strip_whitespace parameter doesn't make any difference to the result.

[code]

[2019-09-15 02:40] sloria commented on #1391
Sure, Python's `float` and `int` functions implicitly strip whitespace, so perhaps `Number` is a bad example. But it is still relevant for any field that deserializes strings, e.g. `Boolean`.

[2019-09-15 02:48] 245967906 commented on #1391
Bool types do have this problem.
So is the preferred solution now to deal with them in Field rather than consider changing the base class of some types to String?

[2019-09-15 14:29] sloria commented on #1391
I'm not sure. Perhaps we could have a `TrimmableMixin` for fields that deserialize strings. Or we could use the composable `Trim` implementation I posted before.

[2019-09-15 20:00] sloria opened #1400 "Uncaught error when passing non-list validators to Email and URL fields"
`fields.Email` and `fields.URL` error if a non-list is passed to `validate`.

[code]

[code]

[2019-09-15 20:13] sloria commented on #1400
Found this bug while typing `fields.py` and running mypy.

[2019-09-15 20:31] #1400 closed, assigned to sloria

[2019-09-15 20:45] sloria commented on #663
Types are now checked with mypy, and as of 3.1.0 type information is distributed with the package. Closing this for now; we'll continue to expand type coverage with proximate development, when it makes sense. PRs to expand type coverage are welcome.

[2019-09-15 20:45] #663 closed, assigned to nobody

[2019-09-16 12:31] sloria opened #1404 "Error when unpickleable object in nested schema's context"
_Originally posted by @metheoryt in https://github.com/marshmallow-code/marshmallow/pull/1385_

[2019-09-16 12:37] #1404 closed, assigned to nobody

[2019-09-17 09:05] smalekzadeh opened #1408 "ModuleNotFoundError: No module named 'marshmallow.compat'"
We are trying to upgrade from 2.19.2 to 3.1.1 and get the above error . Could you please advice how to get around it.

venv/lib/python3.6/site-packages/flask_apispec/init.py:2: in
from flask_apispec.views import ResourceMeta, MethodResource
venv/lib/python3.6/site-packages/flask_apispec/views.py:6: in
from flask_apispec.annotations import activate
venv/lib/python3.6/site-packages/flask_apispec/ann

[2019-09-17 10:04] lafrech commented on #1408
Duplicate of https://github.com/marshmallow-code/webargs/pull/417.

This is not a marshmallow issue. Please update your webargs version.

[2019-09-17 10:42] lukaszdudek-silvair opened #1409 "marshmallow >= 3.1.0 not working in Python<3.5.3"
Hello!

I'm getting the following error when using `marshmallow` 3.1.0 or 3.1.1 with `pytest`:
[code]
The last working version was 3.0.5.

[2019-09-17 10:51] lafrech commented on #1409
https://stackoverflow.com/a/56010650

Works on PY3.5.3 but not 3.5.2 (your version).

Since we support 3.5.x, we'd need to fix this typing related issue.

Thanks for reporting.

[2019-09-17 10:52] smalekzadeh commented on #1408
Thanks for your reply lafrech. I have created a clean virtualenv and  pip installed flask-apispec==0.8.2 which resulted in the following libs to be installed:
apispec==2.0.2
Click==7.0
Flask==1.1.1
flask-apispec==0.8.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
marshmallow==3.1.1
pkg-resources==0.0.0
six==1.12.0
webargs==5.5.1
Werkzeug==0.15.6

marshmallow and webargs are the latest vers

[2019-09-17 10:57] lafrech commented on #1408
Well, indeed, marshmallow.compat is removed in MA3 since only Python3 is supported, so if you script really reads

[code]

it can't run.

Don't import compat in your script.

[2019-09-17 11:03] lukaszdudek-silvair commented on #1409
Thanks for a quick reply! Unfortunately, I'm unable to bump my Python version due to target platform constraints.

[2019-09-17 11:25] smalekzadeh commented on #1408
Sorry lafrech , I think I am missing something here :
"MA3 since Python3 is unsupported"
Does it mean marshmellow 3 doesn't support Python3?
Thanks

[2019-09-17 11:57] lafrech commented on #1408
Sorry, I meant Python 2 unsupported / only Python 3 supported. I fixed my comment.

Anyway, there is no need for this compat layer anymore.

I see no reason to import this in user code. The only reason you'd do that would be to support Python 2 and 3 and use marshmallow's compat layer for convenience, but since marshmallow itself dropped Python 2, you can't do that anymore anyway.

In other words,

[2019-09-17 13:47] sloria commented on #1409
I was able to reproduce this in the `python:3.5.2` Docker image. I've verified https://github.com/marshmallow-code/marshmallow/pull/1410 fixes this and I'll release it shortly.

That said, I can't promise we'll continue to support old Python point versions. It will be very costly from a maintenance perspective. These old versions are unsupported and a number of bug fixes and security fixes have be

[2019-09-17 13:55] #1409 closed, assigned to nobody

[2019-09-17 13:57] sloria commented on #1409
3.2.0 includes the fix.

[2019-09-17 14:12] smalekzadeh commented on #1408
Thanks for clarification lafrech.  We don't do the import in our code and it is a third-party lib (webargs).

[2019-09-17 14:19] lafrech commented on #1408
I saw webargs in the OP but it shouldn't happen in your new virtualenv with webargs 5.5.1.

Can you double-check you're using webargs 5.5.1 and post the traceback again?

[2019-09-17 14:19] lukaszdudek-silvair commented on #1409
Thanks for a quick reaction!

[2019-09-17 14:31] smalekzadeh commented on #1408
This is (most of) the pip freeze of the app:
fakeredis==1.0.3
Flask==1.0.2
Flask-And-Redis==1.0.0
flask-apispec==0.8.2
Flask-Cors==3.0.7
Flask-Env==2.0.0
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-PyMongo==2.2.0
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
humanfriendly==4.18
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
loremipsum==1.0.5
Mako==1.0.8
Markup

[2019-09-17 14:39] lafrech commented on #1408
[code]

Clearly, the error is in apispec.

Same debug method: update apispec, retry, pip freeze if it fails.

[2019-09-17 14:43] deckar01 commented on #1408
I am unable to repro this in a fresh venv.

[2019-09-17 14:47] lafrech commented on #1408
No, it shouldn't happen in a fresh virtualenv, unless the app or one of its dependencies pins an old apispec version.

[2019-09-17 14:50] smalekzadeh commented on #1408
The error massage was in warargs. I upgraded to latest warlogs (5.5.1) and the error moved to apispec. I upgraded apispec  as you suggested and now no errors. Many thanks lafrech.

[2019-09-17 14:52] #1408 closed, assigned to nobody

[2019-09-17 18:42] OJFord opened #1411 "Generate a TypedDict or dataclass from Schema"
It would be nice to be able to use `Schema`ta with mypy or similar, e.g.
[code]

I started an inline implementation with `Schema._declared_fields`, but since there's nothing like a `Field.deser_type` it was going to be quite a hacky map by cases - `isinstance(cls, fields.String)` etc. - and then I realised I had nested fields to contend with and jumped out of the rabbit hole before I got too deep.

[2019-09-17 19:08] vguntuku commented on #1387
@sloria I meant "My scenario does feel like a common use case."

[2019-09-17 19:15] sloria commented on #1411
I've been considering something like this. It's a neat idea.

A few half-baked thoughts:

- You would need to generate types from schema instances rather than classes. Conceptually, a schema _instance_ represents a set of known inputs/outputs, whereas a schema class is more like a blueprint or factory.
- There need to be different `TypedDict`s generated for load vs dump. So you could have an API l

[2019-09-17 19:21] deckar01 commented on #1387
I am imagining a use case where a date is passed in one field and the format that was used is passed in another. In that case I would probably make the date field a string in the schema, then run a second deserialization pass on it in `post_load` to actually build the rich type.

[2019-09-17 19:37] vguntuku commented on #1387
I meant "My scenario does feel like a common use case."

[2019-09-17 19:40] vamsu commented on #1387
I meant "My scenario **does** feel like a common use case."

[2019-09-17 19:48] deckar01 commented on #1387
@vamsu Can you provide an example of what kinds of data these fields are loading and how they are transforming the data? If this is a common use case, more details might help us point to some existing solutions.

[2019-09-18 17:12] jordanhamill commented on #1190
@sloria I just hit this issue myself. The following `fields.Dict` with a nested schema should cause it in version `3.0.5`.

[code]

I took a quick look to see how difficult this would be to fix, but it feels a bit hacky. I have a branch off dev [here](https://github.com/jordanhamill/marshmallow/tree/fix-dict-nested-validation-post-load).

[code]

[2019-09-18 17:19] mivade commented on #1411
+1 for `marshmallow_dataclass`. It would be cool to eventually see this kind of functionality included in Marshmallow by default now that it's Python 3-only!

[2019-09-18 17:40] sloria commented on #1411
Well, we'll be supporting Python 3.5 and 3.6 for a while, so probably won't be added to marshmallow core any time soon. That said, it seems to be actively maintained, and I might even help out with it.

[2019-09-18 18:34] sloria commented on #1190
Thanks @jordanhamill for posting a repro case and looking into this. I don't have time to look into this right now, but would review a PR if you're working on it.

[2019-09-18 19:14] adkl commented on #1190
Yup, I had nested schemas in my case, just didn't have time to write a test and later forgot about this. Thanks @jordanhamill

[2019-09-18 19:15] deckar01 commented on #1190
I was able to repro on 3.2.0. Here is a minimal repro case:

[code]

This is an artifact of validation calling `_do_load` under the hood. Propagating `postprocess` through the field load calls would work, but this might be a good opportunity to consider separating validation from loading. There has been recurring interest in validating objects that have already been deserialized.

[2019-09-19 00:17] vgavro commented on #1350
+1 on this, IMHO biggest problem of `self.metadata=kwargs` is not that it's unexpected, but that it's not generating errors on wrong keyword arguments, which is pretty annoying due frequent api changes :-) so - you can find mistakes only later, all your typos in metadata field...

[2019-09-19 03:45] jibinmathew69 opened #1412 "serialize values of aggregate results from sqlalchemy using marshmallow"
I am performing a `count()` and `group_by()` operation on a table as follows:

    db.session.query(func.count(Tag.name), Tag.name).group_by(Tag.name).limit(limit)

and serialize it using marshmallow:

    class TagSchema(ma.ModelSchema):
        class Meta:
            model = Tag
        name = fields.String(validate=validate.Length(min=1))

which gives me result as :

    [{"name" : "asdf"},{"n

[2019-09-19 03:46] jibinmathew69 opened #1413 "Convert single key object into array using marshmallow schema"
I have a table which has only 1 column,and the marshmallow schema looks like this:

    class TagSchema(ma.ModelSchema):

        class Meta:
            from .models import Tag
            model = Tag
        name = fields.String(validate=validate.Length(min=1))

right now on dump it gives result as:

    [{"name":"asdf"},{"name":"qwer"}]
I want it as `{"name" : ["asdf","qwer"]}`

[2019-09-19 07:20] lafrech commented on #1350
One one hand, I think it is better to specify `metadata=`. More explicit.

OTOH, this will make my models a bit more verbose:

[code]

For such a use case, the shortcut of using extra kwargs as metadata is nice.

If we went with solution 2, users would be able to extend the whitelist with their own stuff. Apispec could extend it with the keyword arguments it expects (valid OpenAPI attributes) and

[2019-09-19 09:01] mamalos opened #1414 "@validates_schema doesn't return '_schema' key when ValidationError receives a dict parameter in versions > 3.x. Feature or bug?"
Hi there,

Sorry for the long subject, I couldn't think of something shorter and descriptive enough...:)

Since **marshmallow** v.3.x, **marshmallow** integration with **cornice** has been a bit cumbersome, so I'm trying to resolve the issues that have been risen.

One of these issues is that some code fails in cornice when a **ValidationError** is raised from within a `@validates_schema` decorato

[2019-09-19 09:18] jordanhamill commented on #1190
@deckar01 would a less invasive bug fix (like the above patch) with a validation refactor after suit? I don't have the background knowledge to attempt that refactor.

[2019-09-19 14:39] sloria commented on #1350
Agreed. Consider this accepted.

My plan is to deprecate `metadata=kwargs` in a later 3.x release. Let's let the dust settle on v3 before bombarding users with DeprecationWarnings 😅

[2019-09-19 14:43] bitdancer opened #1415 "Feature request: Validate should accept deserialized values as valid for all fields"
One of our big motivations for using Marshmallow is to validate that the data created by our programs actually matches the schema of the data we want to transmit on the wire.  There appears to be no way to do this with Marshmallow 3, since validation was removed from 'dump'.  (The the other motivation is to validate received data, of course, but that is handled just fine.)

This has been discussed

[2019-09-19 15:05] sloria commented on #1415
Thanks for the detailed report. Seems like there's two main asks here:

1. Fields should accept data that is in the deserialized type, e.g. `datetime -load-> datetime`
2. `load` and `validate` should be able to accept objects (not just dicts)

1 is reasonable and is relatively straightforward to implement.

2 is trickier due to `load` semantics. In particular, what would `unknown` validation look

[2019-09-19 15:17] bitdancer commented on #1415
(1) is all *we* need.  We build dicts of data (json, essentially) and want to pass them to Schema.validate.  I don't actually know what it would mean for load and validate to accept objects?

[2019-09-19 15:30] sloria commented on #1415
Oh ok. Seems reasonable.

For now, can you workaround this with custom fields?

h/t to @atmo for this in marshmallow-jam

[code]

I mean that `load` and `validate` would be able to take complex objects, e.g. ORM object instances, as input., rather than only accepting dictionaries.

[2019-09-19 15:47] lafrech commented on #1415
umongo does that for some fields when needed (typically datetime) but not in this nice generic fashion.

https://github.com/Scille/umongo/blob/master/umongo/fields.py#L180

I guess it has to be different with `Nested` since the type depends on the nested object. But it should be achievable since the object type is known.

[2019-09-19 15:56] sloria commented on #1415
@lafrech  Wdyt about changing this in marshmallow?

[2019-09-19 15:58] lafrech commented on #1415
I haven't been giving it much thought but I don't see any objection right away. Would that be optional ? Opt-in ? Opt-out ?

I don't see any downside. I mean from a json API perspective, it wouldn't make the API more permissive, as inputs won't come as objects anyway.

(umongo hasen't been ported to MA3, yet...)

[2019-09-19 16:12] sloria commented on #1415
I don't think we should add a flag for it--unnecessary API surface.

I also don't see much downside.

[2019-09-19 16:26] deckar01 commented on #1415
Validate currently occurs before any `@post_load` hooks, which is why it only has to deal with dicts. There are lots of ways you could transform the keys/values in `@post_load` that would violate the expectations of `validate()`, but I think since this use case doesn't need to load, their schema probably doesn't have any load hooks either.

What about exposing a `Schema._validate(obj)` method and

[2019-09-19 16:51] sloria commented on #1415
@deckar01  I'm good with that proposal.

What do you think of the proposal above to modify fields to accept data in their deserialized type?

[2019-09-19 18:42] deckar01 commented on #1415
Loading rich python objects seems like a significant departure from marshmallow's existing functionality. I think requiring custom fields to pass through rich values is fine.

I'm not convinced our current workaround of "dump so you can load to get validation" won't work for this use case though. @bitdancer What do you mean by "you can't dump it first"? You should always be able to dump first, but

[2019-09-19 18:56] sloria commented on #1415
Perhaps this is only relevant for the time-related fields like DateTime. I imagine are  cases where e.g. ISO8601-formatted strings get decoded to `datetime`s before reaching marshmallow, like in @lafrech's umongo case.

[2019-09-19 19:05] lafrech commented on #1415
In umongo, marshmallow is used in the model to

- serialize/deserialized to/from MongoDB
- validate data passed to the object (overloading setattr and all)

The second case is the one where the feature is needed and all fields are concerned, not specifically DateTime. It is not needed for float, int, etc, because loading is trivial, but although this is true for most of the fields, I'd consider th

[2019-09-19 19:20] deckar01 commented on #1415
So, umongo is doing a second deserialization pass after mongo finishes parsing it from BSON. It probably makes sense for that use case to override the field types that come in rich and treat the data as if it has not been loaded yet. That seems quite a bit different than the use case in the OP where the rich object is being instantiated for the first time and wants to use validation to check for i

[2019-09-19 19:24] sloria commented on #1415
I may be misunderstanding the OP. I thought they were only dealing with `dict`s, not instantiated objects.

@bitdancer Can you clarify your use case?

[2019-09-19 19:33] lafrech commented on #1415
Hmm, not exactly.

A umongo Schema can either load from BSON, or from "object world".

Loading from BSON takes place when reading in DB. Loading from object world takes place at object instantiation (schema load) or on setattr (field load).

Like marshmallow-mongoengine, umongo can export plain marshmallow schemas to use as API interface. When processing a request, the data is first validated in t

[2019-09-19 19:49] deckar01 commented on #1415
Ok, I think I was missing the point of that umongo tangent. umongo uses the custom fields pattern and it works for them even for use cases very similar to the OP, right?

The only down side I see to baking this into the core fields is that it would add type checking overhead that rarely is needed.

[2019-09-19 20:07] sloria commented on #1415
Yeah, but this seems a common enough use case to justify it. I'd be more worried if we were adding type checks to the serialization path. In typical deserialization use cases (i.e. validating JSON HTTP payloads), this level of overhead is less critical. wdyt?

[2019-09-20 12:40] bitdancer commented on #1415
@deckar01: the problem isn't that the programmer might have made an error in constructing an object.  We're building an event driven system and using Marhsmallow for event construction and validation.  Essentially, the Marshmallow/json *are* our objects at the event layer.  We're not doing any sort of json-to-object conversion in many cases, just using the json directly.  So consider the case wher

[2019-09-20 19:31] MarredCheese commented on #713
@sloria The problem I see with that solution (if I'm understanding it correctly) is that it's incompatible with `required=True`.  What if I want the following behavior?

[code]

The use case is differentiating between intentionally setting a field's value to null versus say accidentally botching a PUT request by leaving out a required field.

[2019-09-21 04:00] sloria commented on #1414
This is the expected and desired behavior. `_schema` is reserved for schema-level validation errors, not field-level errors. See https://github.com/marshmallow-code/marshmallow/pull/1026 for more context on this change.

[2019-09-21 04:05] sloria commented on #1413
You can use the [Pluck](https://marshmallow.readthedocs.io/en/stable/api_reference.html#marshmallow.fields.Pluck) field for this.

Something like

[code]

[2019-09-21 04:08] sloria commented on #1412
You'll need to add a field for the count

[code]

[2019-09-21 04:10] sloria commented on #1176
Closing for now; please comment if this comes up again

[2019-09-21 04:10] #1176 closed, assigned to nobody

[2019-09-21 04:11] sloria commented on #1192
Closing this as a dupe of #1190. Let's continue discussion there

[2019-09-21 04:16] sloria commented on #1109
Closing for now, since we've decided to follow Django's lead on this. I recommend using a custom field to add timezone support if you need it.

[2019-09-21 04:16] #1109 closed, assigned to nobody

[2019-09-21 06:32] jibinmathew69 commented on #1412
`name = fields.Pluck(TagSchema, "name", many=True)`

Throws error, says `{keyError}'name'`

[2019-09-21 06:46] jibinmathew69 commented on #1413
`name = fields.Pluck(TagSchema, "name", many=True)`

Throws error, says `{keyError}'name'`

is this the right way to invoke the dump:

[code]

[2019-09-21 13:22] sloria commented on #1413
The input data need to match the shape of the schema, so you'll need to wrap your query set like so:

[code]

Alternatively, you could use `pre_load` to do this in the schema

[code]

[2019-09-21 13:23] sloria commented on #1412
See https://github.com/marshmallow-code/marshmallow/issues/1413#issuecomment-533797716

[2019-09-21 13:23] #1412 closed, assigned to nobody

[2019-09-21 14:58] sloria commented on #713
It's seems reasonable and common to represent "no data" in different ways (`""`, `None`, `[]`, absence), but it seems less common (and perhaps unidiomatic) to have multiple ways to represent `None`. `None` and `''` are not equivalent. If you really need `''` to deserialize to `None`, perhaps you should use a custom field.

[2019-09-21 19:48] MarredCheese commented on #713
@sloria  At the database level, it is common to have string fields where you allow either NULLs or zero-length strings, but not both (to have a single, consistent way of representing "no data").  With that said, I would ask, if someone is going to bother using Marshmallow to convert some kind of input to a database-ready format, why wouldn't they consider having it automatically convert ZLS to NUL

[2019-09-22 21:42] bitdancer opened #1417 "Freature request: allow handle_error to suppress an error."
In `do_load` you have the following code block:

[code]

So the exception is raised unconditionally.  This means that there is no way for a custom schema to correct or suppress an error raised by a sub-schema.

Our use case is wanting to have a schema in which some fields are validated, but the remainder are passed "as is" (they are massaged and validated later on in our data pipeline).  In Marshm

[2019-09-22 23:50] bitdancer commented on #1417
After thinking about this some more I realize that the actual use case is that we want to *log* the violations in the other fields, but pass them through.  That's the thing we can't do currently with Marshmallow 3, because we can't suppress the errors after we log them.  It is quite possible we could do without this logging, though, so I won't be devastated if you reject this feature request :)

[2019-09-23 00:12] bitdancer commented on #1417
Further addendum.  We do raise on certain "dirty" field errors, such as a missing required value.  I can create a new schema that just has the fields that need to be so checked, with just those minimum checks.  The disadvantage of this is that it leads to redundant field definitions: one with partial validation and one with full validation.  I can live with that, but it would be nice not to have t

[2019-09-23 01:21] bitdancer commented on #1417
Ah, nevermind.  What I requested wouldn't do what we wanted because _do_load is called from validate as well.

What I ended up with was adding a 'load' method to our schema that calls super inside a try/except and does what we want.  Sorry for wasting your time :(

[2019-09-23 01:21] #1417 closed, assigned to nobody

[2019-09-23 13:00] deckar01 commented on #1415
I would lean towards providing the mixin rather than modifying core fields. This is a functionality that I would not expect to be enabled by default and might surprise me if I accidentally passed in an already deserialized object.

[2019-09-23 18:00] bitdancer commented on #1415
The problem with a mixin is that DateTime, etc, are core types, meaning uses of the library would need to subclass these into custom types and then make sure they used those and not the core types.  Possible, yes, but prone to confusion, especially when working on a complex system involving many programmers.  It also becomes an issue if you start out with multiple pieces of the system using the st

[2019-09-25 19:02] sloria commented on #1414
Closing for now. Feel free follow up with further questions.

[2019-09-25 19:02] #1414 closed, assigned to nobody

[2019-09-25 19:02] sloria commented on #1413
Closing for now. Feel free to comment with follow-up questions.

[2019-09-25 19:02] #1413 closed, assigned to nobody

[2019-09-26 08:19] mamalos commented on #1414
Thanks a lot, will follow up if needed!

[2019-09-29 11:28] jimmy-lt opened #1419 "@field decorator to allow methods to return a Field object"
This is different (in my opinion) from issue #738 or [`fields.Method`](https://marshmallow.readthedocs.io/en/stable/api_reference.html#marshmallow.fields.Method).

This request is to define a decorator (maybe named `@field`) to decorate a method that returns a field without taking care of serialization or deserialization. This would be the same as the [`@declared_attr`](https://docs.sqlalchemy.org

[2019-10-02 15:46] WhiteSummeRK opened #1420 "'_schema': ['Invalid input type.'] is overwriting personalized errors"
my test:

[code]

my serializer:

[code]

By sending the json data as the test sends, the serializer should use the record_type validate field to display a personalized error message, but the result is always the same with `{'_schema': ['Invalid input type.']}`. i cant understand whats happening. is this a bug? a change from 3.0 that i couldnt figure out?

by the way, this is how i temporarily set

[2019-10-02 16:01] WhiteSummeRK commented on #1420
by the way, this is how i temporarily set my route to be after the 3.0

[code]

[2019-10-02 16:02] deckar01 commented on #1420
This error occurs when the data has the wrong structure. It does not appear to be related to the `record_type` field. You should only see this error if you set `many=True` and the data isn't an iterable (list), or if `many=False` (default) and the data is not a mapping (dict). The changelog seems to indicate that we were not properly checking the type until recently. See #930.

Can you log the dat

[2019-10-02 16:06] WhiteSummeRK commented on #1420
this is the data passed through pcr.load in this test case, but all tests are kinda similar:

`{'call_identifier': 30, 'dest_phone': '12345678911', 'origin_phone': '1234567891', 'record_timestamp': '2019-10-02T13:04:40', 'record_type': 2}`

also, i have a pre_load function in the serialize section, goes like this:

[code]

[2019-10-02 16:23] deckar01 commented on #1420
That `@pre_load` might be the issue.

https://github.com/marshmallow-code/marshmallow/blob/dev/CHANGELOG.rst#300b12-2018-07-04

You may want to change this to a schema level validator since it isn't mutating the data in any way. Waiting until after deserialization to validate should also keep this code from erroring in strange ways when the data is malformed.

https://marshmallow.readthedocs.io/en

[2019-10-02 16:28] WhiteSummeRK commented on #1420
by simply adding the return data statement to the function, the problem was solved.
thank you so much for your help, i really appreciate the effort you guys have to help the community.

this issue can be closed, thanks.

[2019-10-02 18:06] #1420 closed, assigned to nobody

[2019-10-08 20:21] song-william commented on #1038
Hey @sloria , I actually have nested fields that use the same attribute names, and they are not  `dump_only=True` or `load_only=True`. My current work around is just to use `data_key` for loading and `post_dump` to manually change the field to the conflicting attribute name.

[2019-10-09 18:15] song-william commented on #1038
@sloria, I have a use case where nested schemas share an attribute field and the field is not `dump_only` or `load_only`. To work around this, I am just giving slightly different attribute names, but this is not ideal.  Perhaps it is worth reconsidering multiple fields on the same attribute?

[2019-10-10 14:15] sansculotte opened #1422 "fields.Url ValidationError parsing internationalized domain name"
## Description

The perfectly valid urls in the test case below are resolved correctly by most  contemporary browsers (and – curiously – wget, but not curl), but do not pass marshmallows Url field validation. Which i think they should, because they do show up in real world data.

I'm not sure how to best approach the problem.

## Test Case

[code]

[2019-10-10 14:53] deckar01 commented on #1422
We may want to consider using `urllib`.

https://docs.python.org/3/library/urllib.parse.html#module-urllib.parse

[2019-10-10 16:35] deckar01 opened #1423 "URL TLD IP Address Allowed"
`require_tld` does not reject IP addresses in URL fields. The docs say it should "reject non-FQDN hostnames".

https://marshmallow.readthedocs.io/en/stable/api_reference.html?highlight=url#marshmallow.fields.Url

[code]

[2019-10-11 14:39] markthelaw commented on #1417
can you show a example on how you did override the ```load``` method? I am trying to perform the same.

[2019-10-11 15:31] deckar01 commented on #1417
The validation error that is raised has a `valid_data` property you can use to recover the valid data.

https://marshmallow.readthedocs.io/en/stable/quickstart.html#validation

I think this is what @bitdancer ended up doing:

[code]

[2019-10-11 16:49] markthelaw commented on #1417
@deckar01 thank you for the sample!

[2019-10-12 02:22] altendky opened #1424 "List(Pluck()) raises while Pluck(many=True) works"
For completeness, below is my example where I noticed this but a PR with at least a test added is on it's way and I'll see if I can figure out how to fix it.  This was broken by https://github.com/marshmallow-code/marshmallow/commit/a6fd2b6f759c1b99275f949b7663295f85cc7f27.

https://repl.it/@altendky/UnluckyInfiniteUnits-5
[code]
[code]
`requirements.txt`
[code]

[2019-10-14 00:18] bitdancer commented on #1417
Yes, that's exactly right, although we have certain errors that we check for and still raise.  Which gives us a dependency on the text of the error messages that I'd like to eliminate at some point, but it is good enough for now :)

[2019-10-14 19:28] deckar01 commented on #1424
If `Pluck` has this problem, then so will any user subclasses of `Nested` that need to reach into the data `super` returns. I don't really like the idea of this implementation detail affecting the API required to subclass `Nested`. On the other hand, you already had to probe `self.many` in `_serialize()`/`_deserialize()` before this change and that isn't really documented anywhere.

[2019-10-14 20:25] altendky commented on #1424
Is your concern related to my patch that adds a check against a passed parameter?  Or to the existing code?  I think the latter but wanted to make sure I am understanding.

[2019-10-14 20:59] deckar01 commented on #1424
Existing code. I didn't want to start making more work for anyone until I got some feedback about the effect my changes had on the API for subclassing `Nested`.

I suspect it's acceptable in which case your PR has the right idea, but we might want to consider just reverting the optimization. It was kind of the shotgun optimization approach. We might be better off tackling the overhead of `Schema._

[2019-10-15 14:22] asmodehn opened #1426 "decimal.InvalidOperation"
I triggered the following error, by attempting to convert "ABCD" into a decimal
[code]
I would expect this kind of error to be grabbed by marshmallow and wrapped into a "ValidationError". Is that correct and is this a bug ? Or am I wrong to expect such a behaviour here ?

Note : marshmallow "version": "==3.2.1"

[2019-10-15 14:25] lafrech commented on #1426
This error is caught when loading, but not when dumping.

The general stance in marshmallow is to not caught dump errors. The data in the model is supposed to be correct.

[2019-10-15 14:30] asmodehn commented on #1426
Oh interesting, thanks for the info.
I'll look for a way to cleanup my model before dumping then... my data doesn't come via a load() at the moment.

[2019-10-15 14:30] #1426 closed, assigned to nobody

[2019-10-18 06:54] lmignon opened #1428 "unknown parameter passed to load method is not popagated to nested schema field."
## Current behavior
When we deserialize a data structure containing a nested data structure by using the `load` method, the `unknown` parameter is without effect on the nested data structure and a error is raised if an unknown field is present into the nested data structure

## Expected behavior:
 `unknown` parameter  into load method is propagated to the the load of all nested data structure.

##

[2019-10-18 07:09] lafrech commented on #1428
Discussed in #980.

We decided that `Meta` option should not propagate, but someone then argued that `load` argument could propagate.

[2019-10-18 07:48] lmignon commented on #1428
@lafrech Thank you for the link. In this case only the `load` argument is propagated. I fully agree that the `Meta` option should not be propagated since it 's possible to specify the `unknown` parameter at the NestedField declaration level. But IMO, since the `unknown` parameter of the load method can be used to force a specific behavior limited to the processing of the method, it seems logic tha

[2019-10-18 11:58] alCheban opened #1430 "Extract value from field Nested"
I have next structure object

[code]
now run

[code]
and i get

[code]

But i want next structure

[code]
Thanks
I use 2 version

[2019-10-19 18:49] 4lissonsilveira commented on #1430
@alCheban you can try to use the @post_dump decorator to create the data structure you want, like this:

[code]

[2019-10-21 08:42] #1430 closed, assigned to nobody

[2019-10-25 11:52] sakshiaroras commented on #1312
AttributeError: type object 'Schema' has no attribute 'from_dict'

i am importing Schema from marshmallow but facing issue while importing from_dict

[2019-10-25 13:38] sloria commented on #1312
Are you using marshmallow>=3.0.0?

[2019-10-25 14:33] sakshiaroras commented on #1312
No i am not using marshmallow 3
because it is not supported by python 2.6 . i have to use this only

[2019-10-25 14:39] sloria commented on #1312
.from_dict is only available on marshmallow 3. You can adapt the implementation in https://github.com/marshmallow-code/marshmallow/pull/1322 to your schema if you're stuck with marshmallow 2.

[2019-10-25 14:44] sakshiaroras commented on #1312
i have one field email.headers = json.dumps(self.email.unused_headers)
this i wan to serialise so that out put i get in dict()
defining class like
class HeaderSchema(Schema):
	Received = fields.Str(attribute="Recieved")
	X_Priority = fields.Str(attribute="X-Priority")

as nested :
headers = fields.Nested(HeaderSchema)
but its not refecting in out put

[2019-10-25 14:45] sakshiaroras commented on #1312
is there any way to handle elements like
mail.headers = json.dumps(self.email.unused_headers)

[2019-10-25 14:48] sloria commented on #1312
It's a bit difficult to diagnose your issue without more detail. Can you provide a minimal script to reproduce the issue?

[2019-10-25 14:53] sakshiaroras commented on #1312
ok
class Email:
       email.headers = json.dumps(self.email.unused_headers)
schema:
class HeaderSchema(Schema):
         Received = fields.Str(attribute="Recieved")
         X_Priority = fields.Str(attribute="X-Priority")

class ESchema:
         headers = fields.Nested(HeaderSchema)

nested_json,errors = EmailSchema().dump(self.email,many='true')

[2019-10-25 15:13] sloria commented on #1312
That's still not a runnable script. Can you please post a minimal script that can be run on its own (i.e. `python repro.py`)?

[2019-10-25 15:15] deckar01 commented on #1312
@sakshiaroras It looks like you are new to GitHub. You can use 3 back ticks \`\`\` before and after your code to preserve the white space. You can learn more about this by reading GitHub's [Mastering Markdown](https://guides.github.com/features/mastering-markdown/) guide.

You may also want to learn more about minimal repro cases to help get your problem solved more efficiently. I recommend StackO

[2019-10-28 10:40] luli817 opened #1434 "Can marshmallow provide a model class serializer like the django rest framework?"
[code]

[2019-10-28 10:41] luli817 commented on #1434
`class BookInfoSerializer(serializers.ModelSerializer):
    """图书数据序列化器"""
    class Meta:
        model = BookInfo
        fields = ('id', 'btitle', 'bpub_date')`

[2019-10-28 10:41] lafrech commented on #1434
Please post in english.

[2019-10-28 13:46] sloria commented on #1434
marshmallow is agnostic to ORMs by design. Integrations are written as separate packages. See https://github.com/marshmallow-code/marshmallow/wiki/Ecosystem#orm-integration for a listing of these.

[2019-10-28 13:46] #1434 closed, assigned to nobody

[2019-10-28 14:39] deckar01 commented on #1434
If you have a custom model class, the docs suggest using the `@post_load` decorator  to make `load()` output class instances.

https://marshmallow.readthedocs.io/en/stable/quickstart.html#deserializing-to-objects

The proposed syntax is already used by some marshmallow extensions to generate the fields and load to model instances.

---

Side note: I kind of like the idea of assigning a model to a