[2016-07-14 12:45] alexpantyukhin commented on #496
I think you mean this https://github.com/marshmallow-code/marshmallow/issues/483

[2016-07-14 12:46] traut commented on #494
imagine I have schema

[code]

`metadata` field here can have any keys/values inside.
Lets imagine that I need to write car records into a file but `car.metadata["owner_name"]` should never be serialized. How do I do that?
- `load_only` field for `fields.Dict` is boolean, so that will not help
- I can not define a schema for `metadata` because it can have any fields

[2016-07-14 12:54] deckar01 commented on #496
https://github.com/marshmallow-code/marshmallow/issues/483#issuecomment-230937317

[2016-07-14 13:27] deckar01 commented on #493
It would be nice to maintain compatibility with built-in python modules, especially when they are directly related to serialization.

[2016-07-14 13:50] deckar01 commented on #493
This is a python 3 specific problem that has an open bug report.

https://bugs.python.org/issue25457

A decision was made in python 3 to stop supporting dicts with incomparable types. They aren't explicitly disallowed, but they aren't supported.

Since mixing list indexes with dictionary keys is a weird thing to do in the first place, I propose wrapping the list indexes in a dict called `_items`.

[2016-07-14 13:58] deckar01 commented on #495
Duplicate of #319.

[2016-07-14 15:04] maximkulkin commented on #493
I would opt for changing indexes to strings and not go after various creative ways to skrew everything up. Actually Im not sure what was the rationale for changing reported indexes to integers (per @sloria)

[2016-07-14 16:46] kevgliss commented on #289
Thanks @deckar01, I didn't see that fields could be specified on schema level validation.

@maximkulkin I would generally agree, although I am experimenting with abusing marshmallow by using it for validation outside of the normal serialization process.

https://github.com/kevgliss/aws-flare

[2016-07-14 18:31] maximkulkin commented on #289
@kevgliss Yes, this kind of checks is easier to implement outside of deserialization logic.

[2016-07-14 23:05] deckar01 commented on #289
I didn't fully digest this requirement the first time around.

Currently you would have to:

[code]

but it would be a lot more convenient if you had access to the context in a field validator:

[code]

So `Field._validate()` would need to be able to efficiently identify when a validator has been wrapped in `@pass_schema_context` decorator and provide the schema context as an additional argument.

[2016-07-15 11:41] mafrosis opened #497 "Different date deserialisation behaviour when dateutil present"
We ran into an issue with date deserialisation - which is different depending on the presence of `python-dateutil`.

Our API does not accept UK/US style date formats (eg. `13/12/2016` or `12/13/2016`). The `fields.Date`  [type](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L934]) says it only supports ISO8601 format, yet when `python-dateutil` is present it actuall

[2016-07-15 23:10] aclowes commented on #395
I don't understand the original reasons for writing it this way, except that attribute-based field types are omitted if the attribute is missing. Options might be:
- add validation to serialization, and provide a built-in 'value exists' validator that can be easily used
- add a new flag that tells the class not to squash the error

[2016-07-16 13:30] deckar01 commented on #497
I'm not sure making `dateutil` a hard dependency would solve the problem. The date parsing utilities in marshmallow all accept an argument for enabling the use of `dateutil` and it defaults to true. Currently the `Date` field omits this argument during deserialization, but it seems like you want the ability to set this argument to false.

Another fix might be to change the offending marshmallow da

[2016-07-17 07:57] alexpantyukhin opened #500 "Question about customize of deep populating Schema."
Hi.

I have a raw question. Django rest framework serializers have a `depth` feature http://www.django-rest-framework.org/api-guide/serializers/#specifying-nested-serialization When it set it specify how deep (relations entites) will be serilaized. Would it be useful to have something similar for the marshmallow? Because I think sometimes it could be useful when you do not need populate all Netste

[2016-07-18 08:12] maximkulkin commented on #391
Isn't that if validation fails, the contents of result does not make sense and could just be garbage/inconsistent? Where can I find documentation on guarantees of what result will be in case of errors?

[2016-07-18 09:03] vuonghv commented on #391
I think that removing the invalid values from `result` will make getting all valid values easier by iterating `result`'s keys. We do not have to check if the key is in `errors` or not.

[2016-07-18 18:17] maximkulkin commented on #391
Valid values should be determined by absence of errors for that path. How will removing fields help detecting good values? Do you need ANOTHER validator to distinguish values that have all fields from values that do not have all fields?

Also, what do you do with those valid values in the event of invalid values presence? Are you making this up or there is a good use case for that?

[2016-07-19 04:41] vuonghv commented on #391
@maximkulkin Lets come back to the main purpose of this issue. We want to be consistent in returning `result` and `errors`, regardless of the ways we use validators (`validates` decorator or pass function to the `validate` param in Field's `__init__`).
Do you think it is a good idea?

[2016-07-19 05:24] maximkulkin commented on #391
I just think there is no value in being consistent in uselessness and doing anything for that matter.

[2016-07-19 08:08] mafrosis commented on #497
I'd say that this ought to be `False` by default, but that's now an API breaking change. If we had some way to set this to false ourselves, that would be my preferred solution. For example:

[code]

[2016-07-21 12:11] martinstein commented on #391
@vuonghv Thanks for providing this pull request. Fixing this inconsistency would be great.

@maximkulkin If you disagree with the original behavior of removing invalid values from results, I think that should be part of a separate issue/discussion. vuonghv's pull request is a clear improvement since it makes marhsmallow's behavior more consistent. Let's not fall into the trap where we ignore impro

[2016-07-21 15:40] maximkulkin commented on #391
Please then mark this as backward incompatible as it changes current behavior.

[2016-07-22 02:27] sloria commented on #391
This is a bug, since the expected behavior is that `@validates` is consistent with field validators. Therefore, the PR is considered a fix rather than a breaking change.

[2016-07-22 02:27] #391 closed, assigned to nobody

[2016-07-25 01:10] os opened #502 "`validate()` doesn't respect the `attribute` parameter"
Here's an example:

[code]

I'm not sure if this is a design decision or a bug, but I would expect `validate()` to respect the `attribute` parameter.

[2016-07-25 05:09] maximkulkin commented on #502
When you define your schema, you define your model. All errors will be reported in terms of your model. The `attribute` parameter allows to change source of actual data.
If you wanted to have attribute named `first_name`, why would you define it as `name` instead?

[code]

[2016-07-25 05:12] maximkulkin commented on #502
`attribute` argument is used to change source of data when you serialize it. When you deserialize, you work in space of model that you have defined with schema.

[2016-07-25 05:37] os commented on #502
I see, thanks. For my case it seems like I should use `load_from` instead of `attribute`.

[2016-07-25 05:37] #502 closed, assigned to nobody

[2016-07-25 06:52] maximkulkin commented on #502
@os Why wouldn't you call the attribute the way you want?

[code]

[2016-07-25 07:11] os commented on #502
@maximkulkin It's a third party data that I need to process. The actual data has fields like "Customer Phone Number".

[2016-07-27 14:41] mark0978 opened #503 "Could you please clarify the documentation for the following code"
[code]

I'm not sure why I would want fields and field_names.  Could you clarify with a use case please?

[2016-07-28 16:43] mark0978 opened #504 "Nested Schema still validated when required fields are missing"
I thought the whole reason required=True wasn't a validator, but was "special" was so that other validations wouldn't be run when required fields were missing.

[code]

When username is missing from the InnerForm, I would expect the validation to halt because required fields are not present.  Instead the schema validation blows up because the field that is required isn't present in the item.

[2016-07-28 17:07] mark0978 commented on #349
And the gist above is now gone 404.....  Why not include the gist in the bug report itself, at least then it would still be here for others reading the bug report.

[2016-07-28 17:15] mark0978 opened #505 "Missing Nested Schema cannot be required"
[code]

The following produces no errors on validate even with required=True

[code]

[2016-07-28 17:33] mark0978 commented on #505
Oops, typo on my part.  It does work as expected (failed to save editor buffer before running)

[2016-07-28 17:33] #505 closed, assigned to nobody

[2016-07-29 11:17] asmodehn opened #506 "doctests for Schema"
I was struggling to get some Schema working as expected today, so I was thinking that it would be good to have an example in the doc somewhere that explains how to doctest a Schema.

It would be a quick way to check that the Schema is behaving as expected.

[2016-07-29 15:06] zhaostu opened #507 "Schema validators can only report a single issue."
Some times surfacing multiple validation issues with the data is necessary. For example in this case (implementation of pairwise is omitted):

[code]

if the list of numbers has multiple issues, only the first encountered issue is reported. This is sometimes not ideal for user interfaces (the user would appreciate all issues displayed at once).

I would suggest to allow validators return a list of

[2016-07-29 16:11] zhaostu commented on #507
Looks like the `ValidationError` can contain multiple validation errors in a list or dictionary format. That's probably the right way to return multiple issues with the data.

This should be better documented though, I had to read some source code to figure out.

[2016-07-29 18:04] maximkulkin commented on #507
@zhaostu This is a long struggle between me and library authors (See [this issue](https://github.com/marshmallow-code/marshmallow/issues/441) and [this pullrequest](https://github.com/marshmallow-code/marshmallow/pull/442)).

At my current work we needed support for this advanced validation, so I did table flip and now we use my fork of Marshmallow with all features WE need.

Also, I decided to st

[2016-07-29 18:12] maximkulkin commented on #506
Like writing unit tests?

[code]

[2016-07-29 19:06] zhaostu commented on #507
@maximkulkin I figured the schema validation doesn't support raising different errors or nested fields. And my previous comments were wrong, I couldn't get it to work the way I wanted.. :disappointed:

[2016-07-29 19:33] maximkulkin commented on #507
@zhaostu Yes. Your options are either to fork marshmallow and apply patch I mentioned or try another library.

[2016-08-01 01:07] asmodehn commented on #506
I was thinking for something more documenting along the lines of :

[code]

But I am not sure what is the best way to test a schema (validating, converting app -> python messages, converting python -> app data), and show what it is used for...
Which methods are best to use here ?

[2016-08-01 06:36] maximkulkin commented on #506
You should start with generic documentation first (https://marshmallow.readthedocs.io/en/dev/index.html).

[2016-08-04 02:22] eligundry opened #508 "Could How To Run Tests Be Added To the Readme?"
Hi all, I'm loving Marshmallow and would love to contribute. I have but one issue and that is getting the test suite running on my machine. Looking at the README, there is no contributing section outlining how to actually run the tests, like most libraries do. Examples of other projects that have clear contributing sections outlining how to run the tests are [Flask](https://github.com/pallets/flas

[2016-08-04 02:48] sloria commented on #508
Hi, I'd be glad to help you get started contributing to marshmallow. The contributing guidelines are in the official docs here: http://marshmallow.readthedocs.io/en/latest/contributing.html . There you'll find how to run the tests. If you have any further questions, feel free to open another issue.

[2016-08-04 02:48] #508 closed, assigned to nobody

[2016-08-04 03:19] svenstaro opened #509 "What's the difference between only and partial?"
They seem to be accomplishing the same thing. It doesn't become apparent to me from the current docs how `only` and `partial` are different.

[2016-08-04 03:59] sloria commented on #509
They differ in how they affect serialization. `only` is used to filter serialized output. `partial` has no effect on serialization; it only allows missing fields to pass validation (and deserialization) on required fields.

[code]

Output:

[code]

[2016-08-04 04:00] svenstaro commented on #509
Thanks for the quick answer! I think this would be very useful to have in the documentation.

[2016-08-04 04:04] sloria commented on #509
I would certainly accept a PR adding docs to clarify this. =)

[2016-08-04 04:04] #509 closed, assigned to nobody

[2016-08-12 02:35] zenghur opened #510 "data validation error"
[code]

why '120' can pass the validation?

[2016-08-12 03:03] maximkulkin commented on #510
It's the way how type converters work in Python: if there is a number followed by text, converter will return number.

[2016-08-16 13:08] #500 closed, assigned to nobody

[2016-08-17 02:37] Windfarer opened #511 "schema load None"
If I load None to schema, it will not return validate error

[2016-08-17 06:44] Windfarer commented on #511
Is it a feature or a bug?

[2016-08-18 01:00] asmodehn commented on #486
I am also trying to build a package, specifically for http://www.ros.org/ since it s what I need right now, and since there is no deb package on ubuntu yet. My attempt is [there](https://github.com/asmodehn/marshmallow-rosrelease) (using git-buildpackage + some custom ROS tools )
So I am also interested to help a bit here...

I am wondering which tools you are using to build a deb ?
There are the

[2016-08-18 01:08] alvesadrian commented on #486
@asmodehn i have a prototype working can you contact me at aalves(at)gmail(dot)com
if you need the deb right away

[2016-08-18 10:20] gukoff opened #513 "fields.Method result should be able to be wrapped into other field types"
fields.Method is pretty much always used to return a certain type of value. It doesn't allow to choose options for the return value though.

For example, if one designes a field which should return a generic datetime and format it using a given format string, one is forced to use fields.Method which is linked to a schema method which returns a string(!), not a datetime. Because it is now impossibl

[2016-08-18 17:35] shaumux opened #514 "deserialize method for fields.Method should be able to receive the whole raw data too"
The deserialize method from fields.Method only receives the value for its own fields. It would be convenient to have the whole raw_input alongside.
My use case is I have to select a Schema from available schemas and nest it inside the original schema based on another value in the original schema which is validated by a Oneof validator.
Something like this:
{
    "version": "1",
    "criteria": {

[2016-08-18 18:07] maximkulkin commented on #514
Hey, as far as I know it is not possible in Marshmallow itself, but there is a https://github.com/maximkulkin/marshmallow-oneofschema extension library that allows to do that

[2016-08-18 18:23] maximkulkin commented on #504
Duplicate of #319.

[2016-08-18 18:28] maximkulkin commented on #513
The Method and Function fields are actually non-beloved offsprings here as they do not stand for a particular type but change the way you access data. Other field types actually expect data to be accessed via properties.
A bit of self promotion to not leave you with no answers: I'm writing a library similar to Marshmallow that has this part done right. Check it out at https://github.com/maximkulki

[2016-08-18 18:31] maximkulkin commented on #511
Although this behavior is debatable, it is still easy to check on your side because it only affects top-level objects, for nested objects it is handled by fields.Nested field type.

[2016-08-18 23:34] asmodehn commented on #486
@alvesadrian No worries, my deb package also works for my use case.

What I meant, is that if the deb was included in ubuntu, I wouldnt have to build it for ROS.

[2016-08-19 00:32] adrian-gluu commented on #486
send me yours so i can compare it with mine for debian if you want course

[2016-08-19 00:32] adrian-gluu commented on #486
@asmodehn send me yours so i can compare it with mine for debian if you want course

[2016-08-19 01:05] alvesadrian commented on #486
@asmodehn send me your deb changes so i can compare it with my for debian, if you can course it will be a good practice in case i miss something to include it in debian repos

[2016-08-19 11:25] asmodehn commented on #486
The deb files generated by ROS tools are there : https://github.com/asmodehn/marshmallow-rosrelease/tree/debian/indigo/trusty/python-marshmallow?files=1

But usually these are not following debian guidelines ( for some complex reason ), so it might not be a good reference.

For testing if your package is somehow standard you should probably test it on travis : http://travis.debian.net

[2016-08-19 23:29] maxgrenderjones opened #515 "Add option to fail on unexpected fields"
Per the [docs](https://marshmallow.readthedocs.io/en/latest/extending.html#schemavalidation):

If I'm trying to use marshmallow to do validation that the input is what I expect and I want to fail if I get unexpected data, is there really no way to have it fail without writing your own validator? (Apologies if I'm just missing something obvious in the docs - this seems very surprising as someone ne

[2016-08-23 12:46] sivabudh opened #516 "How to create a schema that has no"
Given the following schema:

[code]

The above schema works fine as long as the array passed contains the value between [1, 31]. However, if the array was an empty array (`[]`), the validation fails. How can I tweak `fields.List` such that it accepts an empty array?

[2016-08-23 16:36] maximkulkin commented on #516
Looks like it's a bug in ContainsOnly validator which I guess treats None values and empty arrays the same (see [these lines](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/validate.py#L454-L455) ). Also, I just found out that this validator is a bit tricky, because values can not be mentioned twice (which is not obvious from docstring).

[2016-08-23 16:53] maximkulkin commented on #516
Solution for you would be either to write your own custom validator or to wait till bug in ContainsOnly is fixed.

[code]

[2016-08-30 06:37] #464 closed, assigned to nobody

[2016-08-31 12:30] alexpantyukhin commented on #516
It seems that not allow empty values is put-up behavior. See test:
https://github.com/marshmallow-code/marshmallow/blob/dev/tests/test_validate.py#L607-L608

[2016-08-31 17:19] lafrech opened #520 "Add load_as_tz_aware (and dump_as_tz_aware ?) parameter to DateTime"
As said [in the docs](http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.fields.DateTime),

I'm using webargs to parse input to an API and the code expects naive `datetime`s. I would like to get naive `datetime`s, rather than having to remove the TZ from every date attribute in each resource method.

Maybe I'm wrong working with naive `datetime`s in the first place. I have

[2016-08-31 17:37] maximkulkin commented on #520
I wonder if the problem is in Marshmallow DateTime field implementation or in third-party software that in 2016 still uses naive `datetime`s and can't handle time zone aware ones. Maybe you need to be knocking their door to finally support that.

Anyways, it is easy to implement:

[code]

[2016-09-01 13:20] lafrech commented on #309
I find this sentence a bit misleading.

A naive input that goes through serialization and back will become aware because it is serialized as aware UTC.

But deserializing a naive datetime will produce a naive output.

[code]

So by itself, `Schema.load()` does not always return `DataTime` objects that are timezone aware. This is true if the datetime was serialized using `Schema.dump()`, but it cou

[2016-09-01 14:31] lafrech commented on #520
I was wrong, as explained [here](https://github.com/marshmallow-code/marshmallow/issues/309#issuecomment-244076069): `DateTime` deserializes a naive datetime string as a naive `datetime`. The doc is a bit misleading.

Now, assuming
- my API exchanges datetimes as UTC according to ISO_8601 (e.g. `1966-05-24T00:00:00+00:00`)
- my business code assumes everything is UTC and works with naive `datetime

[2016-09-05 00:20] #472 closed, assigned to nobody

[2016-09-05 00:30] sloria commented on #506
Yes, please consult the official documentation to understand Schema's expected behavior. There is nothing special about writing doctests for Schemas.

[2016-09-05 00:30] #506 closed, assigned to nobody

[2016-09-07 13:28] tvuotila opened #521 "Dumps ignores strict for pre_dump/post_dump errors"
After #489 following code does not raise:

[code]

[2016-09-09 12:11] tuukkamustonen opened #524 "Add option to throw validation error on extra keys"
I'm not sure if I'm missing something, but I would like to throw error if extra keys are provided, as in:

[code]

I've been using the following implementation (taken from https://github.com/sloria/webargs/issues/87#issuecomment-183949558):

[code]

I would expect this to be a common need, however, so could it be supported by the library out-of-the-box?

[2016-09-09 13:23] lafrech commented on #524
FYI, there's another example of how to do this in the docs:

http://marshmallow.readthedocs.io/en/latest/extending.html#validating-original-input-data

[2016-09-09 14:20] tuukkamustonen commented on #524
@lafrech Oh, right. That's practically the same, just using `@validates_schema` instead. I suppose that would indeed be a better decorator to use as the check throws `ValidationError`.

As it's in the docs, I assume maintainers have a negative stand on supporting this through a parameter?

[2016-09-10 23:19] nochristrequired opened #526 "@post_load function not invoked if data dict is updated from @pre_load?"
Hi guys,

I'm new to marshmallow and I'm trying to de-serialize JSON data where any key can potentially have a 'None' string value (in place of the none json type)

I'd like to set these to Python's None type and after carefully reading the docs it seems like @pre_load would be the way to do this. I'd like to return a POPO as a result, so I also have a @post_load for that.

The problem I'm experie

[2016-09-14 09:29] tvuotila opened #528 "Errors from Nested fields are ignored"
Example:

[code]

[2016-09-15 02:37] #484 closed, assigned to nobody

[2016-09-15 03:23] #521 closed, assigned to nobody

[2016-09-15 03:41] #528 closed, assigned to nobody

[2016-09-18 12:28] laurentsenta commented on #483
+1 for this feature, my use case is for a wizard where a user can create a bunch of "phases" for a workflow, they'll be serialized to Yaml and I wanted to use marshmallow for that.

Why not having validation for keys? I'll need to check some properties in the keys of the dict too. Something like `fields.dict(key=fields.Str(), values=fields.Nested(SomeSchema))` would be helpful.

[2016-09-19 01:43] MacHu-GWU opened #531 "_serialize(value, attr, obj) method are not invoked in schema.load()"
Hi, base on your document: http://marshmallow.readthedocs.io/en/latest/custom_fields.html #creating-a-field-class, it looks like I can create custom field by implementing _serialize and _deserialize method. But it doesn't work.

[code]

I am using the 2.10.*

[2016-09-19 01:45] MacHu-GWU commented on #531
Sorry, I made a mistake.

[2016-09-19 02:00] #531 closed, assigned to nobody

[2016-09-20 10:23] shaumux commented on #514
oneofschema didn't exactly fit my needs so i just rolled my own schemaselector

[2016-09-20 10:23] #514 closed, assigned to nobody

[2016-09-20 17:34] maximkulkin commented on #514
@shaumux What are your needs?

[2016-09-21 09:52] asmodehn opened #533 "Bytes field and RawString field"
Not sure if these would make sense for marshmallow as a default fields, but while working with marshmallow and existing library doing network serialization/deserialization ([ROS](http://wiki.ros.org/msg), I came to need a field that would do :

Py2 : str --serialize--> str --deserialize--> str
Py3 : bytes --serialize--> bytes --deserialize--> bytes

So something similar to the string field, but fo

[2016-09-21 20:34] redlamb commented on #509
This answer makes sense with respect to serialization, but how do these fields affect deserialization. Based on the response (and the docs), I take this to mean that ```only``` applies to serialization and ```partial``` applies to deserialization. However, in testing, it looks like ```only``` also affects deserialization.
[code]
Output:
[code]
I expected deserialization using ```only_schema``` to

[2016-09-23 12:23] lafrech commented on #520
I ended up subclassing `DateTime` in a [custom `Field`](https://github.com/Scille/umongo/blob/master/umongo/marshmallow_bonus.py#L89) with a `load_as_tz_aware` boolean parameter. (Discussion [here](https://github.com/Scille/umongo/issues/44).)

Basically, it deserializes like this:

[code]

I still think this could be addressed in Marshmallow.

Using Marshmallow + webargs to parse API inputs is a

[2016-09-28 01:35] redlamb opened #535 "How is deserialization affected by only and partial?"
I was hoping to get some clarification on the differences between `only` and `partial` with respect to deserialization. (This question is similar to #509 which addresses serialization using the same fields.) Based on the docs and the response to that issue, I interpreted it to mean that `only` applies to serialization and `partial` applies to deserialization. However, in testing it looks like `onl

[2016-09-30 08:53] Lacrymology commented on #87
is there a way to have dump_only fields throw an error if they're passed on to `load`?

[2016-09-30 12:22] lafrech commented on #87
@Lacrymology, this could be a sub-use case of the `check_unknown_fields` example: http://marshmallow.readthedocs.io/en/latest/extending.html#validating-original-input-data

It seems the authors don't see this as a feature that should be in the core, available through a parameter, but leave this to user code (https://github.com/marshmallow-code/marshmallow/issues/524).

[2016-09-30 21:47] Fedalto opened #537 "fields.TimeDelta precision"
Hi all,

I'm working on a project that uses marshmallow and we're using a subclass of TimeDelta with `hour` precision.
Would you be interested in a PR with support for other precisions?

[2016-09-30 22:38] jessemyers opened #538 "Unknown format code 'f' for object of type 'unicode'"
After the upgrade to `2.10.2`, our application schemas that use float and decimal value fields are breaking.

Here's a simple case that now breaks (and doesn't in `2.10.1`):

[code]

[2016-10-02 18:18] sloria commented on #538
Thanks for reporting. I will look into fixing this today.

[2016-10-02 19:08] sloria commented on #538
I've just release 2.10.3, which should fix this bug. Let me know if you have any further issues.

[2016-10-02 19:08] #538 closed, assigned to nobody

[2016-10-02 20:33] lafrech commented on #524
Duplicate of https://github.com/marshmallow-code/marshmallow/issues/515.

[2016-10-03 15:42] jessemyers commented on #538
Looks good so far. Thanks.

[2016-10-05 02:22] sloria commented on #448
Closing this for now. Let's hold off on adding these validators to marshmallow core for now. If someone wants to send a PR adding these to apispec, I would gladly review and merge.

[2016-10-05 02:22] #448 closed, assigned to nobody

[2016-10-05 02:28] sloria commented on #515
Let's continue discussion of this in #524

[2016-10-05 02:28] #515 closed, assigned to nobody

[2016-10-05 02:33] sloria commented on #524
We do not currently have plans to add this feature. I recommend using the recipe in the docs for now.

I am not completely opposed to adding this in the future, given a strong case and enough user support.

Closing this for now, but will reopen if there is need for further discussion.

[2016-10-05 02:38] sloria commented on #419
Closing this for now. Addressing #334 should meet this use case.

[2016-10-05 02:38] #419 closed, assigned to nobody

[2016-10-05 02:43] sloria commented on #388
Could you use a `post_load` method in a base class that your Schemas inherit from?

[2016-10-05 03:08] sloria commented on #533
The proposed fields seem to meet a use case that is outside the scope of marshmallow. Thanks for offering to PR though!

[2016-10-05 03:08] #533 closed, assigned to nobody

[2016-10-05 03:10] #486 closed, assigned to nobody

[2016-10-05 03:14] #510 closed, assigned to nobody

[2016-10-11 16:55] martinstein opened #540 "Function fields break with Python 3 type annotations"
Let's take the following simple test case:

[code]

That results in an error:

[code]

The reason is: The `marshmallow.utils` module uses Python's `inspect.getargspec` for inspecting the functions used in Function fields. However, `getargspec` is deprecated since Python 3.0 (https://docs.python.org/3/library/inspect.html#inspect.getargspec) and throws a `ValueError` when called on a function with

[2016-10-12 22:28] nickw444 commented on #507
After reading this discussion, I set out to try solve this myself. I implemented a POC function

[code]

Which did what I wanted it to, provided I called `ValidationError` like this:

[code]

This has a terrible interface, but my use case required it..

But, whilst finishing off writing my validation errors, I noticed the docstring for `ValidationError` specifies that you can actually provide a tu

[2016-10-14 20:05] lafrech commented on #412
I was about to ask about the same use case and we found this issue and your `marshmallow-oneofschema` extension. We've been using it and it works a treat. Thanks @maximkulkin !

@sloria, would you consider integrating this in Marshmallow? It could be in an optional module. The point is to promote it for users seeking that feature and also to ensure future modifications in Marshmallow don't break i

[2016-10-17 10:32] jomag opened #541 "Validating value is unique"
Hi

I have a user schema with an email field. The email is validated to be unique:

[code]

This works great when creating users, but when updating a user with same email address it fails because there is already a user with same email address: the same user as the one being updated!

The validator unfortunately only has access to the email value so I can't check if the user found is the same as t

[2016-10-17 16:12] AndreiPashkin commented on #112
It is possible to use `Schema.on_bind_field` in a base `Schema` class, and inside this method set `required` field parameter to `True`.

The problem is that it's impossible to determine, what parameter was explicitly provided by user - `True` or `False`.

My point is that it's worth to enhance the generic mechanism of configuring field of schemas.

[2016-10-17 18:22] maximkulkin commented on #541
I would suggest moving such validation outside of schema:

[code]

[2016-10-17 18:33] maximkulkin commented on #112
You can create your own field types by wrapping existing field types and changing them to be required by default:

[code]

[2016-10-20 16:25] lafrech commented on #438
The schema factory workaround does not provide a `Schema` with the ability to do both `partial` and `not partial` depending on what parameters are provided to `load`.

In other words, when the factory creates a `PartialSchema`, calling `schema.load(partial=False)` will only affect first level fields.

See this example. I added a `partial` parameter to the factory.

[code]

This passes because `fir

[2016-10-20 19:18] tuukkamustonen commented on #112
@maximkulkin Wouldn't it be easier to use `functools.partial`:

[code]

[2016-10-20 19:22] maximkulkin commented on #112
@tuukkamustonen Yeah, that's even better. Didn't know that you can still override value that you've specified in partial call.

[2016-10-26 01:22] jasonab commented on #511
I agree that this is an error, especially if required fields are set. If I set required=True, I expect that any structure coming out of marshmallow has that field in it, so I should not need to check for its existence.

[2016-10-26 23:07] rlam3 opened #542 "Schema design question?"
Is there a way to pass current_user object from flask app to schema to be used to determine a Boolean.

Currently I have a couple of tables:

Tables/Relations:

[code]

[code]

I want to be able to extract game_table data with a schema. But how can I pass a user_id from my `request` to the schema to be used to see if user is currently subscribed to a game_table?

OR Another approach is:

How can I

[2016-10-26 23:33] maximkulkin commented on #542
1. You example won't work, because properties can't have arguments.
2. You can pass user_id into schema via context:

[code]

Also, it is possible to update dumped result afterwards:

[code]

[2016-10-27 01:09] sloria commented on #542
@maximkulkin is correct--either use `context` or update the data afterwards.

You could even update the context automatically using `pre_load`:

[code]

[2016-10-27 01:09] #542 closed, assigned to nobody

[2016-10-31 08:54] brainless opened #543 "Empty string optionally interpreted as None"
Hello,
Thank you for all the great work in this library. I would like to ask if optionally interpreting empty string as `None` will be helpful for others. For our project it makes sense, using a flag like `empty_string_as_none` which if set to `True` will convert empty string (`""`) to `None`.

The parameter `allow_none` will still come into action as it already works, just that empty strings will

[2016-10-31 10:40] ThiefMaster opened #544 "`Nested(some_schema_instance, only=('a', 'b'))` is broken"
[code]

This returns `{u'foo': {u'a': 1, u'b': 2, u'c': 3}}` instead of the expected `{u'foo': {u'a': 1, u'b': 2}}`

[2016-10-31 10:47] ThiefMaster commented on #544
It seems to work fine when using `Nested(FooSchema, only=('a', 'b'))` but if it's not OK to pass a schema instance it should probably fail or cause a warning instead of silently ignoring the `only` argument.

[2016-10-31 16:58] maximkulkin commented on #543
IMO it is very wrong to support that kind of behavior. JSON has special value for None - null - and empty strings are actually strings. Optionally you can treat missing values as None. However, it is bad to encourage your clients to disregard all that and do things like treating empty strings as None, treating integer 0 as None and stuff like that (integer example is supposed to amplify how ridicu

[2016-10-31 17:09] maximkulkin commented on #544
I think that fool-proofs like that clutter the code so much that it makes it hard to read and contribute to the project. I think stating this behavior in documentation should be sufficient.

[2016-10-31 20:53] brainless commented on #543
@maximkulkin thank you for your response. I see your point. In our app the empty strings are coming from JavaScript code that handles forms and blank inputs come into the API as empty strings. Handing them in the form handling JavaScript is then a better idea.
Cheers!

[2016-10-31 20:53] #543 closed, assigned to nobody

[2016-11-01 12:32] #544 closed, assigned to nobody

[2016-11-01 12:33] sloria commented on #544
I agree with @maximkulkin ; documenting this should suffice. I've added a note in the API docs for `Nested`. Thanks @ThiefMaster  for reporting and thanks @maximkulkin for the suggestion.

[2016-11-02 20:22] Shir0kamii opened #545 "Refactoring validators"
Hi all,

I suggest a refactorization of validators in marshmallow.

By browsing the code in marshmallow/validatate.py, you can see that a lot of
validators share their internal methods. What I suggest exactly is putting all
this shared behavior in the `Validator` class and override it where necessary.

For example, the handling of error is almost the same in all subclasses. It
would reduce the dup

[2016-11-02 20:34] maximkulkin commented on #545
Could you provide some examples of before and after code? I'm looking at marshmallow/validate.py and can't find any functionality that can be shared.

[2016-11-03 00:30] Shir0kamii commented on #545
Sure! First, the `_format_error` can easily be merged inside the `Validator` class. There are two form of it (with and without input) and it used mainly to raise exceptions. Why not make a public function which handles all the error formatting and raise the exception ? It would yield something like this :

[code]

It would bring consistency in the error handling even in subclasses of users.

To be

[2016-11-03 00:51] maximkulkin commented on #545
Well, yes, I agree that Validators could have the same interface as Fields have: there is `default_error_messages` class field, there is a `error_messages` constructor argument and there is `fail()` method (although I think it should be `_fail()` as it is not intended to be called outside of validator object).
I recall I had exactly same concern when I was designing validators in my own validation

[2016-11-03 10:03] sabinem opened #546 "Include Ordered Set as a package instead of writing it yourself?"
I studied marshmellows code, since I was looking for a project, that I understand well enough, in order to start contributing to it. I really like marshmellow and I feel that its code and documentation are very well written. One thing, that I noticed though are the custom written collectibles. I understand that marshmellow takes its custom OrderedDict only for Python 2.6, where there is no other c

[2016-11-03 20:56] Shir0kamii commented on #545
Yup, that's the kind of things I'd like to implement if my refactorization is
accepted. What are those consequences you're talking about ?

Could anyone else give us feedback before I begin implementing something ?

[2016-11-03 21:53] maximkulkin commented on #545
Mostly, it's about having two ways to define errors: either through `error_messages` constructor argument (which should be a dictionary of different error names(keys) to error message), or through `error` argument. Most validators check one particular thing and it's mostly sufficient to specify just one error without bothering with it's error key. That's why I have `error` argument: if it is set,

[2016-11-04 06:58] sabinem commented on #540
I would like to work on this, if that's okay with the community. I am a Newbie with contributing, so tell me if I am doing anything the wrong way. But I have been told that you should announce if you want to work on something. This seems like a bug and should be not too hard to fix.

[2016-11-04 08:18] lafrech commented on #540
You don't have to announce each time you want to work on something, but it is advised to do so as soon as the task is not trivial, to avoid wasting your time on a feature bound to be rejected.

It would be a shame to come up with a nice well-coded, well-tested, pull-request that would be rejected because it does not follow the project's objectives/roadmap.

On the other hand, you'll generally reac

[2016-11-04 08:42] sabinem commented on #540
@lafrech: Thank you so much, yes I will first figure out a solution and propose it here for approval, before I start implementing anything.

[2016-11-04 10:39] HaraldNordgren opened #547 "Store errors on Schema().load() if excluded fields are present"
I want the option (or changed default behaviour) to inherit a Schema, specify certain fields as excluded, and then have Marshmallow give back errors if any of those fields are in the data.

[2016-11-04 10:52] lafrech commented on #547
I believe if you set `strict=True` in `class Meta`, you'll get this validation. However, you'll also get errors for any unknown field, not only for excluded fields.

I don't know of a way to get errors for excluded fields only, and I'm not sure it would be that useful.

[2016-11-04 13:41] sloria commented on #547
Take a look at this recipe from the docs: https://marshmallow.readthedocs.io/en/latest/extending.html#validating-original-input-data . It should meet your use case with minor modifications (i.e. checking `self.exclude`).

[2016-11-04 23:26] HaraldNordgren commented on #547
Thanks for that. Worked nicely!

[2016-11-04 23:35] #547 closed, assigned to nobody

[2016-11-05 09:09] sabinem commented on #540
Before I work on a pull request, I wanted to get approval for my solution. Feel free to correct me if I am getting anything wrong, since this will be my first real bug fix in open source:
I studied the code and this here is the function to be replaced in Python 3:
in `marshmellow.utils`:

[code]

It is called only once in `marshmellow.fields`:

[code]

###The problem
In Python 3 `inspect.getargspe

[2016-11-05 12:02] sabinem commented on #535
@redlamb:
I do not understand your problem with this: why would you expect an error with the only_schema: it filters, so it just takes the field, that are specified in your case `'foo'`, so why should it care for `'bar'` as well?

[2016-11-05 12:50] lafrech commented on #540
Looks like a good start to me.

I'm not sure the `get_func_args3` implementation would be integrated as is, but now that you've got the code done, you may send it as a PR. It makes it easier to review/comment.

No need for `elif`, here, since there's a `return` statement in the case before. `if` is enough.

I don't like the `if`/`elif` without default case. I don't know which is better, a default

[2016-11-06 06:35] sabinem commented on #540
@lafrech: Thanks so much! I will do it the way you proposed and make the PR. Thanks for your feedback and encouragement.

[2016-11-06 14:48] sloria commented on #503
`field_names` is passed when raising a `ValidationError` to determine the keys used in errors output. This can be useful for schema-level validation.

[code]

The `fields` argument allows error handlers to have access to the field instances for errored fields. Using `fields` is less common than `field_names` in user code. It may be useful for handling different validation errors based on attribute

[2016-11-06 14:48] #503 closed, assigned to nobody

[2016-11-06 14:55] sloria commented on #541
@maximkulkin 's solution is valid; just do the validation after loading the data.

Alternatively, you could add the user to the schema's context. See https://github.com/marshmallow-code/marshmallow/issues/542#issuecomment-256520229 .

[2016-11-06 14:56] #541 closed, assigned to nobody

[2016-11-06 15:41] sloria commented on #546
Thanks for taking the time to study marshmallow, @sabinem . Marshmallow currently has no hard external dependencies, which keeps the codebase self-contained. This is not to say marshmallow will never have external dependencies--sufficiently stable dependencies that add value will certainly be considered.

Re: OrderedSet--marshmallow already exposes a way to change the set class:

[code]

As long w

[2016-11-06 16:44] #456 closed, assigned to nobody

[2016-11-06 19:05] sabinem commented on #546
@sloria, fair enough, I understand that. Then I would suggest to consider coping the more mature recipe from LuminosoInsight: [https://github.com/LuminosoInsight/ordered-set/blob/master/ordered_set.py](https://github.com/LuminosoInsight/ordered-set/blob/master/ordered_set.py). This recipe is very similar to the one used now, but the code looks a lot nicer and the reasons why he changed the origina

[2016-11-06 19:25] sloria commented on #546
True, we could vendorize LuminosoInsight's implementation. Is its API completely compatible with the ActiveState recipe?

[2016-11-06 19:44] sabinem commented on #546
I think it is, but I will check it out and get back to you. I would like to work on this, if that is okay with you. I was looking for a library where I can start contributing to open source and I settled for marshmellow, since I feel it is just the right size of a project for my current skill level. Would that be fine with you?

[2016-11-06 19:47] sloria commented on #546
@sabinem Sounds great. Thank you for helping out!

[2016-11-07 04:49] maximkulkin commented on #546
C'mon.. None of this improvements look vital to me:
- Changed implementation from double linked list to simple list. OK, it gets O(1) index at cost of O(n) deletes. Srsly? The main three operations on sets are addition, removal and check for inclusion. All three operations are O(1) in current implementation. Iteration is O(n) which is expected, no overhead here. Now it adds indexing. Why we should

[2016-11-07 07:27] sabinem commented on #546
@maximkulkin: thank you for your insights on this, I agree, that this should be an informed decision rather then replacing something hastily against something else. Anyway, I read through the comment thread of the original recipe: http://code.activestate.com/recipes/576694-orderedset/. This topic is very interesting to me and I want to put some more time into studying the different solutions and t

[2016-11-10 22:27] redlamb commented on #535
@sabinem: Thanks for the reply and sorry that my question wasn't very clear. I'm sure this is a misunderstanding of the docs, but I expected an error with the `only_schema` because `only` doesn't seem to apply to deserializing/loading an object. According the [Schema API](http://marshmallow.readthedocs.io/en/latest/api_reference.html#schema), it only appears to apply to serializing/dumping an obje

[2016-11-10 22:38] lafrech commented on #453
@deckar01 Interesting comment. I feel the same about the `load_only` + `dump_only` case.

Looks like we're bearing the weight of history. Starting from scratch, we'd use better terms, like `dont_load` or `skip_load` or anything less ambiguous. But here we are.

These are features so common that there must be a lot of those in the codes using Marshmallow, and the benefit for changing this is minima

[2016-11-16 18:13] YuriHeupa commented on #516
Would be nice to have `ContainsOnly` accepting a param like `allow_empty` to make empty lists allowed

[2016-11-18 09:11] douglas-treadwell commented on #377
I'm at a company that just started replacing reqparse from Flask-Restful with Marshmallow.  I agree that strict=True seems like a better default.  Most things in Python that don't go as expected raise errors, rather than returning a tuple with error messages.

[2016-11-18 09:19] douglas-treadwell opened #550 "Allow strict=False to override strict setting in Meta options class."
I prefer ```strict=True``` by default (as someone else requested in another issue), so I was setting it in the Meta class to True... but then I found I could not set it to False in cases when I wanted it to be False.

Workaround for now... implemented a BaseSchema with overridden strict kwarg like this:

[code]

[2016-11-18 09:24] douglas-treadwell commented on #377
Those of you who agree about this may find the code snippet in this issue useful:

https://github.com/marshmallow-code/marshmallow/issues/550

As mentioned in that issue, one drawback of using `class Meta: strict = True` is it cannot be overridden later with `SomeSchema(strict=False)`.

[2016-11-18 13:32] sloria commented on #540
This is now fixed in the latest PyPI release (2.10.4).

[2016-11-18 13:32] #540 closed, assigned to nobody

[2016-11-18 20:03] maximkulkin commented on #377
In our project we just use our own base class for all schemas:

[code]

[2016-11-18 22:04] douglas-treadwell commented on #377
Right, the same thing I posted in issue #550, although I named the extended schema a bit differently.

[2016-11-18 22:21] maximkulkin commented on #377
@douglas-treadwell Yes, sorry, I missed that. My take on that is: don't look into Meta class magic and just use old proved OOP approaches.

[2016-11-18 22:46] douglas-treadwell commented on #377
Agreed Max.  Also, I'm happy to see we took the same approach, and thanks for sharing it.  I always like to double check that a workaround seems reasonable to others.

[2016-11-22 18:07] dhararon opened #551 "[Documentation] Syntax error"
https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/decorators.py#L27

[code]

[2016-11-22 23:15] #551 closed, assigned to nobody

[2016-11-22 23:16] sloria commented on #551
Fixed. Good catch!

[2016-11-24 00:46] Ragsboss commented on #120
+1 for having built-in support for defining dict fields with prescribed schema for values.

[2016-11-24 03:40] lauwers commented on #120
I had the same requirement. I created my own NamedObjectMap field based on the code example above. The main additions are:

- the add_to_schema method, which (if I remember correctly) is necessary to propagate context.
- proper insertion of validation errors in the validation errors dict

Chris

----------------

class NamedObjectMap(fields.Field):

    default_error_messages = {
        'invalid'

[2016-11-24 09:53] z333d opened #553 "field related nested schema"
I want to create such schema:
`
class XSchema(Schema):
    type = String()
    query = Nested(YSchema)
`
different type will have corresponding YSchema, for example:
when type is 'a', YSchema will be ASchema, and type is 'b', YSchema will be BSchema, and so on.

Is there any solution to achieve this? Thanks

[2016-11-24 10:29] lafrech commented on #553
You may be interested by OneOfSchema:

https://github.com/marshmallow-code/marshmallow/issues/412
https://github.com/maximkulkin/marshmallow-oneofschema

[2016-11-25 02:03] z333d commented on #553
@lafrech thank you. I have solved this problem with help of a friend.
the solution is:
[code]

[2016-11-25 05:29] DormyMo opened #554 "load Nested field problem?"
https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L451

when the value is a list , should be like this ?

`data, errors = self.schema.load(value,many=self.many)`

[2016-11-25 08:06] lafrech commented on #553
OneOfSchema is more generic, but if your solution suits your use case, fine.

You can close this issue, then.

[2016-11-25 08:09] lafrech commented on #554
No need to pass `self.many`: `shema.load` uses `self.many` by default.

https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/schema.py#L628

[2016-11-25 12:32] #553 closed, assigned to nobody

[2016-11-26 08:22] #554 closed, assigned to nobody

[2016-11-29 15:48] igor-raits opened #555 "missing tag for 2.10.4"
on github. Please tag it!

[2016-11-30 01:01] sloria commented on #555
Ah, I forgot to push the tag. It's pushed now. Thanks for reporting!

[2016-11-30 01:01] #555 closed, assigned to nobody

[2016-11-30 16:50] lafrech opened #556 "Rationale behind fields.DateTime().deserialize('1916') returning datetime(1916, 11, 30, 0, 0)?"
I just noticed that when I deserialize a date expressed as a 'YY' or 'YY-mm' string, I get a datetime with month defaulting to 11 and day defaulting to 30 (except for february).

[code]

Is this intended?

Shouldn't this be either rejected or default to a documented value (could be january 1st)?

To prevent this seemingly non-deterministic behavior (it seems reproducible, but I don't get the ratio

[2016-11-30 18:21] jacquerie commented on #556
This looks like the (somewhat puzzling) default behavior of `python-dateutil`: https://labix.org/python-dateutil#line-1275. It uses today's date as a default. Tomorrow you're going to see `1916-12-1`, `1916-2-1` and `1916-3-1` for your first three examples.

[2016-11-30 20:20] lafrech commented on #556
Oh, right. I had read about this trap, already, but I didn't notice it was today's date...

Great, so now we have an explanation.

I think my point still remains. It's a bit weird to get this as a "default" and I'd rather have either a `ValidationError` or a more "natural" default value (like 1 for each field). Or has this `dateutil` behaviour become a _de facto_ standard?

Technically, that would

[2016-11-30 21:04] maximkulkin commented on #556
Technically, it is not a breaking change. That functionality is not a public API or part of contract. It's like using private API and then blaming authors for changing it.

[2016-11-30 21:18] lafrech commented on #556
You mean "not part of contract" because current behaviour is not documented? (I'm not trying to argue about it being a breaking change or not. I'd just like to be sure I understand your point correctly.)

[2016-11-30 21:21] maximkulkin commented on #556
Exactly

[2016-12-01 03:43] sloria commented on #556
@maximkulkin is correct; this is not a breaking change and goes against user expectation. I would gladly review and merge a PR for this.

[2016-12-02 20:02] lafrech commented on #556
Deadlines coming, I won't be able to work on this in the near future, I'm afraid.

What would be your preference ?

- Should those inputs be rejected (`ValidationError`)?
- Should the deserializer default to `1` (January 1st)?
- ...?

[2016-12-02 21:21] maximkulkin commented on #556
I would say that those inputs should be rejected (ValidationError)

[2016-12-11 18:56] altaurog opened #558 "Better example for check_unknown_fields"
The example validation function given in 'Validating Original Input Data' finds at most one unknown field at a time.  A more useful example would include all unknown fields in an error list.

[2016-12-13 10:04] asmodehn opened #560 "Field serialize default arguments"
Currently [Field.serialize()](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L233) takes self and 2 arguments (attr and obj).

However in basic use cases, attr is not needed.

- [Nested](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L427)
- [List](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L547) ->

[2016-12-13 18:07] drivelous commented on #167
@martinstein Facing the same problem you are. Changing from colander to marshmallow and these empty string values that come default from form fields are breaking all of our backend integer validation. Did you ever come up with a solution? Right now all of our options are pretty ugly.

[2016-12-13 19:17] maximkulkin commented on #560
Fields are not meant to be used standalone thus their API is not that polished.

[2016-12-13 19:35] maximkulkin commented on #167
@martinstein @drivelous You can always preprocess data e.g. remove empty string values:
[code]
I would say that integers should always be integers not string representation, but that does not work in case of web forms. If you still need to check that value contains only digits, you can add simple regex validator:
[code]

[2016-12-13 23:18] drivelous commented on #167
@maximkulkin ahh thank you for the solution.  It won't work in our case because empty strings are valid values for many fields. A lot of breakage occurs because extra checks need to be added downstream (e.g. it's necessary to tell validators whether a field is required because they're trying to validate an empty string, something which would've been caught and filtered if an `allow_blank` flag exi

[2016-12-14 18:40] amcclanaghan commented on #526
@nochristrequired

Ran into similar issue, which may be related to yours, and traced to existing schema errors.

Inside marshmallow/schema.py just before post processors run you will see:

`if not errors and postprocess:`

Schema errors prevent the post processors from running.  Address your schema errors and `@post_load` will fire.

[2016-12-16 12:30] divanovGH opened #561 "The value type is not checked"
[code]

errors is None! Why??? The field value is "string" type. Validator trying to cast: float('1'). It's wrong! Need to check the type.

[2016-12-16 16:50] maximkulkin commented on #561
Although there are use cases for that behavior (e.g. you are validating posted form: in that case everything is strings), I think it should be customizable. All numeric fields have "as_string" option which if enabled serializes numbers to string representation. But on deserialization it doesn't check that option and just relies on standard conversion functions to handle incorrect input. Numeric fi

[2016-12-18 18:42] #558 closed, assigned to nobody

[2016-12-19 15:47] divanovGH commented on #561
[code]
errors is None!   'www' is float type  (((

[2016-12-19 23:32] jbasko opened #565 "Schema error_kwargs aren't reset!"
In `ErrorStore`, `error_kwargs` aren't reset unlike other error fields.

This is a critical issue as depending on how one uses `ValidationError.kwargs`, one could potentially expose a user's error information to another user making a request later.

P.S. I never saw any warnings in documentation against reusing Schema instances, so I am using same instance to serve more than just one request.

I c

[2016-12-20 02:42] #565 closed, assigned to nobody

[2016-12-21 13:47] rlam3 opened #566 "Is there a specific way to format datetime in json to conform to?"
Is there a specific way to format datetime in json?

Some of my json dates come out as "Tue, 22 Sep 2015 10:17:00 GMT" and some come out as "2015-02-03T15:40:36.078358+00:00"

data in database all look the same. I'm not sure how to get rid of the GMT way of formatting...

[2016-12-22 11:06] sloria commented on #566
Resolved in marshmallow-code/flask-marshmallow#55

[2016-12-22 11:06] #566 closed, assigned to nobody

[2016-12-26 16:05] podhmo opened #567 "fields.Field's missing option with many=True, unexpected behavior"
marshmallow's fields.Field has two options.

- default
- missing

I wonder `default` is the hook (or default value) for serialization, and `missing` is the hook for deserialization.

## with many=True option, default is ok

when serialization, default option is correctly, I feel.

[code]

## with many=true option,  missing is uncomfortable behavior

But,  when deserialization,  current marshmallow

[2016-12-26 21:36] maximkulkin commented on #567
The problem with your example is that you're not using `many=True` correctly. Most field types do not accept `many` option (at least the way you think). For field types other than Nested, `many` argument is treated as a *metadata*, some information that is stored in field type (that's why you do not get "unknown argument" errors), and as far as I can tell that metadata is not used in any way by th

[2016-12-26 22:01] lafrech commented on #567
[code]
Is it hazardous to use a mutable as default/missing value like it is for functions/methods?

I mean is it possible to get weird behaviours because all instances of the Schema share the same instance and if it gets modified once, it is modified in the Schema class itself?

[2016-12-26 22:43] maximkulkin commented on #567
@lafrech Yes, you are correct: it's dangerous to use mutable values (e.g. lists) as default/missing values. To workaround that you can use callable that will return those values:
[code]

[2016-12-26 22:54] podhmo commented on #567
OK. I've misunderstood the meaning about `many=True`,  for a collection value,  using fields.List instead of many option. I missed fields.List .

@lafrech, @maximkulkin  Thank you for replying correct answer.

[2016-12-26 22:54] #567 closed, assigned to nobody

[2017-01-03 14:45] dirkdevriendt commented on #364
I would vote for `render_module`

Though I might actually prefer to be able to pass in a `serialize_function` and `deserialize_function` instead of a module that needs to provide functions called "dumps" and "loads".

I don't think pyyaml follows this convention, for instance. And adding a proxy module or including a separate definition for which functions to call may seem overkill?

[2017-01-03 19:15] maximkulkin commented on #364
@dirkdevriendt Originally it uses interface that JSON modules provide. For modules that do not support given interface (loads/dumps) you can easily create adapters:

[code]

[2017-01-04 09:10] dirkdevriendt commented on #364
Thanks for the example, I totally understand. I just thought that if the signature is going to be changed anyway, there could be something to say for making the methods themselves configurable. This would enable:
[code]
... or any other two methods that may or may not be in the same module.

[2017-01-05 04:26] rajeshbk042 opened #568 ""dump_only" field attribute not working"
Hi All,

I have used that "**dump_only**" field attribute for a field in "**ModelSchema**" schema and passed values for that filed, its writing or updating into database. Its not taking account of **dump_only**.

Please help me to figure it out....

[2017-01-05 09:18] maximkulkin commented on #568
Post your code. Maybe you're doing it wrong.

[2017-01-05 10:48] rajeshbk042 commented on #568
`class Profile(ma.ModelSchema):`
     ` user_id= fields.Int(dump_only=True)`

[2017-01-05 14:51] maximkulkin commented on #568
It works for me:
[code]

[2017-01-05 15:05] costrouc commented on #378
I had this exact same error. I find it unintuitive that `missing=datetime.now` does not work but instead requires `missing=lambda: str(datetime.now())`

[2017-01-08 18:38] sloria commented on #560
@maximkulkin is correct re: fields being used standalone, so we don't intend to change the API for now. Feel free to reopen and elaborate on your use case if you feel strongly about changing the API.

[2017-01-08 18:38] #560 closed, assigned to nobody

[2017-01-08 19:44] #495 closed, assigned to nobody

[2017-01-08 19:44] #504 closed, assigned to nobody

[2017-01-08 19:48] sloria commented on #546
Closing this for now. I am open to changes if someone wants to investigate alternative ordered set implementations, but it's not a priority at the moment.

[2017-01-08 19:48] #546 closed, assigned to nobody

[2017-01-08 20:01] sloria commented on #342
The indexes are reported in the error output. A simple example:

[code]

Validators don't have access to indexes, however, so you'll likely have to postprocess the error output if you want to more complex things.

We don't plan on adding API to support indices in error messages, so I'm closing this for now. Feel free to reopen this if you have suggestions though.

[2017-01-08 20:01] #342 closed, assigned to nobody

[2017-01-08 20:05] #507 closed, assigned to nobody

[2017-01-08 20:08] sloria commented on #307
This is the same issue addressed in #316. Further discussion should happen there.

[2017-01-08 20:08] #307 closed, assigned to nobody

[2017-01-08 20:14] sloria commented on #339
Closing for now, as this has become stale. Feel free to reopen if further discussion is needed.

[2017-01-08 20:14] #339 closed, assigned to nobody

[2017-01-08 20:19] sloria commented on #344
We don't plan on adding this in the near future, as it adds complexity to the API (> 1 way to do things), so closing this for now. Feel free to reopen an issue if you feel further discussion is necessary.

[2017-01-08 20:19] #344 closed, assigned to nobody

[2017-01-08 20:24] sloria commented on #446
As @ignatenkobrain suggests, the correct place to do validation is in the outer schema (`User` in your example). As of marshmallow 2.10, you can raise `ValidationErrors` in `post_load` methods, so you could add your validation logic there.

[2017-01-08 20:24] #446 closed, assigned to nobody

[2017-01-08 20:36] sloria commented on #362
Closing this for now. Feel free to reopen if this is still an issue.

[2017-01-08 20:36] #362 closed, assigned to nobody

[2017-01-08 20:41] sloria commented on #372
Sorry for not getting to your question sooner. If you found a solution, feel free to post it. Closing this issue for now.

[2017-01-08 20:41] #372 closed, assigned to nobody

[2017-01-08 20:41] #380 closed, assigned to nobody

[2017-01-08 20:47] sloria commented on #436
We don't currently plan to support this feature. As @maximkulkin is suggesting, keep your validation logic free of side-effects and you won't have problems.

If you need to do postprocessing and validation after deserialization is finished, you can use a `post_load` method. NOTE: `post_load` methods are only run if all the input data are valid, and you can raise `ValidationErrors` in the `post_loa

[2017-01-08 20:47] #436 closed, assigned to nobody

[2017-01-08 20:49] sloria commented on #388
We do not plan to support this feature at this time. Closing for now.

[2017-01-08 20:49] #388 closed, assigned to nobody

[2017-01-08 20:54] sloria commented on #491
We intend to fix this in 3.0 (since it requires a backwards-incompatible change). You could try the workarounds suggested in #397

[2017-01-08 21:06] sloria commented on #469
Inner schemas inherit their context from outer schemas, so `self.context` should return what you need.

Example:

[code]

[2017-01-08 21:06] #469 closed, assigned to nobody

[2017-01-08 21:07] #439 closed, assigned to nobody

[2017-01-08 21:12] sloria commented on #438
Sorry for the delay in responding.

I am considering this issue closed for now.

@lafrech I am not opposed to the idea of propagating `partial` to nested fields, though I haven't given much thought to it. Feel free to open an issue to start discussion.

[2017-01-08 21:12] #438 closed, assigned to nobody

[2017-01-08 21:21] sloria commented on #556
I agree; rejecting invalid formats should result in a ValidationError

[2017-01-08 21:23] sloria commented on #550
Fixed by #569

[2017-01-08 21:23] #550 closed, assigned to nobody

[2017-01-09 08:56] #561 closed, assigned to nobody

[2017-01-09 16:30] rajeshbk042 commented on #568
You are saying about **"m.Schema"** but I am asking about  **ma.ModelSchema**

[2017-01-09 16:56] maximkulkin commented on #568
There is no `ModelSchema` in Marshmallow library.

[2017-01-09 17:01] rajeshbk042 commented on #568
Yes, there is **ModelSchema** in marshmallow and I have created serializers using this , its worked for me. Check this [https://flask-marshmallow.readthedocs.io/en/latest/]( https://flask-marshmallow.readthedocs.io/en/latest/)

[2017-01-09 17:03] rajeshbk042 commented on #568
Okay, its in [https://flask-marshmallow.readthedocs.io/en/latest/](https://flask-marshmallow.readthedocs.io/en/latest/)

[2017-01-09 17:09] maximkulkin commented on #568
It's in [flask-marshmallow](https://github.com/marshmallow-code/flask-marshmallow) adapter library. Looks like the problem is in that library. You should report it there.

[2017-01-13 01:11] italomaia opened #570 ""Should" marshmallow be used for form validation not related to database?"
Hi folks. Quick question. Should marshmallow be used to validate data sent by ajax when that given data is not model related? Example: imagine you have a search form with a few fields used to fine grain your search query. Would it be a good use case for marshmallow to parse that given data or should the fields be validated using another way?

[2017-01-13 01:24] maximkulkin commented on #570
Sure. Why not?

[2017-01-17 09:35] thrawny opened #571 "Inconsistent error messages using a nested partial schema."
I have these schemas.

[code]

Since `MySchema` is a nested partial in `Wrapped`, required errors related to `MySchema` should not appear when I send in an empty dict as data. At least thats what I would except. Rather the error should only say that the required field `wrapped` is missing.

I understand this might be a weird example. But it does seem like a subtle bug. Removing required is also no

[2017-01-17 20:41] maximkulkin commented on #571
I guess it is a duplicate of #319

[2017-01-17 20:54] thrawny commented on #571
It is similar I agree. However, docs state that using partial is supposed to ignore missing fields. Very confusing to get an error message about something being required that is not supposed to be. Or am I missing something about partial?

[2017-01-17 20:57] maximkulkin commented on #571
I think it all roots in the same crazy idea to report all required fields for all nested objects regardless of what actual payload looks like. Consider this example: https://github.com/marshmallow-code/marshmallow/issues/319#issuecomment-232221049.
I guess implementation for this feature takes precedence to partial.

[2017-01-17 21:01] thrawny commented on #571
Got it! Thanks for input. Think I will just avoid using these kinds of schema structures in that case.

[2017-01-17 21:05] maximkulkin commented on #571
I ended up creating my own fork that fixes that problem. We use it in my company. Later on I even created my own library similar to Marshmallow and right now we are transitioning to this new library.

You can start with a fork and later put pressure on Marshmallow maintainers to remove that offending feature.

[2017-01-18 15:13] cpoppema commented on #441
I ran into the same issue I believe. I have fields that depend on each other and when validating a single field with `@validates()` I don't have access to other field data. That is why I verify the combination of this data using `@validates_schema`. In this method I build a dictionary (`errors`) with specific field names/error list, expecting that the Unmarshaller builds its own error dict with th

[2017-01-20 17:15] s0undt3ch commented on #289
👍 for passing context to validators

[2017-01-30 09:12] bow opened #579 "Domain name validation in Email validator"
Hello developers,

This is more of a question (possibly an issue). I was trying to validate some email addresses using the `Email` validator class, when I stumbled on it not validating this particular email address: `test@domain.c`

I then looked into [the code](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/validate.py#L119) and found that the part after the `.` in the domai

[2017-01-30 12:28] rgant commented on #579
I don't believe there are any TLDs with less than two characters. That is probably the reasoning behind that check.
https://en.m.wikipedia.org/wiki/List_of_Internet_top-level_domains

[2017-01-30 13:16] lafrech commented on #579
Not yet, but according to [this SO post](http://stackoverflow.com/questions/7411255/is-it-possible-to-have-one-single-character-top-level-domain-name#21872376) (2014) there could be. It would be valid as per the RFC.

I understand the fact that there is currently none and we don't expect any to appear in the future could justify that behavior. But even then, it would be debatable. Marshmallow shou

[2017-01-30 16:59] Behoston commented on #54
[code]
generates
[code]

from
[code]

But I want `{}`

[2017-01-30 19:16] maximkulkin commented on #54
I see several ways to fix that:
1) Use marshmallow.fields.Function like this for occasional fields that require to be removed:
[code]

2) Use your own post_dump filter to remove all None values:
[code]
3) Make your own wrapper field types to accomodate for that:
[code]

[2017-01-30 19:57] maximkulkin commented on #579
[RFC](https://tools.ietf.org/html/rfc3696#section-2) states that top-level domain validation should check for all existing TLDs at the moment and be updated whenever TLD list changes. The validation regexp in Marshmallow is a simplified version that is commonly used. So, as of now it pretty consistent with RFCs. When 1 letter domain will be introduced, then it can be updated. As of now `test@domai

[2017-01-31 04:04] justanr commented on #579
@maximkulkin To be the devil's advocate, it's only invalid when talking across the web but local DNS could resolve `.c` as a valid in network domain. Since it's an invalid TLD according to current standards, it's a pretty good in network TLD to prevent accidentally talking to some out of network service.

Not that I'm saying the regex should be changed to support it, merely presenting a valid use

[2017-01-31 09:25] Behoston commented on #54
2. Recursive
[code]

[2017-01-31 17:37] sermoz commented on #289
+1 for passing context to validators. My use case is the following:
[code]

[2017-01-31 19:36] maximkulkin commented on #54
Yeah, what I meant for post_dump case is that all schemas (that we care about) have this post_dump hook, so there is no need for recursion.

[2017-01-31 21:41] bow commented on #579
@maximkulkin I'm not in a position to decide any one change, though I tend to agree with @justanr. The RFC itself mentions validating using a DNS service, which may be local to specific users.

But anyway, I think this answers my initial question already. I'll close this issue for now and leave it for reopening in a possible future where we have ICANN-approved single-letter TLDs :).

Thank you!

[2017-01-31 21:41] #579 closed, assigned to nobody

[2017-02-02 01:17] marcellarius opened #580 "Add "on" and "off" values to Boolean truthy/falsy sets"
Rationale: Checkboxes in HTML forms use the value "on" when checked. This would be convenient as it would allow checkbox fields to be parsed as booleans when using Webargs with HTML forms.

[2017-02-08 12:50] alexmic opened #583 "Question: Deserializing HTML form nullable fields"
I'm using Marshmallow for HTML form deserialization with Flask. I have an integer field which is nullable but the value received from the HTML form is obviously the empty string. I'm trying to figure out how to handle that without writing anything on top of marshmallow but I'm failing to see how. If I use `Integer` then it will fail to cast the empty string. If I use `String` then I need to write

[2017-02-08 13:48] pkopac commented on #466
Hi! I have a similar problem, I'd like to allow_none globally, but it's not possible without some hacking.
It would be really cool, if Meta class had this param and Fields/Schema respected it. I didn't find a fast&easy way how to implement it though. Would you consider implementing it, please?

[2017-02-08 14:32] rgant commented on #583
You can use the `as_string` setting for Integers to make it handle empty strings better.

[code]

[2017-02-09 11:21] silenius opened #584 "whishlist: add a simple check to avoid name clashes"
Hello,

I just lost one hour of work with a stupid thing, I had the following (simplified for example):

[code]
and in the wrapped `post_dump` function I had a stupid `KeyError` exception for the `tags_id` key. Obviously it was because the `tags_id = List(Integer(), load_only=True)` field was overriden by `def tags_id(self, data):` function later...

It would (maybe) be good to have a quick check

[2017-02-09 18:33] maximkulkin commented on #584
This is not a framework problem and yes, it is hard to implement. By the time constructor is executed, it already doesn't have reference to `tags_id` as a field. The class dictionary contains only "tags", "load_tags" and "tags_id". I guess you could get a warning from a some static analysis tool like pylint. But generally you should be using proper naming conventions (e.g. name your functions with

[2017-02-09 18:43] justanr commented on #584
To add to @maximkulkin this isn't even doable in Python 2.  If and when Marshmallow becomes Python 3 only, it can be done via the special prepare metaclass hook.

But you'd run into this issue with any class as class construction is essentially an exec into a dictionary, later values override previous ones.

[2017-02-10 09:11] silenius commented on #584
I agree, forget about this issue :)

[2017-02-10 09:11] #584 closed, assigned to nobody

[2017-02-14 04:49] podhmo commented on #580
this is work-around solution.

[code]

[2017-02-14 18:25] justanr commented on #580
A better solution might to allow iterables of truthy and falsey values in the constructor. Or using the function/method field to pipe the value through a custom truth check

[2017-02-14 23:25] lafrech opened #585 "Defining fields programmatically"
I have a list of field names as strings

    FIELDS = ('field_1', 'field_2',..., 'field_42')

and I would like to create this schema programmatically:

[code]

I managed to do that with a custom metaclass in which one can specify lists of dynamic fields. Each element of the list is a tuple containing both a list of field names and a `Field` specification (a `dict` containing field class + optional

[2017-02-15 01:19] maximkulkin commented on #585
What happened to plain old metaprogramming?!
[code]
You can even have different types of fields there:

[code]

or as a base for your customizations:

[code]

[2017-02-15 03:15] justanr commented on #585
Adding to that, with Python 3 you can even pass keyword arguments to metaclasses.  With 3.6 `__init_subclass__` was introduced which isn't entirely helpful in this case (it's run *after* the class has been defined and ergo all the fields have been sucked up) but it's helpful to be aware of it as passing keyword arguments to a class constructor will break with an obscure-ish error: `TypeError: __in

[2017-02-15 11:44] lafrech commented on #585
Thank you guys for your answers.

This is what I'm doing now:

[code]

It works great and it is the Python-only solution I was looking for before engaging into this Marshmallow metaclass mess.

The only thing I miss is how to pass Meta class with strict=True.

Do I need to do this ?

[code]

or this ?

[code]

or can I pass this metaclass somewhere? I'm a bit confused about how this Meta class wor

[2017-02-15 14:23] justanr commented on #585
The Meta field will be inherited like any other attribute. If it's not present, look for it in the MRO.  If it is present, then use that value instead.

If you need to inherit some of the parent's configuration and override some, use inheritance on the Meta.

[code]

Now any schema that inherits from this schema and doesn't provide its own Meta will be strict.

[code]

This schema is both strict a

[2017-02-15 14:53] lafrech commented on #585
Alright. So what I can do in my application is create a StrictSchema for all Schemas to inherit:

[code]

then use it as a base here

[code]

And if I need to override Meta:

[code]

Thanks to you both.

[2017-02-15 14:53] #585 closed, assigned to nobody

[2017-02-15 16:51] maximkulkin commented on #585
You could also do

[code]

[2017-02-18 17:32] sloria commented on #395
As mentioned in #582 :

If there's interest in getting this fixed in 2.0, I can look into merging #582, but I'd rather users just upgrade to 3.0.

[2017-02-18 17:34] #328 closed, assigned to nobody

[2017-02-18 17:36] sloria commented on #430
I am thinking we'll revert this and include in an early 3.0a release.

[2017-02-18 17:39] sloria commented on #491
Closing as a dupe of #430 ; any further discussion should happen on that issue.

[2017-02-18 17:39] #491 closed, assigned to nobody

[2017-02-18 17:40] sloria commented on #397
Closing as a dupe of #430 ; any further discussion should happen on that issue.

[2017-02-18 17:40] #397 closed, assigned to nobody

[2017-02-18 18:03] sloria commented on #570
Yes, this is a common use case. You might be interested in the [webargs](https://github.com/sloria/webargs) project, which uses marshmallow to validate request data (including form data).

[2017-02-18 18:03] #570 closed, assigned to nobody

[2017-02-19 17:00] sloria commented on #580
I am open to this. Looks like this was implemented in Django-REST-framework's BooleanField (https://github.com/tomchristie/django-rest-framework/commit/276ed80fd302184dddb3af01e53d43be4aef15e4).

PRs welcome.

[2017-02-19 19:32] sloria commented on #395
This is addressed in https://github.com/marshmallow-code/marshmallow/commit/54f731d02a841300cc41627254d318e60310b3fd

[2017-02-19 19:32] #395 closed, assigned to nobody

[2017-02-19 20:14] sloria commented on #430
This is done in https://github.com/marshmallow-code/marshmallow/commit/d9dbae14b8007368ee6d83c1871ceacd58bad9b5

[2017-02-19 20:14] #430 closed, assigned to nobody

[2017-02-19 20:21] lafrech commented on #453
@deckar01 wrote:

@sloria, do you think Marshmallow 3.0 could introduce skip_load/skip_dump and deprecate load_only/dump_only?

[2017-02-19 20:42] maximkulkin commented on #453
What does "force" actually mean? If the field is not marked with "required", will "force" flag force to be required?

I don't get why people are so concerned about naming and claim that it is used a lot. It should not. Most common - "password" is load_only, "id" - dump_only. If you have use cases that require you defining complex dependencies and load/dump schemas, you should really consider split

[2017-02-19 20:58] lafrech commented on #453
Just to clarify, there are two points at stake here:

- the whitelist feature, which is what the OP is about,
- the naming of load_only/dump_only (side note in the OP)

Regarding the second point, there are two potentially surprising things about those names:

As @nickw444 said in OP

And as @deckar01 said

I found this a bit surprising and so did my colleagues.

As I said, it is no big deal. You

[2017-02-19 21:43] maximkulkin commented on #453
I agree with one thing: "load_only"/"dump_only" feilds in Meta class IS indeed confusing. It would be much easier to specify those flags directly in a field definition:
[code]
So, in my understanding the Meta fields are mostly used when you're integrating with third-party schema system (e.g. SqlAlchemy), you want to automatically import all their stuff and then customize it  further. So, I would s

[2017-02-20 03:53] elcolie opened #586 "How to put my schema to List?"
I have read an example but could not find my case. I am now still reading on it, but if somebody can help me figure out with minimal effort I would be appreciate

[code]

tests.py

[code]

error
[code]

How do I use ServiceListSchema?

[2017-02-20 04:12] elcolie commented on #586
Ah. My bad hope it can be an example for new comer

[code]

tests
[code]

[2017-02-20 04:12] #586 closed, assigned to nobody

[2017-02-21 22:16] luisincrespo commented on #585
What would you recommend if I want to extend the schema with a given field based on a specific condition, but keep all other fields intact?

[2017-02-21 22:27] maximkulkin commented on #585
@luisincrespo I though it would be obvious when I showed this snippet:
[code]
You can put an "If" statement in front of any line and thus make it conditional:
[code]

[2017-02-21 22:45] luisincrespo commented on #585
Thanks @maximkulkin but let me be clear. I have an existing Schema that inherits from marshmallow.Schema, and has its own fields. If I do this:

[code]

I'm not sure if it'll overwrite/ignore the existing fields from MyParentSchema.

[2017-02-21 22:55] maximkulkin commented on #585
It will inherit fields from parent schema unless you override them in your `fields` dictionary.

[2017-02-22 00:15] luisincrespo commented on #585
Perfect, thanks!

On Tue, Feb 21, 2017, 5:55 PM Maxim Kulkin <notifications@github.com> wrote:

[2017-02-22 16:03] Kobnar commented on #226
Using marshmallow 2.12.2 and I'm definitely running into this bug. Maybe I'm doing something wrong?

[code]

Relevant test case:
[code]

* Test fails with `AssertionError: 'SOURCE' != None`
* `print(errors)` outputs `{'type': ['Missing data for required field.']}`.

Fearing a namespace conflict with `type` (which is why I'm using `load_from` to begin with) I tried renaming the `load_from` field, b

[2017-02-22 16:11] maximkulkin commented on #226
This is a common error when defining default values with Marshmallow. `default` is for default value when dumping, for loading you have to use `missing`:
[code]

[2017-02-22 16:18] Kobnar commented on #226
Ah...

Sorry to waste your time.

[2017-02-28 15:16] tadams42 opened #588 "`missing` and `default` values not handled as documented"
Hi,

**given following schema:**

[code]

**I get:**

[code]

**I would expect it to work as following**

(https://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.fields.Field):

[code]

**I also tried to apply workaround from #378:**

[code]

**which gets me wanted result only partially, when deserializing:**

[code]

**Tested on `Python` and `marshmallow` versions:**

[code]

[2017-03-02 03:18] podhmo commented on #588
This is work example.

[code]

## detail

(sorry, I'm not good at English, but I'm trying to desrcribe about above code)

### missing and default option

`missing` option is using for deserialization, and  `default` is for serialization.  and the behaviors leave each field class's implementation(especially , `deserialize()` and `serialize()`).

(In code, fields.Int and fields.UUID's deserializatio

[2017-03-02 12:42] tadams42 commented on #588
Thanks for your detailed reply!

Since this behavior is a bit confusing I'll try to find time to add something about it to examples and to docs. If/when I find time for it, I'll do pull request.

[2017-03-02 14:39] sloria commented on #588
@tadamic Thanks for offering to update the docs. I would welcome a PR. And thanks @podhmo for your answer

[2017-03-02 14:39] #588 closed, assigned to nobody

[2017-03-02 15:53] SamuelMarks opened #589 "Question: Str()=>FooSchema, instead of DictType?"
Input:
[code]

Fit on:
[code]

So obviously I could use a `DictType` or do some fancy coding to generate new Python classes on the fly… but is there a better way? - The does seem like a common use case.

[2017-03-03 05:28] SamuelMarks commented on #589
Wait I found an example:
https://github.com/Dowwie/marshmallow_recipes/blob/master/people_zipcodes.py

[2017-03-03 05:28] #589 closed, assigned to nobody

[2017-03-04 15:51] #389 closed, assigned to nobody

[2017-03-05 23:09] skqr commented on #29
And what would we be doing after `data_handler` was removed in 2.0, @sloria ?

Thanks!

[2017-03-06 02:31] sloria commented on #29
@skqr You can use a [@post_load](https://marshmallow.readthedocs.io/en/latest/extending.html#pre-processing-and-post-processing-methods) method to do the same thing as `data_handler`.

Yet another alternative is to update a schema's fields on `__init__`.

[code]

[2017-03-06 15:38] MrYoda commented on #29
So tired. I can not access original object via post_dump.
My case: I have many models in my django project with various text data, and I going to integrate django-modeltranslation to i18ning my models. And I would not add manually all fields with translations to schemas, but I want to do it on fly depending on settings.LANGUAGES, for example.
Some code:
[code]
What do you think about this case, @s

[2017-03-06 16:02] maximkulkin commented on #29
@MrYoda I would create a custom metaclass that would take a list of I18n field names and creates clones and adds post_dump processors.

Although, unless you're writing a translation tool the whole idea looks weird.

[2017-03-06 20:58] maximkulkin commented on #29
@MrYoda Here is an example of how to do that (if I understand problem correctly):
[code]
Alternatively, you can use special type to mark localized strings:
[code]

[2017-03-07 02:34] lauwers opened #594 "Unable to update context in between loads"
I'm using Marshmallow with Flask to parse payloads. I have a need to pass a number of request-dependent IDs to the various fields, for which I use the "context" field of my Schemas. I access context data within pre_load functions.

The first time I "load" data, everything works fine: I create the necessary schema, and set my IDs in the context based on the request. Everything parses OK. However, a

[2017-03-07 05:16] maximkulkin commented on #594
Source code, please.

[2017-03-07 09:29] MrYoda commented on #29
@maximkulkin Thank you for very good snippet!

[2017-03-07 19:07] lauwers commented on #594
I’ll try to distill the simplest possible code snippet in a follow-up email.

After some more digging, it looks like this problem may be limited to List fields with nested schema:

Class NestedSchema(Schema):
   name = fields.Str()
   number = fields.Integer()

class MySchema(Schema):
  users = fields.List(fields.Nested(NestedSchema)

After the first time I use MySchema, any context updates don’t

[2017-03-07 19:58] lauwers commented on #594
Here is code that shows the problem. While experimenting, I found out that the problem only happens if I create multiple top-level schema objects. If I reuse the same top-level schema object, everything works as expected.

Chris

[2017-03-07 20:49] maximkulkin commented on #594
Yes, it is a limitation of current design: on schema instantiation all field objects are bound to that particular instance. Through this binding they obtain context. If you will create multiple schemas, all field objects will bind to the last one created.

Solution: do not create multiple schemas, reuse a single instance.

[2017-03-07 20:57] lauwers commented on #594
Thanks for the explanation. Will do.

Chris

[2017-03-08 11:06] frol commented on #344
@sloria it is not the >1 way to do things, it might be the only way to do things when it comes to Marshmallow-SQLAlchemy, where the schema is inferred. Currently, we implement this support ourselves in our own base Schema class patching the auto-generated fields in `__init__`...

[2017-03-08 21:54] norbertpy opened #596 "marshmallow field and schema validation order"
Given the following Schema:

[code]
I expect to get a `ValidationError` exception because I didn't provide `name` which is a required field. But instead I get:

[code]
Why is that? What is the order of validation in marshmallow?

[2017-03-08 22:21] sloria commented on #596
Field validators (including `required=True`) are run before schema-level validators (`validates_schema`). In marshmallow 2.x, however, schema-level validators are still executes, even if field-level validators fail. You can prevent this by passing `skip_on_field_errors=True` to `validates_schema`.

[code]

We are planning on making `skip_on_field_errors` default to `True` soon (see #352).

[2017-03-08 22:21] #596 closed, assigned to nobody

[2017-03-08 22:24] #594 closed, assigned to nobody

[2017-03-08 23:09] #568 closed, assigned to nobody

[2017-03-08 23:20] sloria commented on #537
@Fedalto Apologies for the delayed response.

I would certainly review and merge a PR adding hour precision.

[2017-03-08 23:24] sloria commented on #526
@amcclanaghan is correct; `post_load` methods will only execute if the data are valid. In your example, `None` is considered invalid input to your fields, so `post_load` won't execute. You can pass `allow_none=True` to your fields if you consider `None` valid input.

[2017-03-08 23:24] #526 closed, assigned to nobody

[2017-03-08 23:26] sloria commented on #481
@smheidrich This feature is best left to other libraries or your application code. marshmallow-json does something close to what I think you're describing. See https://marshmallow-jsonapi.readthedocs.io/en/latest/quickstart.html#compound-documents .

[2017-03-08 23:26] #481 closed, assigned to nobody

[2017-03-09 00:50] sloria commented on #423
There is currently no way to access parent data from a nested schema. As @daniloakamine , your best bet is to do any postprocessing in the parent schema.

[2017-03-09 00:50] #423 closed, assigned to nobody

[2017-03-09 01:32] sloria commented on #344
@frol It's not clear that these class Meta options (`required`, `dump_only`...) belong in marshmallow core, since they are only relevant for libraries that auto-generate fields. This has been pointed out [here](https://github.com/marshmallow-code/marshmallow/issues/453#issuecomment-280951726). So for now we won't add `required` as a class Meta option and leave it up to consuming libraries to add i

[2017-03-09 03:58] #352 closed, assigned to nobody

[2017-03-09 04:10] sloria commented on #583
`as_string` only applies to serialization.

I think the correct solution is to use a custom field that deserializes empty strings to `None`.

[code]

Hope that meets your use case.

[2017-03-09 04:10] #583 closed, assigned to nobody

[2017-03-09 04:33] sloria commented on #377
After giving this some thought, I am leaning towards making schemas strict by default.

If anyone has objections, speak now or forever hold your peace. =)

[2017-03-09 11:15] smheidrich commented on #481
@sloria The ``Relationship`` field from that library definitely looks very close to what I wanted, I'll look into it, thank you very much!

[2017-03-09 12:46] sloria commented on #466
We are holding off on adding `dump_only` as a class Meta options for the reasons given [here](https://github.com/marshmallow-code/marshmallow/issues/344#issuecomment-285226593) and [here](https://github.com/marshmallow-code/marshmallow/issues/453#issuecomment-280951726).

You can add `allow_none` as a class Meta option like so:

[code]

[2017-03-09 12:46] #466 closed, assigned to nobody

[2017-03-10 05:02] #580 closed, assigned to nobody

[2017-03-10 05:36] sloria commented on #394
We don't have plans to add this in the near future. I like your workaround, though. Thanks for submitting the issue.

[2017-03-10 05:36] #394 closed, assigned to nobody

[2017-03-10 05:40] sloria commented on #471
You can use a custom field that accepts empty strings as input. From https://github.com/marshmallow-code/marshmallow/issues/583#issuecomment-285249535 :

[code]

[2017-03-10 05:40] #471 closed, assigned to nobody

[2017-03-10 13:29] Wesmania opened #597 "TypeError - unexpected keyword argument 'ordered'"
When running our tests with marshmallow-2.13.2 and marshmallow-jsonapi-0.10.2, we encountered this stack trace:

[code]

This might be related to #593.

[2017-03-10 13:30] sloria opened #598 "RFC: Return deserialized data when strict=True"
## Status quo

`load` currently returns a namedtuple (`UnmarshalResult`) containing both the deserialized data and error messages.

[code]

## Proposed API

When `strict=True`, return only the deserialized data. Messages can already be accessed from `ValidationError.messages`.

[code]

[2017-03-10 14:11] sloria commented on #597
Thanks for reporting. This error is certainly related to #593, which added the `ordered` argument to OPTIONS_CLASS.

Looks like we'll need to find an alternate solution that doesn't break compatibility with 2.x. @frol Would you be willing to look into this?

[2017-03-10 14:13] sloria commented on #377
Along with making `strict=True` the default, I think it would make sense if `load` returned the deserialized data instead of a named tuple. See #598 . Feedback welcome!

[2017-03-10 15:04] frol commented on #597
@sloria We can update the opts instance setting the `ordered` attribute in the `__new__` instead of passing it through `__init__`.

[2017-03-10 15:47] sloria commented on #597
@frol Sounds like the right approach.

[2017-03-10 16:17] sloria commented on #597
@frol Are you working on a PR? If you don't have time right now, let me know. I can look into it when I get home later today.

[2017-03-10 16:26] frol commented on #597
@sloria I am working on PR. I am sorry for the breakage :(

[2017-03-10 16:27] sloria commented on #597
No worries. Thanks for working on this!

[2017-03-10 16:33] douglas-treadwell commented on #377
I support strict=True by default, which we have configured in our codebase by inheriting from a class with Meta: strict = True.

However, I'll reply on 598 about the change to the return value of .load.

[2017-03-10 16:34] douglas-treadwell commented on #598
I am in favor of strict=True by default, but I think the API for load() returning different KINDS of data depending on configuration might be confusing.

[2017-03-10 16:36] douglas-treadwell commented on #598
I think it's better if methods always return the same "kind" or "shape" of data.  However, here's an alternative...

What about a second method such as .loaddata() which only retrieves the data and ignores the errors?  This way there's a shorthand for people who don't care about the errors.  Obviously also the corresponding .loadsdata().  I suppose this isn't much shorter though than .load().data.

[2017-03-10 19:03] maximkulkin commented on #598
Can people who don't care about errors just write `schema.load(payload).data` instead?

[2017-03-10 19:06] maximkulkin commented on #598
@douglas-treadwell I vote not to do that. Once Marshmallow goes this route, there are plenty of option combinations to introduce as a new methods: `loaddata()`, `loadmany()`, `loadstrictmany()`...

@sloria I would rather opt to deprecate `strict` option at all and just do validation error exceptions all the time. Then `load()` could return just data in an nonconfusing way

[2017-03-10 19:33] douglas-treadwell commented on #598
@maximkulkin I agree and withdraw my suggestion about loaddata().  It's perfectly fine to do load().data.

[2017-03-10 19:52] iainctduncan commented on #471
Thanks! Marshmallow is awesome btw. I love having a framework agnostic sqlalchemy friendly layer that can go in any python context. :)

[2017-03-11 16:43] #597 closed, assigned to nobody

[2017-03-12 10:43] lafrech commented on #483
I like `fields.Dict(key=fields.Str(), values=fields.Nested(SomeSchema))`.

We use Marshmallow in a MongoDB ODM: [uMongo](https://github.com/Scille/umongo).

If I want to serialize this in Mongo

[code]

using a `Dict` field does not allow me to enforce a schema. I need to create a dedicated nested structure and put it in a list:

[code]

and then I only get a list I can't access by keys (unless I

[2017-03-13 16:55] norbertpy commented on #127
Would have been great if setting `strict=True` would actually raise an error on unknown fields.

[2017-03-13 17:10] lafrech commented on #127
`strict` might be misnamed but it is just about whether raising an `Exception` or not, not being more strict in the validation.

Whether to trigger a validation error on unknown fields is independent and is discussed in https://github.com/marshmallow-code/marshmallow/issues/524. You may comment there to advocate for an integration of the `check_unknown_fields` validation method into the core.

[2017-03-14 00:56] sloria commented on #598
I like @maximkulkin 's suggestion. So we would

1. Implement #377 and make strict mode the default
2. Modify `load` and `dump` return (de)serialized data rather than a (Un)MarshalResult (as in the proposed API above
3. Raise a `DeprecationWarning` if `strict=False` is passed to either the `Schema` constructor or as a `class Meta` option

[2017-03-17 21:12] JMStudiosJoe opened #601 "marshmallow to handle file uploading"
Which marshmallow field or parameter do I need to handle csv files through python flask?
class FileUploadSchema(BaseSchema):
    file = Raw(required=True, missing=None)
    type = String(required=False, missing=None)
    csv = Dict(required=False, missing=None)

I know my data is pinging it since type I know is being changed but file and csv are both none

[2017-03-17 22:33] JMStudiosJoe commented on #601
turns out webargs is what is suppose to be used... not clear in documentation

[2017-03-17 22:33] #601 closed, assigned to nobody

[2017-03-17 23:24] mike-lerch opened #602 "post_load not running with fields.Method schemas"
I am attempting to create a schema that uses a specific class name based on some criteria.

I wrote a useless (but generic) example to illustrate the issue I am running into:

[code]

The last assert fails.

It appears that a field derived from `fields.Method` do not fire their post_load functions, so the object comes back as a dictionary instead of a `User`.

If this were a `fields.Nested`, inste

[2017-03-18 09:14] lafrech commented on #602
Looks like polymorphism. You might be interested in https://github.com/maximkulkin/marshmallow-oneofschema.

[2017-03-18 17:07] sloria commented on #349
Going to hold off on adding dateutil as a dependency for now. Closing, but feel free to open if these needs further discussion.

[2017-03-18 17:07] #349 closed, assigned to nobody

[2017-03-18 17:18] sloria commented on #516
I'm going to hold off on moving forward with this. You can use a custom validator if you want to accept empty collections as valid input.

[code]

[2017-03-18 17:18] #516 closed, assigned to nobody

[2017-03-18 17:34] lafrech commented on #516
As pointed out by @maximkulkin

    validate.ContainsOnly([1, 2, 3])([1, 2, 3, 3])

raises `ValidationError`.

It seems intended (explicit `del choices[index]` in the code) but is not explicit in the docs, and in fact, I don't get the rationale.

The docs says

[2017-03-18 17:40] sloria commented on #364
Since the "render module" decides the behavior of "dumps" and "loads", I think it is simpler to have just one option that assumes a "dumps" and "loads" method.

As for the name, I am leaning towards `render_module`.

[2017-03-18 17:55] sloria commented on #516
Good point, @lafrech and @maximkulkin . That specific behavior seems incorrect; I'll open a new issue.

[2017-03-18 17:59] sloria opened #603 "validate.ContainsOnly raises error if input contains duplicate, valid entries"
Reported in https://github.com/marshmallow-code/marshmallow/issues/516#issuecomment-287561530:

This behavior is unintended. Duplicate, valid entries should be considered valid.

[2017-03-18 18:02] sloria commented on #354
Closing this for now. Further discussion should happen on #347

[2017-03-18 18:02] #354 closed, assigned to nobody

[2017-03-19 03:50] #603 closed, assigned to nobody

[2017-03-19 19:18] sloria commented on #516
After giving this some thought, I think `ContainsOnly` should accept empty values as valid inputs. Validating against empty vs. non-empty is outside the responsibility of `ContainsOnly`. If you need to validate that input is non-empty, use `Length(min=1)`.

[2017-03-19 22:39] sloria commented on #453
I don't plan on adding a whitelist feature because it would be redundant and potentially confusing API. I think the OP's use case can be solved with a base class that uses the `on_bind_field` hook. Something like

[code]

As for the names `dump_only` and `load_only`--these make sense in the context of the `dump_only` and `load_only` *field constructor* parameters. @maximkulkin does have a point th

[2017-03-19 22:39] #453 closed, assigned to nobody

[2017-03-19 23:04] sloria commented on #375
I believe the desired behavior is already implemented--the `only` parameter is respected upon deserialization. I've verified that @joshfriend 's code example works in both marshmallow 2.13.3 and 3.0.0b1.

[code]

[2017-03-19 23:04] #375 closed, assigned to nobody

[2017-03-19 23:52] sloria commented on #513
This is simple enough to implement as a custom field.

[code]

Usage:

[code]

Closing this for now. I'm going to hold off on adding this to core, as the custom field above is a simple workaround. We can reopen if there is further interest in adding this to core.

[2017-03-20 00:02] sloria commented on #289
There is a proposal in #334 to allow error messages to be defined as callables that receive the input value and field object. It would also make sense to also pass the field object to validators if we move forward with the OP.

[2017-03-20 00:18] sloria commented on #450
I agree this behavior is not intuitive. Looks like dot-delimited attribute syntax isn't being respected upon deserialization.

I would gladly review and merge a PR for this.

[2017-03-20 01:18] sloria commented on #450
I fixed this in https://github.com/marshmallow-code/marshmallow/commit/8d90fb9d67f74a7497437db32b0781f398e8449e . I'll release a hotfix shortly.

[2017-03-20 01:24] #450 closed, assigned to nobody

[2017-03-20 01:35] sloria commented on #450
Fix is in 2.13.4 and 3.0.0b2.

[2017-03-20 04:12] itajaja commented on #450
Thanks! Keep up the great work :)

[2017-03-21 00:58] sloria commented on #602
I think the problem is that you are not passing the `deserialize` argument to `fields.Method`.

You can modify UserEventSchema like so to select a schema based on the `name` in the input:

[code]

The assertion passes.

As @lafrech mentioned, you might want to check out marshmallow-oneofschema or [marshmallow-polyfield](https://github.com/Bachmann1234/marshmallow-polyfield).

Hope this helps!

[2017-03-21 00:58] #602 closed, assigned to nobody

[2017-03-21 01:28] sloria commented on #378
I think the OP makes sense. I would gladly review and merge a PR for this.

[2017-03-21 02:42] sloria commented on #417
Sorry it's taken so long to reply to this.

Honestly, I'm not sure where to go with this. It is common to have app-level objects that have attributes that are `None`--e.g. nullable ORM fields, as you pointed out. Deserialization is meant to validate and construct app objects from *user/client input*, which may not necessarily be the same as the serialization output. In this case, I think it is bet

[2017-03-21 03:07] sloria commented on #511
I would be open to changing the behavior for deserializing `None`. I think either

1. Deserialize `None` as an empty dict. Required fields would raise an error.
2. Raise a schema-level error. The errors dictionary would be something like `{'_schema': 'No data provided'}`

Thoughts?

[2017-03-21 03:38] Windfarer commented on #511
I think there would be two level validation.
Maybe a schema level ```ignore_none```or ```allow_none``` parameter could be introduced.
If we init a schema with this parameter, the loading will do or skip this schema level validation. And if we allow None to go into the field level validation, then the field will check the require fields and raise field level exception.

Just my subjective opinion,

[2017-03-21 04:01] mike-lerch commented on #602
https://github.com/Bachmann1234/marshmallow-polyfield did the trick. Thank you so much!

[2017-03-21 08:22] lafrech commented on #511
Wouldn't it be better if `dump` acted symmetrical so that `dump(load(stuff))` would always return `stuff`?

Currently, this is what happens:

    Test.dump(Test().load(None).data).data -> {}
    Test.load(Test().dump(None).data).data -> {}

I'm not sure whether `None` should [de|]serialize as `None` or raise en `Exception`, but empty `dict` is not equivalent to `None`. `None` has a special meaning

[2017-03-21 09:27] dtheodor opened #606 "Denormalize on deserialization"
Is there a built-in way to denormalize when dealing with data with nested relationships, something like this:

Deserialize this input:

[code]

To this

[code]

Basically output a list of items, that are derived from some nested list, and enrich the items with data from their parent

[2017-03-21 10:06] silenius opened #607 "pre and post processing"
Hello,

Let's say I have the following (simplified) code:

[code]

(in the end `props` is saved/loaded in/from a PostgreSQL JSON column)

Imagine the following use case:

1. I'm serializing an object (SQLAlchemy entity) according to the Schema’s fields (`.dump(entity)`)
2. I'm populating a form with the serialized data (`props` is now a serialized string)
3. The form is submitted by the user
4. I'

[2017-03-21 10:43] silenius commented on #607
another option would be to use:
[code]
and re-submit the form with the "raw" data

[2017-03-21 12:15] sloria commented on #606
You can do this sort of post-processing in a `post_load` or `post_dump` method. See https://marshmallow.readthedocs.io/en/latest/extending.html#pre-processing-and-post-processing-methods .

[2017-03-22 12:29] sloria commented on #607
A perhaps more re-usable approach would be to use a custom field.

[code]

Which you could use like so:

[code]

The output will be:

[code]

Hope this meets your use case.

P.S. The issue tracker is the correct place to ask questions like this. =)

[2017-03-22 12:29] #607 closed, assigned to nobody

[2017-03-22 12:38] sloria commented on #598
One use case that would be missed if we deprecate `strict=False` would be accessing partially valid data. You can currently do the following:

[code]

A simple solution would be to store partially valid data on `ValidationError`, so that you could do:

[code]

[2017-03-22 13:50] silenius commented on #607
excellent, thank you :smiley:

[2017-03-23 02:50] sloria commented on #598
I've gone ahead and implemented the `valid_data` attribute as proposed in my last comment, so the "partially valid data" use case is addressed whether or not we go ahead with the original proposal.

[2017-03-26 05:40] #606 closed, assigned to nobody

[2017-03-26 15:37] #364 closed, assigned to nobody

[2017-03-27 12:13] sloria opened #608 "Email and URL fields should not validate on serialization"
All fields except for `Email` and `URL` validate only upon deserialization. `Email` and `URL` fields should be modified to be consistent with the other fields.

[2017-03-27 21:28] density commented on #450
This change actually turned out to be backwards incompatible (it visibly changes the way deserialization works). Luckily, I have tests to catch things like this but for our friends who aren't so lucky, we should be more careful about minor point releases (this was released with version 2.13.4) with backwards incompatible changes...

[2017-03-27 23:43] sloria commented on #450
@density This was not considered a breaking change because it does not break any API contract (defined by documentation and tests) *and* goes against user expectation. Sorry for any inconvenience it may have caused you. We do take backwards-compatibility seriously, and we appreciate any feedback you can give in this regard.

[2017-03-28 00:07] density commented on #450
No inconvenience caused!

[2017-03-28 08:01] lafrech commented on #450
I can't help but quote [this xkcd](https://xkcd.com/1172/).

![Workflow](https://imgs.xkcd.com/comics/workflow.png)

[2017-03-28 12:40] density commented on #450
😇😂

[2017-04-13 01:14] #556 closed, assigned to nobody

[2017-04-16 08:12] vgavro opened #610 "Bug: field "attribute" option ignored on deserialization"
Field's `attribute` works only for dump, but not for load. This way it's just duplicating `dump_to` functionality.

Consider following example:
[code]

The question is - *is it expected behaviour*, have I missed something, or should i create pull request? Thank you.

[2017-04-16 09:35] vgavro opened #611 "Proposal: field "load_from" option - lookup for dotted path"
It would be extremely useful to have dotted-lookup for loading objects, like it template engines for example.
Consider the following code:
[code]

There is some caveats, for example when dealing with dictionary with dotted key of same name - lookup will be ambiguous, but i don't think this can be a big problem. But if you consider this as backward-compatibility problem, option can be named "load_f

[2017-04-16 11:10] vgavro opened #612 "fields.DateTime - load/dump to timestamp"
I'm currently using this code to parse/dump timestamp, but I believe this should be in standard library. Should I create pull request, or have I missed another way to work with datetime/timestamp format?
[code]

[2017-04-16 15:06] sloria commented on #610
`attribute` specifies the attribute to use for objects to serialize, not deserialize. If you want to alias an input value to `load`, use `load_from`.

Perhaps this can be made clearer in the documentation. Docs PRs welcome. =)

[2017-04-16 15:06] #610 closed, assigned to nobody

[2017-04-16 16:00] sloria commented on #612
@vgavro I think this is a fair use case. I anticipate that users will typically want to deserialize to timezone-aware datetimes, so the API should make this simple. I haven't given to much thought to what it would look like though. Maybe it would make sense as a separate field that receives a `tzinfo` param,

[code]

[2017-04-16 16:08] sloria commented on #611
I am not entirely opposed to this feature, but I would be hesitant to integrate this if it added complexity to the codebase. Users can already use `fields.Method(deserialize=...)` for complex cases.

[2017-04-19 14:18] Hrom-in-space opened #613 "Incorrect behavior of fields.DateTime"
On python 3.4 in `fields.DateTime` function `utils.isoformatat` raise
[code]
but on python 3.5 it works correctly

[2017-04-22 15:25] barakalon commented on #524
+1 for adding built in support for this.

[2017-04-23 18:44] sloria commented on #613
The error is correct because `'2017-04-13 10:40:38'` is not a valid ISO8601 datetime. My guess is that it is working on python 3.5 because you have `dateutil` installed, which `utils.from_iso` will use to parse the datetime.

[2017-04-23 18:44] #613 closed, assigned to nobody

[2017-04-26 00:52] RussianCow opened #614 "Add `include` kwarg to constructor"
I would love to be able to have certain fields excluded by default, but included only in certain scenarios, without specifying the full list of fields I want every time. For instance, say I have a schema like this:

    class MySchema(Schema):
        id = fields.Integer()
        name = fields.String()
        expensive_field = fields.Function(lambda obj: obj.some_expensive_method())

I don't wan

[2017-04-26 12:07] gdalmau opened #615 "Validation does not return errors when using 'attribute' in a field"
I have the following code creating two different objects.

The one named 'WorkingModel' uses the field name directly.

The second one called 'NonWorkingModel', which doesn't seem to be working, uses the attribute name instead.

When I validate both models the first one is able to find the error but the second one isn't.

[code]

[2017-04-26 12:28] timster commented on #615
I think you are probably looking for `load_from`

[code]

[2017-04-27 07:56] gdalmau commented on #615
Sorry if I didn't explain well and thanks for your fast reply.

I want to validate the object passed to the Schema and if it doesn't return erros then get the dump or the load, but I want to specify the name that the model should expect (using `attribute=` or `load_from=`) and the name which the model should do the dump to (`dump_to=`).

Another example with code:

[code]

If there is no errors wh

[2017-04-27 23:03] timster commented on #615
Ah so in that case you need ``attribute``

[code]

``load_from`` = field to get data from when validating
``attribute`` = field to get date from when outputting
``dump_to`` = field to use in output dictionary

[2017-04-28 08:10] gdalmau commented on #615
I thought `attribute` would work with both `validate` and `dump` methods so I made this issue.

It can be closed then.

Thanks for your reply :smile:

[2017-04-28 08:47] tuukkamustonen opened #616 "Record errors for invalid types passed to Schema.load()"
With `2.13.5`:

[code]

1) I assume this doesn't produce errors, because there are no fields in the schema. However, as schema itself kinda represents `dict` type (=requires dict to parse values from), would it make sense to record error for `[]` and `123` etc.?

Then with `many=True`:

[code]

2) I would kinda expect `{}` to record error (because it's not list). And int value (non-iterable value)

[2017-04-28 13:43] tuukkamustonen opened #617 "@validates_schema(pass_original=True) doesn't get "original value""
Sorry for the length of the ticket, however I hope these (passing) tests demonstrate what I'm talking about. With `2.13.5` and:

[code]

First one:

[code]

So `@validates_schema` is always called here. Nice.

If we add `many=True`:

[code]

Why isn't `@validates_schema()` not called for `{}` and `[]`? I guess it's because we default to `pass_many=False`:

So add `pass_many=True`:

[code]

Now `@v

[2017-05-02 08:02] tuukkamustonen commented on #617
This is way too broad, plus I mixed up some webargs there. Closing and will re-open in a saner form...

[2017-05-02 08:02] #617 closed, assigned to nobody

[2017-05-03 06:07] tuukkamustonen commented on #524
I now need to support this together with `many=True`.

With something like:

[code]

With `Sch(many=True).load([{'foo': 1}, {'bar': 1}])`, `@validates_schema(pass_original=True)` gets passed the array.

I can iterate the array and find the extra keys _per index_, but I cannot sensibly report the errors _per index_ (because raising `ValidationError` does not support assigning to indexes with `field

[2017-05-03 06:15] tuukkamustonen opened #623 "Don't accept True/False as Int()"
In python, `True`/`False` are tracked by an int value, but I think marshmallow should not accept `True` or `False` as `Int()` field. Or at least it should be configurable.

[2017-05-03 10:21] #615 closed, assigned to nobody

[2017-05-05 17:24] luhn commented on #344
Gonna pitch in here with my usecase.  Let's say this is my schema:

[code]

I want to add a create album endpoint and an update album endpoint to my app.  If I'm creating an album, all the fields are required.  If I'm updating an album, fields can be absent and the value will be left as-is.  So I'd like to do something like:

[code]

Or perhaps:

[code]

Would be nice.

Right now I don't see a way

[2017-05-07 00:26] luhn commented on #344
After learning some more, it looks like I've got it backwards.  I should be declaring fields as required and then using `partial` to allow them to be missing.

[2017-05-09 21:54] sloria commented on #483
This is something I'd like to review for 3.0. I think there are valid use cases for validating keys, and I think @lsenta 's and @lafrech 's proposed API is reasonable.

[2017-05-11 19:37] JeffBerger opened #626 "Valid byte representations of UUIDs fail"
If a byte representation of a UUID is passed into a marshmallow UUID field it will be flagged as invalid.  This is because the UUID constructor does not tell the difference between a hex string and a byte representation and will try and parse the byte representation as a hex string and fail.  To create a UUID from a byte representation the bytes must be passed into a `bytes` kwarg in the construct

[2017-05-11 21:09] CausticYarn commented on #511
I vote for option 1, return an empty dict, with an error thrown for missing required fields. Any non-required fields would return a KeyError on access, just as if they weren't provided.

[2017-05-13 16:57] sloria commented on #496
Closing. Further discussion should happen on #483

[2017-05-13 16:57] #496 closed, assigned to nobody

[2017-05-13 16:57] sloria commented on #483
@lafrech Would you like to send a PR implementing your proposed API?

[2017-05-14 19:57] sm11963 opened #627 "Serialized then deserialized Datetimes are not equal"
As a new user, I would expect the following code to work correctly:
[code]

Now since the DateTime field serializes differently when python-dateutil is available, there are two cases:

## python-dateutil is available

The above will fail since the utc timezone is added to the serialized datetime, which was timezone unaware before serialization.

## python-dateutil is not available

It will also fa

[2017-05-14 20:26] sm11963 commented on #627
Here is the code for deserializing iso datetime:
[code]

It seems like we are intentionally ignoring the timezone, so I am curious what is the reason for this??
Is it due to restrictions with Python 2?

[2017-05-15 16:19] lafrech commented on #627
Could be related to https://github.com/marshmallow-code/marshmallow/issues/520.

[2017-05-15 16:26] lafrech commented on #483
@sloria I'm afraid I won't be able to do this any soon, but if I get the time, I'll be happy to give it a go.

Note that it wouldn't be a breaking change, so it could be added in a later 3.x.

Did you get the chance to look at [@deckar01's proposal](https://github.com/marshmallow-code/marshmallow/issues/483#issuecomment-230937317)?

[2017-05-16 17:38] vgavro commented on #462
Solution:
[code]

[2017-05-18 17:59] luka-zitnik opened #630 "Deserializing Nones into SQLAlchemy objects"
Hi guys,

Are you familiar with this error?

`<class 'sqlalchemy.orm.exc.UnmappedInstanceError'>, UnmappedInstanceError("Class 'builtins.dict' is not mapped",)`

It appears when working with dictionaries with `None`s deserialized into SQLAlchemy objects.

[2017-05-18 23:34] johnwheeler opened #631 "Is it possible to exclude fields from serialization at dump time?"
Is it possible to exclude fields from serialization at dump time?
Something like

[code]
instead of having to exclude at the `Meta` class level?

Thanks

[2017-05-18 23:35] #631 closed, assigned to nobody

[2017-05-19 08:48] luka-zitnik commented on #630
I guess this and similar problems are resolved with https://github.com/marshmallow-code/marshmallow-sqlalchemy?

[2017-05-19 11:55] sloria commented on #630
I'm not quite sure what the source of your problem is without seeing more of the code. Indeed, you might try out marshmallow-sqlalchemy to see if it handles your use case. Closing this for now, feel free to re-open and add more details if necessary.

[2017-05-19 11:55] #630 closed, assigned to nobody

[2017-05-19 12:00] sloria commented on #623
I think you are correct. I don't think we need to add extra configuration for now--`True` and `False` can be considered invalid `Int` input.

[2017-05-22 20:17] upmauro opened #633 "[Question] Skip output for None fields?"
Is possible remove None fields from serialize dumps?

Ex.:

`schema.dump({'id': 1,'value_null': None,}).data`

Want output like

`{'id': 1} `

[2017-05-23 12:22] NikosVlagoidis commented on #633
A solution might be if you use the post_dump decorator and clear the field with None value

[2017-05-23 23:15] sloria commented on #633
Yes, a post-dump method is the correct way to achieve this. See here: https://github.com/marshmallow-code/marshmallow/issues/229#issuecomment-134387999

[2017-05-23 23:15] #633 closed, assigned to nobody

[2017-05-24 12:30] YuppY opened #634 "Broken passing of context inside fields.List(fields.Nested(SomeSchema))"
If schema is declared like this:
[code]
Then `context` is saved on first call and ignored on further calls:
[code]

It is because `copy.deepcopy(self._declared_fields)` doesn't copy `List.container` field and schema with `context` is cached inside `Nested` field and saved inside `_declared_fields`.

[2017-05-24 17:06] justanr commented on #634
Any reason to do it like that instead of declaring the nested field to be many? This sounds like a bug to me but on the other hand, is it a use case that Marshmallow should support?

[2017-05-28 14:48] anapaulagomes commented on #597
Still not working. I took a look at the source code and it seems fixed. But when I did install with `pip` and even with the `.zip` file I face the same problem. :( I'm using Python 3.6.1.

[2017-05-28 15:17] frol commented on #597
@anapaulagomes Which branch do you select for the `.zip`? `dev` branch has this breaking change since it is 3.0 branch. Either add `ordered=False` keyword argument or `**kwargs` to your custom `SchemaOpts.__init__`, that will resolve the issue and will work in both Marshmallow 2.x and 3.x. Otherwise, ensure that you use 2.x releases.

[2017-05-28 18:47] sloria commented on #483
No problem, @lafrech . @deckar01 's proposal is on the right track; I think it would also be nice to have validation for keys, as suggested in https://github.com/marshmallow-code/marshmallow/issues/483#issuecomment-285936314

[2017-05-29 14:42] anapaulagomes commented on #597
I selected the `2.x-line`. I tried adding `ordered=False` as the commit fixing this problem did but it did not work.

[2017-05-29 15:30] frol commented on #597
Post the exact error you get.

[2017-05-30 11:07] jan-23 opened #636 "only is not bound by declared and additional fields on serializaton"
The only parameter is correctly bound to the fields that are defined in Meta.fields (#183):
[code]

Strangely it is not bound to the declared and additional fields:
[code]

It would be more consistent if the second example also returns an empty dict.

[2017-05-31 21:22] lnielsen commented on #556
Just for the record - this is a breaking change which should have been introduced in 2.14 instead. One of our public APIs broke, when we just bumped marshmallow from 2.13.4 to 2.13.5:

[code]

vs.

[code]

[2017-05-31 22:02] dradetsky opened #637 "proposal: add fields.Enum"
Although marshmallow is not just for sqlalchemy, I think a reasonable standard for completeness is: "It can be used to serialize the basic types of sqlalchemy." One thing that's kinda inconvenient right now is enums. My current issue is with sqlalchemy columns constructed from pep 435 enums, although it applies equally to the enums themselves.

so I propose adding a new kind* of field, `Enum`, whi

[2017-05-31 22:04] dradetsky commented on #637
Accidentally did search for enum in open issues instead of issues and missed https://github.com/marshmallow-code/marshmallow/issues/267. Will probably close this soon.

[2017-05-31 22:28] dradetsky commented on #637
marshmallow_enum answers my purpose. it's my own fault for not noticing "Ecosystem"

[2017-05-31 22:28] #637 closed, assigned to nobody

[2017-06-01 00:01] sloria commented on #556
@lnielsen See the discussion on https://github.com/marshmallow-code/marshmallow/pull/605 :

[2017-06-01 04:31] dradetsky commented on #614
Why not have 2 difft schemas, `MySchema` as above, and

[code]

and use whatever procedure decides whether to pass the include field to instead decide which schema to use?

[2017-06-02 11:21] #623 closed, assigned to nobody

[2017-06-02 19:12] RussianCow commented on #614
Thanks for the response! I don't want to do that because it's not necessarily all or nothing: I may want one or two of the optional fields but not all of them. If this is a use case you'd be open to supporting, I wouldn't mind submitting a PR when I have time; if not, that's fine too, just let me know either way. Or if you have any other ideas about how to handle this case, I'm all ears!

Thanks a

[2017-06-03 07:44] ghost opened #638 "way to validate two attr in the same @validate decorator??"
[code]

my problem is that how can I get the first value in the inline validate function???
I try to use self to get the value, but havn't find a way to get the value ...

[2017-06-03 10:04] lafrech commented on #638
Use [schema-level validation](http://marshmallow.readthedocs.io/en/latest/extending.html#schema-level-validation).

[2017-06-03 16:44] sloria commented on #638
Correct; use `@validates_schema` for your use case.

[2017-06-03 16:44] #638 closed, assigned to nobody

[2017-06-05 01:12] ghost commented on #638
thks .@validates_schema works for me..

[2017-06-06 06:51] dradetsky commented on #614
I'm not actually authorized to merge code for marshmallow (although it's nice of you to assume I am), I'm just trying to be helpful. As far as I can tell, you want some combination of 2 different schemas, and maybe some other thing. So basically, like the following sloppy code:

[code]

And you want to be able to specify atypical 0 by `[z]` instead of by `[x, y]`. Have I got that right? If so, is

[2017-06-06 07:38] amirkargar opened #639 "(De)serializing two nested classes with defaultdict and modified __getitem__"
What would be the correct schema for two nested classes as below. Please note the deaultdict and __getitem__ in both:

[code]

This is what I have thought would be the best schema but it still fails at reconstructing the Foo object with defaultdict in it:

[code]

Is any kind of defaultdict supported in Marshmallow?

[2017-06-07 04:42] harlowja opened #640 "Ability to have backref when nesting schemas"
This may be more of a question than a issue but thought it might be a good feature idea if its not already possible. The basic issue is that if I am writing a `post_load` function and the schema I am using it on is a nested schema, is there any way to have the `post_load` function also get the *parent* object? This is useful for things like backrefs in objects that are constructed from schemas; an

[2017-06-07 12:15] stringfellow opened #641 "There is no "description" or otherwise helpful attribute of a field"
Fields typically have some helpful text for a UI (be that graphical or command line) and it is surprising that marshmallow omits this.

While it is possible to casually add arbitrary properties to a field definition, it seems that encouraging users to follow some standard might be a good idea.

JSON Schema identifies "description" as a property to do this:
http://json-schema.org/latest/json-schema

[2017-06-07 13:20] netrounds-joakim commented on #641
I agree with this, was just about to add such an issue myself.

A perfect use case for this is using https://github.com/rochacbruno/flasgger together with Flask to generate a REST API Swagger schema. They support Marshmallow, but when using that there is no way to describe what a field does, just its type.

[2017-06-08 00:33] sloria commented on #641
I would rather not dictate how to store descriptions in marshmallow core. Descriptions are metadata that don't affect behavior, and there's already a way to store and access metadata:

[code]

This flexibility allows client libraries to use whatever name is appropriate (e.g. "description", "help", "desc", "info").

[2017-06-08 00:33] #641 closed, assigned to nobody

[2017-06-08 02:56] douglas-treadwell opened #642 "Rename class Meta to class Options"
Like [Schematics](https://schematics.readthedocs.io/en/latest/usage/models.html).

[code]
is too similar to \_\_metaclass__ or class MyClass(metaclass=...).

class Options is more semantically accurate for what this object is, and there's precedent for using that name, so I support renaming it.  For backward compatibility, marshmallow could check for the presence of either.

[2017-06-08 15:29] sebpiq opened #643 "`validates_schema` to reject unknown fields with `pass_many=True`"
Hi!

I struggle to understand how to handle unknown fields when the `Schema` is passed a list of objects for validation. I got so far :

[code]

But that obviously doesn't work, as the validator is ran for all items in the list every time. Therefore the first error will be caught, and returned on all items :

[code]

I was trying to think of a way to get only the single item from `original_data` c

[2017-06-09 12:30] sebpiq commented on #643
I came up with a solution, which doesn't seem trivial to me ... Maybe a case to re-open #524 ?
The problem is not simply with unknown fields, it is unknown fields in conjunction with `many` which currently makes it impossible to return a sane validation error.

Here is my workaround :

[code]

[2017-06-09 22:18] rizplate opened #644 "tuple field"
is there a tuple filed?

[2017-06-10 00:11] douglas-treadwell commented on #644
There doesn't seem to be one, but there is fields.List.  What's your use case @rizplate?

[2017-06-10 00:18] douglas-treadwell commented on #511
I would be okay with option 1 as long as there is a way to opt-in for passing None to raise an exception.

[2017-06-10 00:22] douglas-treadwell commented on #611
I agree with @sloria, users can already use `fields.Method`.  Hopefully these cases are rare enough that one or two Method fields are not burdensome to write.  Is that not true in your case?

[2017-06-10 00:44] douglas-treadwell opened #645 "Support validator=, validators=, or validate_with=."
In field constructors, validate=validation_function doesn't flow naturally in English.
An average person, before reading the docs, might think that a parameter named "validate" would take a boolean and turn validation on or off, like "strict".

For a single validator, Field(validator=is_lowercase) sounds more natural.
For multiple validators, Field(validators=[is_lowercase, is_alphanumeric]) sound

[2017-06-11 20:05] sloria commented on #642
I'm not opposed, though `Meta` came to be a common convention thanks to Django, WTForms, and others. Not sure the benefit is worth it. I'll keep this open for feedback though.

[2017-06-12 03:19] douglas-treadwell commented on #642
My proposal is to support both.

[2017-06-12 09:37] podhmo opened #647 "I want to define schema for primitive value"
hello.

Sometimes,  I want to define schema for primitive value (such as str, int, ...).
For example, swagger's response validation, like below.

[code]

This swagger spec's  `GET  /users/{userId}/emails`  API returns data like below.

[code]

So, I want to define schema for above example API(returning primitive value's array).

## my poor man's implementation(work-around)

Now, I'm defining work-

[2017-06-12 16:50] timster commented on #647
You could do it like this...

[code]

[2017-06-12 19:33] podhmo commented on #647
Ah, yes, it is another answer that passing dict has primitive value (primitive value's list) instead of passing primitive value.

[2017-06-12 20:14] douglas-treadwell commented on #626
@JeffBerger While you're waiting for feedback on #625, what about creating a Byte[s]UUID field type?

[2017-06-12 21:31] sloria commented on #642
I would rather not have two names for the same thing. Consumer libraries would need to know about both names, which is burdensome.

[2017-06-12 21:42] douglas-treadwell commented on #642
Good point.  I withdraw this proposal.  Actually I was working on something recently where I provided two hooks for the same configuration and ran into a bug, so I can imagine in a codebase that handles as many cases as Marshmallow it would lead to several bugs.

[2017-06-12 23:17] lnunno commented on #483
Is there any way to get around this limitation right now? I need this functionality replicated. Can this be achieved with a `pre_dump`? It appears to load ok somehow, but doesn't know how to dump to the correct schema.

[2017-06-13 00:05] #642 closed, assigned to nobody

[2017-06-13 08:26] podhmo commented on #647
95% of usecase, primitive value schema is not needed.
So, wrapping primitive value with dict is good work-around(timster's answer is better), maybe.

[2017-06-14 01:36] dgilland opened #648 "Schema fields with dict attribute names return dict attributes when keys missing"
Whenever a `Schema` is defined that has fields that shadow `dict` attributes (e.g. "items", "keys", "values", etc), passing a `dict` with those keys not present to `Schema.dump()` results in `dict` attributes being serialized:

[code]

I found #30 which indicates that this is intended behavior for dumping `dict` objects, but I was wondering if `3.0.0` may be open to changing it (for `dict` classes

[2017-06-15 02:58] podhmo commented on #647
this is my final work-around.

[code]

[2017-06-15 02:58] #647 closed, assigned to nobody

[2017-06-18 19:18] RussianCow commented on #614
Ah, my mistake, I'm not sure why I made that assumption. :) Thanks either way!

You are correct about the use case. What do you mean when you say to use set differences? What sets are you referring to?

[2017-06-20 09:21] gstryjew commented on #409
If in your data and schema fields have different names you need to add load_from param to your field to apply deserialized method to this field, otherwise the method will not be execute.

[2017-06-20 12:32] sloria commented on #409
That is correct @gstryjew . Feel free to send a PR updating the docs =)

[2017-06-20 15:14] martinstein commented on #319
Quick comment from my side, since this issue currently has the status "Feedback welcome": I agree with @chekunkov  and @maximkulkin that the current functionality is very surprising/weird. I was expecting `mm.fields.Nested(SomeSchema, many=True, required=True)` to give me strict feedback when that field was missing completely. Instead I get error messages about missing data within the list, even t

[2017-06-20 15:19] martinstein commented on #319
In general, I think a good approach for the API-design of a validation-library should be to favor strictness and simplicity over convenience. Don't do any nested validation of data that doesn't even exist.

[2017-06-21 15:26] Dr-ZeeD opened #649 "Add Polymorphic Schemas"
I know that currently the marshmallow-polyfield package exists that adds polymorphism to nested fields. But I'd be very interested in a polymorphic schema, much akin to what is feasible using [SQLAlchemy's joined table inheritance](http://docs.sqlalchemy.org/en/latest/orm/inheritance.html#joined-table-inheritance)

Would this be something that may be implemented in marshmallow if someone implement

[2017-06-23 20:41] dan-blanchard opened #650 "String fields should return an error when given non-UTF-8"
Currently, if a user specifies a `bytes` value for a `String` field that is not UTF-8, marshmallow will raise a `UnicodeDecodeError`. A more sensible thing to expect from a validation library like marshmallow would be for it to return an error message about this not being a valid UTF-8 `String`.

[2017-06-24 07:48] douglas-treadwell commented on #648
It might make sense for a dict object to only serialize the contents (items) rather than both items and attributes.  Similarly for an object, to serialize only the attributes and not the items, unless the object is a Mapping (collections.abc) in which case it could be treated as a dictionary.

Another option would be to have dump() take an argument to override the above standard behavior, such as

[2017-06-24 14:13] jbouzekri opened #651 "Number fields does not handle the nan value"
This is really an edge case but it could lead to bug in program. `fields.Number` does not handle the python `nan` value.

If I define this schema :

[code]

And I submit this query string `test=NaN`. Then the schema does not detect any error and the `test` param gets the python `nan` value

[2017-06-27 11:53] amshim opened #652 "Saving timestamp as-is"
I am trying to use ```marshmallow.fields.DateTime``` and trying to save ```2017-06-27T07:49:40-04:00``` for example, but it keeps converting it to ```2017-06-27T06:49:40+00:00```

(I am in EDT)

I am not quite sure what the documentation means

Is it converting to the system timezone? Because I don't want it to do that.

Is there a way I can force Marshmallow to leave the timestamp alone? Or do I

[2017-07-04 14:40] FrancescElies opened #653 "Apply @validates decorator multiple times?"
Hi,

I have a question, is there any reason why I should not apply the decorator `@validates` two times after each other?

[code]

In the tests and the docs decorator is only applied once to a given function.
I would like to apply the same validator to different fields.

Best regards & thanks in advance for your help

[2017-07-05 01:25] vgavro commented on #611
@douglas-treadwell Actually yes, I'm using `fields.Function` and `fields.Method` in this cases and it's ok, just thought that it would be more handy with less code. To resolve object path may be used this function https://github.com/vgavro/flask-vgavro-utils/blob/master/flask_vgavro_utils/utils.py#L70
But I agree that it's adding complexity. Should I close this ticket?

[2017-07-06 14:35] jsynowiec opened #655 "Contribute "official" Marshmallow Dash docset"
Hey, I don't know if you are familiar with a tool called [Dash](https://kapeli.com/dash) or one of its Windows or Linux alternatives but it would be nice to have "officially" maintained Marshmallow docset.

You can read more about contributing docsets here: [Dash-User-Contributions#contribute-a-new-docset](https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset)

[2017-07-09 13:18] HolgerPeters opened #656 "Loading Datetime Objects"
Maybe this is not so much of an issue but a misunderstanding on my side, so I'd think the following pytest-style unit test should not raise a validation error, since a `datetime.datetime` instance should satisfy the property of being a a datetime already:

[code]

I do however get a validation error `marshmallow.exceptions.ValidationError: {'element': ['Not a valid datetime.']}`

[2017-07-12 03:25] jackeyvzhang opened #657 "Memory growth fast when schema is defined in a function"
When I use the following code, I observe that memory growth is very fast, but when I define the schema outside the function, there is no problem.
[code]

[2017-07-12 04:36] justanr commented on #657
For two reasons:

* You're defining a new class with each invocation. I'm fuzzy on the details, but I don't think classes would be referenced out due to their relationship with the module in which they are created. Even if they would be normally GC'd that is made irrelevant by the schema registry.

* Internally, marshmallow keeps a record of all schemas defined so it can do resolution when you ref

[2017-07-12 21:53] hakubaa opened #658 "Nessted schema: Inherit session from parent."
Deserialization of nested objects raises: `ValueError: Deserialization requires a session`. Example below:

[code]
The problem can be solve by passing session from parent schema inside the property 'schema' of class 'Nested' (file: fields.py, lines: 405-420). Or maybe there is any other solution?

[2017-07-18 07:54] wonderbeyond opened #659 "Is this a typo of fields.ValidatedField._validated, line#1138"
https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/fields.py#L1138

[code]

should it be **_validated**?

[2017-07-18 13:20] sloria commented on #659
Yes, that is a typo. PR's welcome =)

[2017-07-21 07:29] amshim commented on #652
Bump

[2017-07-21 08:32] jtillman commented on #657
Hey @justanr, thanks for the reasoning and details explanation here which I appreciate. I too have hit this issue which causes high memory issues in my production environment. Now that I am aware of it I would like to know the suggested solution, in what I see as a valid  use case here.

I typically use inheritance to generate classes to give standard packaging.

[code]
This way I can easily stand

[2017-07-21 09:41] podhmo commented on #652
using marshmallow.fields.LocalDateTime ?

[2017-07-21 12:33] sloria opened #660 "Proposal: Add a class Meta option to prevent adding a class to the internal registry"
## Purpose

Implement a way to bypass marshmallow's internal class registry when it isn't necessary in order to optimize memory usage.

## Proposed API

[code]

[2017-07-21 12:34] sloria commented on #657
@jtillman You can prevent marshmallow from storing your generated classes in its internal registry of schemas by generating the classes without a name.

[code]

I've also proposed #660 , which would expose a more straightforward way to bypass the registry. In the meantime, the above workaround should get you most of the way.

[2017-07-22 18:47] jtillman commented on #657
Thanks for the workaround. In thinking about this, it feels like a global registry should be something that people have to opt into rather than out of. Simply because its a feature that you have to dig for to know about and basic use of the library that generate schemas, can lead to huge memory issues that are a pain to pinpoint (which was the case for me).

[2017-07-23 11:06] amitt001 opened #661 "Improve required=True field check"
[code]
I think this should not happen, right?

[2017-07-24 06:14] smilledge commented on #649
Have you seen [marshmallow-oneofschema](https://github.com/maximkulkin/marshmallow-oneofschema)?

But +1 for adding polymorphic schemas and fields into marshmallow.

[2017-07-24 08:52] podhmo commented on #661
This is similar to #511?

[2017-07-25 01:44] CausticYarn opened #662 "Use fields.Constant to add function to schema"
I am trying to add a function as a constant field; not a fields.Function where the function returns the value, I want the value to be the callable function, e.g.:

`def foo(a, b):
  return a+b`

I have tried to use fields.Constant with the function, e.g.:

`field_name = fields.Constant(foo)`

It works fine if the field name is present on the input. However, if the field name is missing, the missin

[2017-07-25 03:24] sloria commented on #662
That does seem to be a bug on the surface. I would certainly review a PR fixing it.

[2017-07-26 20:44] RAlexeev commented on #656
Try changing `res = schema.load({"element": datetime.datetime.now()})` to `res = schema.load({"element": str(datetime.datetime.now())})`. It helps me.

[2017-07-28 07:22] JulienPalard commented on #656
Hit the same "problem", rewording it by using the documentation example it's like:

[code]

It gives `{'release_date': ['Not a valid date.']}` which looks wrong to me, it *is* a valid date and it satisfies the schema so validation should pass.

I also think that for every valid object, its unserialized form should be valid too, not only for datetimes.

[2017-07-28 07:57] JulienPalard commented on #656
I'm temporarily using this so deserialization accepts datetimes instances:

[code]

[2017-07-28 10:41] JulienPalard opened #663 "mypy types annotations"
I was trying mypy and on the same project I started using marshmallow. So I wrote an approximative and minimal (working for my usage) stub here: https://github.com/JulienPalard/typeshed/tree/marshmallow

I'm unsure if you prefer type annotations in your code or have a stub on python/typeshed.git or nothing so...

[2017-07-28 21:57] AlecsGherghel commented on #658
Do we have a resolution for this? Seems like this is a recurring issue (https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/67)

As a side note: I injected the session in fields.py, around here:
`self.__schema = self.nested(many=self.many,
                        only=only, exclude=self.exclude, context=context,
                        load_only=self._nested_normalized_option('load_o

[2017-07-31 17:28] sduthil opened #664 "validate.URL rejects hostnames with no dots"
My current use case:
I use Docker and I need to set some URL fields for the containers to communicate together. The URL fields look like `http://third-party/test`, where `third-party` is the hostname of one of the containers.

Currently, `validate.URL` rejects this URL as invalid, because there is no dot in the hostname `third-party`.

Other use cases include:
* a local network in the same subdoma

[2017-08-03 09:57] silenius opened #666 "force list"
Hello,

I wondered if there is a better way to "force" incoming POST data to always be a list (even if there is only one value)  #than:

[code]

[code]

I'm using Marshmallow with Pyramid (which use WebOb under the hood) with something like:
[code]

but `request.POST.mixed()` doesn't return a list of there is only one parameter (in my case it comes from a `<select multiple>` with only one selected

[2017-08-08 09:57] mauritsvanrees commented on #29
Another data point for the record, in case someone else runs into this problem.

I had the same `AttributeError: description is not a valid field for <some.Model object>`. For me the problem was that the object had a `description` `@property` and this method tried to get a related item from a database and get the description from there. When no object was found, this gave an `AttributeError`. I fi

[2017-08-10 20:29] MichalKononenko commented on #639
I'm not sure if this is similar to your issue, but I was also working on deserializing a class with a modified ``__getitem__``. Here is the interface for it

[code]

And here is the schema that I wanted to serialize to using ```many=True``

[code]

I think the error lies [here](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/schema.py#L728), as marshmallow attempts using ``__g

[2017-08-15 15:13] mei-li opened #670 "pre_load needs to repeat validation"
First of all thanks a lot for the nice library to all contributors. We are using as our main validator of all our API input.

This issue describes a concern about a common `pre_load` pitfall  (imho) that leads to breaking code.

`pre_load` is used in all examples as a place to clean up data. But essentially to do a safe clean up, one needs to validate the type and the existence of the key most of

[2017-08-21 21:02] egoberdon opened #671 "schema `validate` only uses `load_from` name"
In our code every field is aliased using `load_from`. (This is a simplified example).
[code]

Currently, ExampleSchema.validates returns errors like this:
`{'si': [u'Length must be 12.'], 'gl': [u'Missing data for required field.']}`

Notice that the field name in the validation errors refers to the `load_from` name and not the name supplied by ExampleSchema().fields, which makes sense, but we wou

[2017-08-23 14:44] whoiswes commented on #656
I also ran into this, albeit in a slightly different way.  We were loading in RFC822 formatted strings from JSON, but dumping ISO8601.  This worked great until 2.13.5, after which we need to explicitly convert the RFC format to ISO format in pre-load.

Is there a marshmallow native way of loading one format but dumping another, specific to datetimes?  Or, as the comments above hint at, could/shoul

[2017-08-23 15:45] flipperbw opened #672 "Cannot exclude nested fields using dot notation"
I've confirmed my marshmallow setup is totally up to date. Yet when I attempt to exclude a subfield within a nested field, it simply doesn't do anything. Here's an example setup:

	class User_Admin_Schema(ma.ModelSchema):
		class Meta:
			model = User_Admin

		location_info = ma.Nested('Location_Info_Schema', many=False, exclude=('account_owner', 'location.accounts'))

	class Location_Info_Schema(

[2017-08-24 07:16] steven0668 opened #673 "issue about Integer validating"
[code]
In the above code,  2.34 is an instance of float, but the count field requires an integer, I think this should be more strict, 2.34 should not be validated pass.

[2017-08-24 07:17] #673 closed, assigned to nobody

[2017-08-24 08:38] disconnect3d commented on #612
Bump, this would be nice to have :+1:

[2017-08-31 21:55] ocervell opened #675 "Conditional `required` flag based either fields"
I have a particular use case where I have two fields, and exactly one is `required`, but it can be either one of them.

This is my current implementation:

[code]

I'd like to have a way to specify that if `first_attr` is passed, then `second_attr` is not required, and the other way around, but at least one of those fields **MUST** be passed.

Is there a way to do this in Marshmallow ?

[2017-09-01 07:21] lafrech commented on #675
You should use a shema-level validator for this: http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.decorators.validates_schema

[2017-09-10 20:21] torypages commented on #658
I think a complication is that this is sort of marshmallow_sqlalchemy's problem. But I think I have a hack for the time being.

The key section is:

[code]

Here is the entire proof of concept:

[code]

And this is the output:

[code]

I haven't used this hack extensively yet, but, I just got past the `ValueError: Deserialization requires a session` error and I'm pretty excited!

[2017-09-19 02:00] gustavorps opened #677 "Multiple render modules"
Who do implement a way to use multiple render modules? I know can use this way:
[code]

But I realy have to inherit and override for each other render?

[2017-09-20 16:07] scottwernervt commented on #677
You can make a  `BaseSchema` class which is inherited by each schema. Snippet from a web project of mine:

[code]

[2017-09-21 19:14] gustavorps commented on #677
thx @scottwernervt

[2017-09-21 19:14] #677 closed, assigned to nobody

[2017-09-25 18:02] DrPyser opened #680 "Instance fields"
Is it possible to have fields specified(defined) by a schema instance(e.g. in a schema's `__init__` method)?

If not, is there a reason why that shouldn't/couldn't be possible?

The use case for this is the same as that of any class: to have the class specify attributes that are unchanging accross instances, but to have instances differ among each other on some attributes.

For example, to define

[2017-09-26 18:56] aldanor commented on #483
This is a bugger (and a surprise it doesn't work out of the box). Anyone care to revive @deckar01's suggestion?

[2017-09-27 01:08] sloria commented on #483
@deckar01 Would you be up for sending a PR with your proposal?

[2017-09-27 04:14] monotaro-yasushi-masuda opened #681 "Tests on Python 3.4 in TravisCI fails"
Currently, test in TravisCI on Python 3.4 is failing, causing check failure for recent pull-requests.
Something seems to be weird with six installation for 3.4 build image.

Explicitly upgrading six will fix it. Please see
https://github.com/marshmallow-code/marshmallow/pull/678/commits/9905da8572d41a3381f1ab8b8f10054ca5ccddd7

Thanks

[2017-09-27 05:47] monotaro-yasushi-masuda commented on #645
+1 for validator. Even if validator accept multiple validators, it can be recognized as "a validator bulit with a combination of validators".
-1 for validate_with, parameter key better not to have particles, except the case such as valid_from and valid_to etc.

[2017-09-28 04:06] larsks opened #682 "Schema dump method does not validate?"
According to the docs:

But as far as I can tell, the `Schema.dump` method does not perform validation.  I have:

[code]

Based on the docs, I thought I would see validation errors in the `errors` key.  The `load` method validates as expected:

[code]

But the `load` message does not apply `default` values:

[code]

So the only way to get a validated data structure with default values applied appe

[2017-09-28 07:53] lafrech commented on #682
You're right, validation only occurs on deserialization (load).

Think of it as "I should validate data coming from the outside world, but I don't need to validate my data before I send it to the outside world, because it comes from trusted zone".

Regarding default values, there are two parameters: `default` and `missing`. The former applies to dump, the other applies to load.

http://marshmallow

[2017-09-28 09:57] podhmo commented on #680
Yes,  It is possible.

Adding field to `self.fields`.

Below example is adding "extra" field after schema instance is initialized.
(If you want to define subclass like this, on __init__(), it is also ok.)

[code]

[2017-09-28 10:03] podhmo commented on #672
This is  [marshmallow-sqlalchemy](https://github.com/marshmallow-code/marshmallow-sqlalchemy)'s issue?

[2017-09-28 11:33] larsks commented on #682
Thanks, that's tremendously helpful. Using `missing` was indeed the missing (ha! sorry.) piece.

Does `dump` ever return validation errors?  The documentation suggests that it does, but your comment implies that it does not.

[2017-09-28 12:23] #680 closed, assigned to nobody

[2017-09-28 12:25] sloria commented on #682
@larsks `dump` does return validation errors as well. It will not execute user validators, but it will return errors for data that cannot be serialized (e.g. trying to serialize a string as an int).

[2017-09-29 12:14] #682 closed, assigned to nobody

[2017-09-30 06:40] mindojo-victor commented on #133
@samjetski is correct that @sloria 's code doesn't work for the issue.

This helped me:
[code]

[2017-10-01 08:45] podhmo opened #683 "proposal: changing fields.Field's `**metadata` to `metadata=None`"
**This is backward incompatible change.**

## pros

typo check is working correctly.

Sometimes, people that unfamiliar with marshmallow, want to add validation with typo.

e.g.

[code]

Current marshmallow's fields.Field implementation is such as like below.

[code]

So, above typo is also valid schema definition. adding Range validator as metadata, and validation on deserialization is working wi

[2017-10-01 08:49] podhmo commented on #683
If chainging gracefully, showing warning messages, when calling with old-style way.

[code]

[2017-10-02 12:20] #681 closed, assigned to nobody

[2017-10-02 12:21] sloria commented on #681
Thanks for the workaround. The builds should now be fixed.

[2017-10-02 16:09] DrPyser commented on #680
Cool, thanks.

[2017-10-02 19:20] mplanchard commented on #438
I know this Issue is old and closed, but in case anybody else comes looking for this and finds this issue, here is a function to generate a new schema instance with its `partial` set to True, along with any nested schemas, recursively. You could easily update it to make it a class factory, as well.

[code]

[2017-10-04 07:51] buxx opened #684 "Add an option to make validation when dump"
Hello,
Considering #295:

Can we imagine a parameter to execute validation when make a serialization ? I am open to write a pull request if it is acceptable for your project.

buxx.

[2017-10-04 09:52] buxx commented on #684
I found builtin solution, simply use `validation` method:

[code]

: )

[2017-10-04 09:52] #684 closed, assigned to nobody

[2017-10-09 12:59] BennyAlex opened #686 "Add format option for fields.time"
ISO 8601 supports following formats:

It would be nice to have a format option for fields.time, like
`begin = fields.Time(format='hh:mm')`

[2017-10-10 11:03] chkdmin commented on #686
I using custom fields for arrow type in marshmallow serialize/deserialize
[code]
[code]
hope this helps

[2017-10-16 09:39] ramshaw888 commented on #653
You shouldn't apply it because it doesn't work (right now).

These decorators only support a single application (it takes the top one). I your example it will only validate the `bar` field.

Instead of multiple applications of the decorator, I would imagine the simplest solution would be to allow `validates` to optionally support a list of fields.

[2017-10-17 12:42] pranav93 commented on #686
I wrote little dirty one for serialising,
[code]

[2017-10-17 19:33] yarian opened #688 "Support for user-defined caching"
I ran into an issue today where serializing was really slow. Turns out the reason is we we were serializing 200 items 8-9  times each because they appeared in different parts of the code.

I ended up doing something like:

[code]

Code above is not exactly correct but gives the right idea.

Does marshmallow help us do this in some way? I don't necessarily want to suggest that it start doing cachin

[2017-10-17 22:06] FrancescElies commented on #653
thanks for your reply

[2017-10-17 22:06] #653 closed, assigned to nobody

[2017-10-20 21:17] Shir0kamii opened #690 "Add a timezone validator or field"
Hi,

I found myself in the need to validate a timezone string (such as `Europe/Paris`) and didn't found a way to do it with Marshmallow. I think it's common enough for people to use these even though it seems this hasn't been discused before. Maybe we could add it ?

I volonteer to implement it if it pleases you, but I would have a few questions.

I would implement it using `pytz` since maintainin

[2017-10-21 19:10] Dem0n3D commented on #631
Answer is in marshmallow-code/flask-marshmallow#50

[2017-10-23 14:42] cwisecarver commented on #650
@sloria Any thoughts on this? I can make a PR if it will help.

[2017-10-23 20:56] sloria commented on #650
@dan-blanchard @cwisecarver Sorry for the delayed response; this one fell through the cracks. Yes, I think the proposed behavior is correct. I would certainly review and merge a PR for this.

[2017-10-23 23:10] #537 closed, assigned to nobody

[2017-10-23 23:17] #664 closed, assigned to nobody

[2017-10-23 23:30] #659 closed, assigned to nobody

[2017-10-26 06:26] threeoheight opened #693 "Is it possible to use OneOf() in a nested field?"
I'm trying to validate a dict where the value can either be itself, i.e. `field = nested('self')` OR a different schema `field = nested(OtherSchema`.  Using OneOf() won't for schemas, so I was wondering if there was a correct way to do this.  Here is an example of a payload I'm trying to validate:

[code]
So in this case, 'field' can either contain 'op' and a nested version of itself OR a schema w

[2017-10-28 18:04] sloria commented on #693
@threeoheight Take a look at [marshmallow-oneofschema](https://github.com/maximkulkin/marshmallow-oneofschema). It seems like it was built exactly for your use case.

[2017-10-28 18:04] #693 closed, assigned to nobody

[2017-10-29 14:03] jarmani commented on #664
Wouldn't it be interessting to do the same for email validator ?

Currently the validation is not symetrical to browser email validation.

[2017-10-29 22:30] sloria commented on #690
I'm not sure this needs to be added. You can just use `validate.OneOf`.

[code]

[2017-10-29 22:30] #690 closed, assigned to nobody

[2017-11-01 15:05] DrPyser opened #695 "Question: order of execution of schema-level validator"
When a schema validator is registered via `@validates_schema`, when does it get executed with respect to other `pre`/`post`  hooks?

Thanks.

[2017-11-01 21:48] deeTEEcee commented on #377
is `strict=True` strict enough? right now, you can also pass in nonexistent fields but errors won't be thrown

[2017-11-02 07:42] jssuzanne commented on #634
Hi, I have the same issue, In my mind the solution is to allow the breaking of the cache in Nested field. because the context is propagated only when the making of the cache

[2017-11-02 08:28] jssuzanne commented on #634
Travis sound good for the PR #696

[2017-11-17 00:07] clarkdowner commented on #656
I'm also running into issues serializing datetimes whether passed in as DateTime objects or as an ISO formatted string:
`MarshalResult(data={...}, errors={'birth_date': ['"1994-11-24T00:00:00Z" cannot be formatted as a datetime.']})`

Looking at the source code for the DateTime Field it appears to be expecting a string in the above format, no? Although I am new to Python so I could be misinterpret

[2017-11-19 18:52] deckar01 commented on #315
I was able to hack around this by using a temporary schema during serialization instead of `many=True` on the schema constructor.

I changed

[code]

to

[code]

Luckily this hack is tucked away into a class that gets inherited by all my models, so I don't have to duplicate it everywhere. This hack allows me to avoid duplicating my schemas just to override `post_dump` to handle the original list.

[2017-11-21 20:55] deckar01 commented on #315
This could be fixed without breaking backwards compatibility by allowing a special value like `pass_original='single'` to opt in the desired behavior. I would recommend making this the default behavior in the next major version though.

[2017-11-23 19:07] aklaver commented on #656
If are serializing(dump) a DateTime field then you need to provide a datetime object:

[code]
If you are going the other way deserializing(load) then you can use a string:

[code]

[2017-11-28 09:27] hardy4yooz commented on #695
@validates_schema(skip_on_field_errors=True)

[2017-11-28 16:39] okke-formsma commented on #319
I'm running into a few issues with Marshmallow, as I don't see any way to make a field required, even if it's length can be zero.

I have a bulk request, and a valid bulk request is a request with no operations. However, there is no way I can express this in Marshmallow.

As a workaround I've created a new Nested class:

[code]

Please reconsider the default behavior.

[2017-11-28 22:34] sloria commented on #695
@DrPyser Schema validators are executed after `pre-load` and field validators are executed.

`pre_load` -> field validators -> schema validators -> `post_load`

[2017-11-28 22:34] #695 closed, assigned to nobody

[2017-11-29 00:01] moodh opened #698 "Question/feature request related to only and exclude"
Hi, first off this project it has helped us a lot, so a huge thanks!

I have a question / request related to the `only` and `exclude` parameters to schemas (and nested fields).

Provided a schema looks like this:
[code]

The following happens:
`schema = TestSchema(only=('foo', 'bar', )) // works as expected`
`schema = TestSchema(only=('foo', 'not_part_of_schema', )) // adds not_part_of_schema`
`sc

[2017-11-29 01:14] clarkdowner commented on #656
That makes sense. Thank you @aklaver

[2017-11-29 20:52] DrPyser commented on #695
Cool, thanks!

[2017-12-02 23:18] sloria commented on #650
This is fixed in 0.15.0.

[2017-12-02 23:18] #650 closed, assigned to nobody

[2017-12-06 17:56] christian-storm commented on #483
+1 for suggestion....Another use case is (de)serializing to protocol buffer's map field that accept string, bool, or int as key and any type as value (enum, message (~ python class), scalar types).
I'm trying to decide between Cerebrus and Marshmallow.  Cerebrus has one critical feature of allowing one to set keyschema and valueschema.  I'm more keen on Marshmallow's ecosystem and prefer its class

[2017-12-06 18:21] deckar01 commented on #483
I will rebase my branch and work on a PR.

[2017-12-06 20:56] CatarinaPBressan commented on #483
I needed something similar to what @christian-storm needs, and I ended up taking parts (or maybe all, can't remember) of what @deckar01 had worked on a few months ago, and hacked on it until it did what i needed it to do: https://gist.github.com/ArthurPBressan/4f6dc8b7826e352884f0561ac79d6898

Maybe it's useful for someone as a starting point, since I removed some functionality that I didn't reall

[2017-12-06 22:14] deckar01 commented on #483
@sloria How should deserialization errors be communicated for invalid keys? Maybe prefix the error message to indicate that the message is for the key? `Invalid key: {}`?

[2017-12-06 22:41] deckar01 commented on #483
@sloria How should I handle the error message when a key and it's value have errors? Concatenate the error message lists together?

[2017-12-11 08:14] Inego opened #701 "Nested.default — incorrect documentation"
`Nested` field documentation says that the `default` parameter may be used to serialize `None` values:
`    :param default: Default value to if attribute is missing or None`
However, this does not correspond to reality: `default` values are only used to serialize missing fields. And it seems that there is no way to make the `default` value be used for serialization of `None` values — by fine-tunin

[2017-12-11 11:20] disconnect3d opened #702 "Validate field Y based on field X value"
Hey,

I want to have a validation of field Y based on field X.

I could potentially do it with `post_load` decorator but it seems it overrides all errors (e.g. the validation dict contains only the error from method decorated with `post_load` - it misses some basic info that for example a field is missing).
Is there a way to tell post_load method that its validation failure should also consist oth

[2017-12-11 11:23] lafrech commented on #702
Sounds like [schema-level validation](http://marshmallow.readthedocs.io/en/latest/extending.html#schema-level-validation) is what you need.

[2017-12-11 11:30] disconnect3d commented on #702
@lafrech Okay, that works for me. Thanks.

[2017-12-11 11:30] #702 closed, assigned to nobody

[2017-12-11 12:03] appcuarium commented on #656
Hi,

In the latest version, loading schema for a DateTime field behaves differently from version 3.0.0b2 when passing a Date string in format "YY-MM-DD".

Input:
`date_string = '2017-12-12'`

Output from 3.0.0b2:
`'2017-12-12T00:00:00Z'`

Output from 3.0.0b4:
`"Not a valid period of time."`.

The schema looks like this:
[code]

Is this a bug or a feature? Thanks.

[2017-12-11 14:26] aklaver commented on #656
I am going to say it is the below, so a feature:

3.0.0b3 (2017-08-20)
Bug fixes:
    Includes bug fixes from releases 2.13.5 and 2.13.6.

2.13.5 (2017-04-12)
Bug fixes:
     Fix validation of iso8601-formatted dates (#556). Thanks @lafrech for reporting.

https://github.com/marshmallow-code/marshmallow/issues/556

See comment from May 31.

[2017-12-13 13:43] tuukkamustonen opened #703 "ContainsOnly should allow empty iterable"
`ContainsOnly` raises error if an empty iterable is passed in. But an empty list does _not_ contain _other_ elements than what's in `choices`, so it should be valid.

If user wants also an empty iterable to be invalid, that can be achieved by another validator (`Length` maybe).

At least this could be made configurable, for example via `raise_on_empty` option, that would be set `True` by default (

[2017-12-13 13:45] tuukkamustonen commented on #703
Took a look at the code and seems like empty lists are accepted in marshmallow 3.x. So there will be a change in behavior.

I did write the ticket (but not post it) before taking a look at the code so I thought as well to post and close it, so anyone else potentially wondering the same would see it. Thanks and sorry 😄.

[2017-12-13 13:45] #703 closed, assigned to nobody

[2017-12-14 05:33] zero-master opened #704 "How to use it with templates like WTForms?"
I search everywhere but did not find if it's possible to achieve this with marshmallow:
http://flask.pocoo.org/docs/0.12/patterns/wtforms/ (not validation, scroll down the the bottom half where the form fields are injected into template)

[2017-12-14 19:01] sloria commented on #704
Rendering forms is outside marshmallow's scope.

You might look into https://github.com/fuhrysteve/marshmallow-jsonschema , which will allow you to generate a JSON Schema from a marshmallow Schema, which can be consumed by other tools (see the README for marshmallow-jsonschema for a listing of these) to render forms.

[2017-12-14 19:01] #704 closed, assigned to nobody

[2017-12-15 12:33] edwardinubuntu opened #706 "peewee_example.py missing pre_load in TodoSchema"
In class TodoSchema(Schema) function: [make_object](https://github.com/marshmallow-code/marshmallow/blob/12044877d8af3d8f07c39bf0c5df78d3d7a22df1/examples/peewee_example.py#L79), need to add @pre_load, otherwise, it won't return the object, instead, return the original JSON object.

# Before
![screen shot 2017-12-15 at 8 27 04 pm](https://user-images.githubusercontent.com/414554/34042184-6747ea4c-

[2017-12-15 13:28] #706 closed, assigned to nobody

[2017-12-15 13:29] sloria commented on #706
Thanks for reporting. The example has been fixed.

[2017-12-26 09:28] harlov opened #708 "URL validator should require square brackets for ipv6 hostname"
https://tools.ietf.org/html/rfc2732:

[2017-12-28 10:43] s0undt3ch commented on #289
Proposed fix in #709

[2017-12-30 18:49] #483 closed, assigned to nobody

[2017-12-30 18:58] sloria commented on #483
This is released in version 3.0.0b5. Thanks everyone for your feedback!

[2018-01-02 17:26] csingley opened #713 "Empty strings as None (revisited)"
I'd like to revisit this suggestion - allowing empty strings to be interpreted as None:

https://github.com/marshmallow-code/marshmallow/issues/543

I understand the sentiment of the response: "it's a bad idea to support that".  However, that's not sufficient for some use cases.

For example, right now I'm trying to use marshmallow to convert an XML format where null values are sent as empty strin

[2018-01-03 00:17] #608 closed, assigned to nobody

[2018-01-03 12:52] gergelypolonkai commented on #357
It’s still not documented, as it seems… or at least not correctly. There is a `render_module` in the docs, but no `json_module`. Which one is true? :)

[2018-01-03 17:55] stefanoborini commented on #644
Some applications expect the tuple data type (e.g. for array shapes), so if you can't specify that a field is a tuple, you will lose the information and end up with a list. json has only lists, but marshmallow could know the specific requirement for type and do the conversion itself.

[2018-01-03 18:42] jperras commented on #357
@gergelypolonkai My comment was from 2 years ago, and it seems the API has changed with regards to this functionality. The [current documentation](http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.Schema.Meta) describes `render_module` as what you are looking for.

[2018-01-03 18:45] sloria commented on #357
@jperras  correct-- `render_module` is the the new option in version 3 . If you are using version 2, use `json_module`.

[2018-01-04 05:38] MarbilleJuntado opened #716 "marshmallow.validate - Regexp validating empty string or pattern"
I have created a schema to validate URLs. Empty strings should also be valid.
This is the validator:
`facebook_profile_url = fields.String(required=False, validate=validate.Regexp(
        '^$|https://facebook.com/[a-zA-Z][a-zA-Z 0-9._]{0,50}$', 0, 'Facebook username is invalid')
    )`

Regular URLs that follow the pattern are accepted, but not empty strings. How is that so?

[2018-01-04 09:37] lafrech commented on #598
To anyone interested in this, I've been working on it in https://github.com/marshmallow-code/marshmallow/pull/711. I believe it is almost ready.

The docs still need to be updated.

I'm unsure about how `validate` should behave.

Currently, by default, I kept current behaviour: it will raise `ValidationError` iff `strict is True`. And since `strict` is now always `True`, it always raises. Basicall

[2018-01-04 13:25] sloria commented on #598
I agree; it's intuitive for `validate()` to return errors rather than raise an error.

[2018-01-04 13:48] lafrech commented on #598
Great. Done.

[2018-01-05 09:12] lafrech opened #717 "RFC: replace load_from and dump_to with a single parameter"
See discussion in https://github.com/marshmallow-code/marshmallow/pull/714.

In the general case, dump/load is symmetric and if you have a model field that is exposed with another name, you use the API name in the schema, and specify the model name as `attribute`.

[code]

`dump_to` and `load_from` introduce asymmetry, allowing to specify a different key for dump and load:

[code]

If you want to

[2018-01-05 10:05] lafrech commented on #511
I think I like option 2 better. More explicit. And it doesn't break symmetry (`dump(load(stuff)) = stuff`, see my comment above). But I can live with both options.

Anybody can provide a use case for `None` [|de]serializing as `{}`?

@sloria, I guess this should be labeled _backwards_incompat_.

[2018-01-05 13:18] #708 closed, assigned to nobody

[2018-01-05 13:30] sloria commented on #683
Thanks @podhmo for the suggestion.

You raise a fair point--the current way does run the risk of passing invalid kwargs.

My worry is that we'll be breaking lots of use cases. apispec and webargs, for example, both make use of `metadata` to add new field params not offered by marshmallow. Passing metadata as this way also allows users to add their own field kwargs. For example, I suggested using `

[2018-01-06 08:26] podhmo opened #718 "New feature for iterating over fields_dict in marshalling/unmarshalling"
jsonschema(and swagger) have specific options for unexpected additional fields.
- [additionalProperties](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties)
- [patternProperties(maybe, jsonschema only)](http://json-schema.org/example2.html#base-schema)

And, I want to translate this feature to marshmallow schema.

## marshmallow's current i

[2018-01-06 08:33] podhmo commented on #716
It looks empty string is also accepted, to me(I have misunderstanding, maybe).

[code]

[code]

[2018-01-06 08:50] podhmo commented on #683
Yes, this change is huge pain, i think so.  And I **haven't** strong motivation (like MUST ADDING THIS FEATURE), so suggestion of corner-case.

Ah, using metadata internally, if so, this change is a bit strange, maybe.

[2018-01-06 13:28] sloria commented on #683
One possible alternative to prevent typos from passing silently would be to pass a set of allowed metadata keys.

[code]

An error would be raised if metadata outside of that set were passed.

[2018-01-06 15:16] sloria commented on #701
Good catch. I've removed the `default` documentation for `Nested` because the semantics are the same as `Field`.

[2018-01-06 15:16] #701 closed, assigned to nobody

[2018-01-06 15:17] sloria commented on #663
Thanks for posting. We won't be adding type annotations in the near future. Maybe if/when we decide to support Python 3 only, but we don't have plans for that at the moment.

[2018-01-06 15:18] sloria commented on #649
We don't have plans to add this feature to marshmallow core in the near future. For now, marshmallow-oneofschema is the way to go.

[2018-01-06 15:18] #649 closed, assigned to nobody

[2018-01-06 15:19] sloria commented on #652
Yes, LocalDateTime should meet your use case.

[2018-01-06 15:19] #652 closed, assigned to nobody

[2018-01-06 15:25] sloria commented on #644
There is no tuple field out of the box, but you could easily add it as a custom field in your application:

[code]

[2018-01-06 15:25] #644 closed, assigned to nobody

[2018-01-06 15:28] sloria commented on #666
Your code about is correct. A pre_load method is the right place to apply the transformation to ensure that the input data is a list.

[2018-01-06 15:28] #666 closed, assigned to nobody

[2018-01-06 15:35] sloria commented on #670
Thanks for posting.

I'm not really sure how to address your concern. `pre_load` is meant to receive the un-processed input data, so it follows that there may be missing keys. If you want to do processing after validating `required` fields, then you should use `post_load`.

If there are any updates to the documentation to make more clear, I would gladly accept a PR.

[2018-01-06 15:35] #670 closed, assigned to nobody

[2018-01-06 15:41] sloria commented on #640
We don't have plans to support this right now. This issue has gone stale, so I'm closing it.  If you want to continue discussion, I would suggest opening a proof-of-concept PR for feedback.

[2018-01-06 15:41] #640 closed, assigned to nobody

[2018-01-06 15:44] sloria commented on #688
We don't have plans to support custom caching right now, so closing this. There are just too many corner cases to meet, and caching is the responsibility of application code. If there are missing hooks that would make caching easier, I suggest opening a proof-of-concept PR adding those hooks.

[2018-01-06 15:44] #688 closed, assigned to nobody

[2018-01-06 15:45] sloria commented on #655
I use Dash, but I don't have experience writing docsets. I would rather not take on maintenance of a docset right now. Ideally, it could be maintained separately in a different repo. Closing for now.

[2018-01-06 15:45] #655 closed, assigned to nobody

[2018-01-09 09:58] lafrech commented on #319
I was just caught by this while working on https://github.com/marshmallow-code/marshmallow/issues/378 and I also think current behaviour is surprising and this change should be reverted.

I disagree with the rationale presented in https://github.com/marshmallow-code/marshmallow/issues/319#issuecomment-166770421. There are ways to document an API, for instance using apispec to generate an OpenAPI d

[2018-01-11 12:23] jakubczaplicki opened #721 "Add support for data URI scheme"
Currently [data URI's](https://en.wikipedia.org/wiki/Data_URI_scheme) are not supported by `fields.Url` validation. Marshmallow should allow to pass a valid `data:` URI.
E.g. ```data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==```

[2018-01-12 17:23] #598 closed, assigned to nobody

[2018-01-12 17:31] sloria commented on #377
This was done in #711

[2018-01-12 17:31] #377 closed, assigned to nobody

[2018-01-12 19:11] sloria commented on #721
See https://github.com/marshmallow-code/marshmallow/pull/722#issuecomment-357327474

[2018-01-12 19:11] #721 closed, assigned to nobody

[2018-01-14 18:47] tinproject commented on #717
I was reading the discussion on PR #174. Just to add some context and see if I understand well (the doc is not always very clear):

We have a `Python Object` that by means of an `Schema` instance we serialize (`dump`) into a `Serialized Representation`, that we can take the backwards process and deserialize (`load`) into a `Python Object`.

A `Schema` have `Fields` that knows how the data can be d

[2018-01-14 22:20] lafrech commented on #717
@tinproject, thanks for stating this clearly, in a perhaps less convoluted way than I did.

I agree with everything you said.

The only I part wasn't totally convinced about is why we need to decouple the schema from the model. I use the schema to decouple API I/O from model objects, but I don't see the need for a schema field with a name that differs from both the model and the API. From an archi

[2018-01-15 09:59] tinproject commented on #717
@lafrech

One good case to have the option to decouple the model from the schema is when refactor the model, not having to change the schema and the related tests, only the attribute names. Also if you have models with names coming directly from a database, and you want to have different names (more clear) in your schema to use in validations for example.

I believe that flexibility, and symmetry

[2018-01-18 08:11] lafrech commented on #717
Hmmm, at `__init__`, the field does not know its name, does it?

And I suppose people with enough imagination could come up with use cases where a field's name is changed during execution, or a Field instance is used in several places of a Schema.

I'm afraid this simplification is not possible. Too bad, because it sounded nice.

Or am I missing something?

[2018-01-18 08:49] lafrech commented on #717
I just pushed a draft (#724).

I'm still unsure about the name. `field` is a bit disturbing as it is the name of the Marhmallow field, so you'd be writing `field.field = ...`.

I would have liked to avoid `key_name` of `field_name` or `ser_key` (ser as "serialized") to keep symmetry with `attribute`.

Maybe `key` would be fine, after all. Any idea anyone?

[2018-01-18 09:55] lafrech commented on #511
I just opened a PR with an implementation of option 2 (raise `ValidationError`).

By just removing the `if data is not None:` test, we get an error saying `'Invalid input type.'` which is consistent with other wrong types. See this test:

[code]

@sloria, do you think we need a specific `{'_schema': 'No data provided'}` message?

------------------------------------------------------

On second th

[2018-01-18 20:34] writeson opened #726 "Nested fields of dictionaries, many=True"
Hi all,
I'm using Marshmallow to serialize data structures prior to sending them down the wire as JSON strings for a ReSTful interface. One of the structures I'm trying to serialize looks like this:
[code]
The table_data field is an iterable, but it's a dictionary, not a list, and the dictionaries all are structured the same. I'd like to create schema's for this, but searching around the docs and

[2018-01-18 20:42] lafrech commented on #726
I believe what you're looking for was added to Marshmallow just recently.

See [SO question](https://stackoverflow.com/q/38048775/4653485), [issue](https://github.com/marshmallow-code/marshmallow/issues/483) and [PR](https://github.com/marshmallow-code/marshmallow/pull/700).

It is in Marshmallow v3 branch. AFAIK, the release date of Marshmallow 3 is... when it is ready.

You may want to give a tr

[2018-01-23 17:20] writeson commented on #726
Jerome,

Thanks for the heads up, I'll take a look.

Doug

On Thu, Jan 18, 2018 at 3:42 PM, Jérôme Lafréchoux <notifications@github.com

[2018-01-23 19:58] taion commented on #644
@sloria This isn't quite the same. A tuple is a fixed-length collection of potentially heterogenous fields. You'd use it for something like `fields.Tuple((fields.String, fields.Int))`.

[2018-01-24 14:53] petargyurov opened #727 "Incorrect Integer validation for Floats"
When supplying a float value to a schema whose field is registered as `Integer`, Marshmallow will implicitly cast the given float to an integer, without raising errors, even when attempting to force strictness.

e.g.: a given value of 0.15 will be silently cast to 0, of type `int`.

This behaviour comes from the definition of the constructor for the Integer field. Line 707 in `fields.py`:

[code]

[2018-01-24 18:37] taion commented on #717
This is a great RFC. I really like the idea.

I would suggest `data_key` as a name. It's relatively terse, but is still more informative than just `key`, and is consistent with the argument names in the `Schema` method signatures:

[code]

I do think it makes sense to drop `attribute`, but maybe this is opinionated. In my view, the schema should match either the Python object or the serialized rep

[2018-01-25 01:34] timc13 opened #728 "Nested excludes get overwritten"
It seems whenever an parent level exclude is specified with dot notation, the child field level excludes are overwritten.  It would be great if they could be concatenated.

Here's an example:
[code]
I expect :
[code]
instead, I get:
[code]

[2018-01-29 14:25] transreductionist opened #729 "dump(obj, many=None, update_fields=True, **kwargs) throws error when **kwargs included"
I noticed the **kwargs in the argument list fo dump(). Here is the API documentation:

    dump(obj, many=None, update_fields=True, **kwargs)
        Serialize an object to native Python data types according to this Schema’s fields.

        Parameters:
          obj – The object to serialize.
          many (bool) – Whether to serialize obj as a collection. If `None`, the value for self.many is u

[2018-01-29 15:04] shabble opened #730 "Dict(values=Nested()) doesn't collect complete validation errors"
Using the new structured Dict support from #483 / #700, the error handling/collection logic seems unable to provide access to the original/detailed failures due to how it aggregates multiple errors.

* marshmallow.__version__ = '3.0.0b6'
* Python 2.7.14

Simple test is something like:

[code]

I don't think it's possible to extract the actual failure message (`'inner validation fail on xxx`) with

[2018-01-29 16:40] kiptoomm commented on #292
@sloria, I know this is an old topic, but what is the justification for performing validation only during deserialization? I would think that we want to verify correct fields before dumping them into the database (with a POST, for example)...

[2018-01-29 19:41] lafrech commented on #730
If possible, we should have the same structure as what the `List` field generates, except it would have "keys" rather than "indexes".

From `List`:

[code]

Maybe `errors[key]` should be a `dict` rather than a `list`, with at most two keys: `key` for the list of key errors and `value` for the list of value errors.

[code]

We could do (untested):

[code]

and likewise for key errors.

To be closer

[2018-01-29 19:46] lafrech commented on #292
I guess what people do is validate API input using marshmallow, then consider that their model objects are valid, then write in database using their database driver. In this case, marshmallow is used for deserialization, so it does validation.

There can be cases where marshmallow is also used to serialize the data to feed the database, but in this case, validation may be considered unneeded becau

[2018-01-30 01:52] timc13 commented on #728
is this expected behavior?  Do we want nesting to include parent excludes ?

[2018-01-30 07:20] slint commented on #611
An issue that comes up when using `fields.Method/Function` is that from that point on all "magic" that comes with `fields.Nested` is now a reponsibility of the method/function. Example:

[code]

I've come across such cases noumerous times when consuming "verbose/deeply-nested" APIs and every time there's a different hack involved using `@pre_load`, `fields.Methods` and the likes.

Is there some cl

[2018-01-30 13:25] #511 closed, assigned to nobody

[2018-01-30 16:02] timc13 commented on #672
This is not related to marshmallow-sqlalchemy.  Same issue as https://github.com/marshmallow-code/marshmallow/issues/728

[2018-01-31 22:23] jo-soft commented on #644
[code]

usage:

[code]

[2018-01-31 22:33] lafrech commented on #644
@jo-soft you may want to check the length of `value` matches the length of `tuple_entries`.

[2018-01-31 22:58] taion commented on #644
Right – this is definitely doable, but it's nontrivial yet still common enough that it seems to make sense to add here.

[2018-02-01 09:56] jo-soft commented on #644
@lafrech true. it's only a POC thats why I did not add any error handling.

Maybe it also should not relay on length because the above implementation accepts any kind of iterable which may not have a length defined.
It may be better to throw an error if there is no field for a given value.

one more point to be discussed:
the value `attr`, `accessor` and `data` make less sense like it's used above

[2018-02-05 09:21] zaxrok opened #732 "memory leak occurs when creating a new type"
When I use the following code,  I observe that memory leak is very fast
**MsgSchema = type('MsgSchema', (marshmallow.Schema,), {})**
[code]

[2018-02-05 11:09] stefanoborini commented on #231
We are facing a similar lack of strictness with a String field that, when presented with a tuple, converts it into a string and stores it as such. We would like to guarantee that no repr() conversion takes place, and only legitimate strings go in the field.

[2018-02-05 14:36] pntlsrsh opened #733 "marshmallow validation issue"
Accept = 2, Reject = 4, Maybe = 5
This filter is working fine when I am passing one value of below validations
like status=accept. getting result = 2
status = fields.String(load_only=True, validate=validate.OneOf(
            'accept', 'reject', 'maybe'))

How to pass list values(more than 1) in filters, I need like
status = accept & status = reject and result should be 6
I tried this, but not wor

[2018-02-05 14:36] pntlsrsh commented on #733
@sloria can you solve for me. TIA

[2018-02-05 14:42] lafrech commented on #698
This makes sense to me.

[code]

I don't see a legit use case for this. Adding a field using the `only` parameter is a bit smelly.

I see three possible behaviours:

- 1/ current behaviour: add `not_part_of_schema`
- 2/ silently ignore `not_part_of_schema`
- 3/ raise an exception

1 and 2 also hide potential typos:

[code]

I think I'd go for 3 and raise a `ValueError`.

[2018-02-05 22:59] lafrech commented on #229
[code]

This also removes `None` values when the field has `allow_none=True`. To avoid this, we'd need to iterate over the Schema fields. But then it's not that easy because the name of the fields may not match (due to attribute/dump_to/prefix...).

I didn't try it but I think it could be done clean and easy in `Marshaller.serialize()` by adding a `skip_none` parameter:

https://github.com/marshma

[2018-02-06 14:08] sloria commented on #698
I agree with @lafrech ; raising an exception is the most sensible behavior.

[2018-02-06 14:21] moodh commented on #698
We went with the implementation I posted which raises exceptions, but yes, it's backwards incompatible. I still think it's worth breaking it since it protects against a very bad behaviour though.

[2018-02-06 14:25] lafrech commented on #698
This can be done in next major release (Marshmallow 3).

@moodh, would you like to submit a PR for this change (based on dev branch)?

[2018-02-09 02:10] sloria commented on #732
Ah, this is because creating a new `Schema` class adds it to a [registry](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/class_registry.py) in memory. You can prevent dynamically-generated classes from getting entered into the registry by passing a blank name.

[code]

Now that you mention this, though, I realize that we should only add a class to the registry if an existing

[2018-02-09 09:35] asmodehn commented on #732
The schema name is always the same here, so I would assume that the registry contains only one element, and that the other classes are deleted when needed. Is that a correct assumption ? Or is there anything preventing the memory to be freed in the schema class ?

[2018-02-09 13:44] lafrech commented on #698
Should we also check only/exclude conflicts (proposed in https://github.com/marshmallow-code/marshmallow/pull/731)?

[2018-02-09 14:16] sloria commented on #732
Looks like we always register the fully-qualified module path, even if it's already in the registry

https://github.com/marshmallow-code/marshmallow/blob/642d18b58d9b42d16b450a30b42aa57ea3859192/marshmallow/class_registry.py#L55

This appears to be a bug. I'd gladly review and merge a PR fixing this.

[2018-02-10 17:44] asmodehn commented on #732
Just to be clear, are you saying that there is **no need** for one classname **to hold a list** of classes, and instead, we should have **only one class per name in the registry**, and that a registered class entry gets **overwritten** if a new class is registered with the same name ?

[2018-02-10 17:55] sloria commented on #732
No, we still need to store a list of classes for each name.

However, we don't need to store duplicate values in the lists.

[2018-02-12 03:32] timc13 commented on #728
@sloria any thoughts on this?

[2018-02-13 02:46] retr0h opened #735 "Validation if a key exists vs doesn't exist"
I currently raise an error if a key is not [found in my model](https://github.com/metacloud/molecule/blob/master/molecule/model/base.py#L28-L33).  However, I have a dictionary that can contain many keys, and rather than mapping out each valid key, I would like to mark keys which are invalid for my use case.  Is it possible to do the inverse of what i was doing above?

Basically erroring if the fol

[2018-02-13 06:51] #735 closed, assigned to nobody

[2018-02-15 06:29] xiaotuanyu120 opened #736 ""required=True" does not work"
- marshmallow-version: 2.15.0
- python-version: 3.6.3

### my code
[code]
### my post data
[code]
expect "ValidationError" but flask just return valid data back
[code]

[2018-02-15 06:53] xiaotuanyu120 commented on #736
misunderstand it, the `ValidationError` will be returned when Validation function failed.
when we set "required=True", schema.load() will only store its error in error messages
[code]

[2018-02-15 06:53] #736 closed, assigned to nobody

[2018-02-16 05:03] dvf opened #737 "(De)serialization to other types"
I'd love for Marshmallow to be more modular, for example I'm loading from `JSON` and serializing to `bencode`. It would be great if there was a simple way to do this.

It was suggested in https://github.com/marshmallow-code/marshmallow/issues/130 but the solution assumes that the source and destination encoding are the same.

[2018-02-16 08:39] lafrech commented on #737
I think you could use two schemas for this. Define a schema MySchema that speaks JSON, then subclass it as MyBencodeSchema and set the encoder to your bencode encoder.

[2018-02-16 21:33] taion opened #738 "Add decorator syntax for method fields?"
The current syntax for method fields is somewhat awkward, especially around naming:

[code]

At a slight cost to consistency, we could make this more ergonomic with syntax like:

[code]

And/or:

[code]

Does this sound reasonable?

If so, is the naming okay? And should `@fields.method` be allowed as shorthand when not passing any other arguments in setting up the field, or should it always be `@f

[2018-02-17 18:17] justanr commented on #738
My immediate thoughts on this are:

* Handling methods passed directly into the field rather than their names. This'll require changing MethodField.
* Handling inheritance -- though I'll admit to being unsure the current handling of inheritance
* Handling dump AND load
* Loading this into the scheme would require either special casing the Schema metaclass or creating and mutating a MethodField cla

[2018-02-17 18:19] taion commented on #738
I wouldn't change `fields.Method` itself – it'd be a separate helper. You're correct in pointing out that this is only relevant for method fields.

[2018-02-17 18:36] taion commented on #738
It'd look like:

[code]

Then modify https://github.com/marshmallow-code/marshmallow/blob/642d18b58d9b42d16b450a30b42aa57ea3859192/marshmallow/schema.py#L32-L39 to be something like:

[code]

[2018-02-17 19:17] taion commented on #738
Actually, that's a terrible naming proposal. Oops.

Probably `decorators.field_method` rather than `fields.method`, since the latter would just be confusing and silly.

[2018-02-18 02:23] erwinyusrizal opened #739 "Reusable Field Validation"
Hi, any idea on how to handle the field validation reusable? currently I use `validate` and define my common validation function

[code]

the problem is field validate method only support 1 arg which is only `value`, I cannot make my validation function dynamic for example if I want to add custom error message or dynamic regex pattern with variable.

Is there any other way to handle this validatio

[2018-02-18 13:52] lafrech commented on #739
What about [functools.partial](https://docs.python.org/3.5/library/functools.html#functools.partial)?

[2018-02-18 17:36] fqxp opened #740 "Callable as `missing` value for a DateTime field not working as expected"
With version 3.0.0b7, I am trying use a callable to set a datetime when a field is not set:
[code]
When I am trying to use the schema as following, though, I get a ValidationError:
[code]
I would expect to get a dictionary `{'f1': 123, 'f2': datetime(2018, 2, 18, …)`. Since I am new user, I am not sure if this is expected behavior, but when comparing this to the Int field, it looks like a bug to m

[2018-02-18 18:21] lafrech commented on #740
I think this has nothing to do with using a callable. And this is not specific to marshmallow 3. Marshmallow 2 behaves the same. Default value must be passed in deserialized form, which is not very practical.

Please try `datetime.datetime(2018, 2, 18).isoformat()`.

This is likely to change in marshmallow 3: https://github.com/marshmallow-code/marshmallow/issues/378.

Why use callables, by the wa

[2018-02-18 18:30] justanr commented on #740
If you're goal is to have a dynamic datetime be the default value, take a look at my library [datestuff](https://github.com/justanr/datestuff) -- I wrote it to deal with this exact issue (albeit in DRF).

[2018-02-18 20:35] fqxp commented on #740
@lafrech: it was just an example. My goal is to set a field, e. g., `created_at` to the current time, as returned by `datetime.datetime.utcnow()`.

[2018-02-18 20:48] fqxp commented on #740
@lafrech: thanks for your explanation, passing the value in deserialized form makes it work.

[2018-02-18 20:48] #740 closed, assigned to nobody

[2018-02-19 09:07] #739 closed, assigned to nobody

[2018-02-20 15:50] erwinyusrizal opened #741 "Add Schema 'Exclude' support NoneType"
Hi, I use webargs to handle my request arguments, I set schema `only` and `exclude` as an arguments.

[code]

since by default `only` and `exclude` is set as None, if  `exclude` is None in my request, it returns

`TypeError: 'NoneType' object is not iterable`

currently I fixed it with a simple conditional in line
https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/schema.py#L633

[2018-02-21 17:57] ghost opened #742 "Question: How to deal with a field that could either be nested or a simple value"
I'm working on a POC leveraging Marshmallow for marshalling/unmarshalling JSON to/from a remote key/value store.

In our case, the keys and values can either be simple or complex types.

or

I've reviewed the docs and perhaps I've missed a way to express this via the schema.  Is there a way to handle this situation?  Feel free to provide RTFM references.  Also, if there's a better place to ask que

[2018-02-21 19:51] ghost commented on #742
Okay, I think I have one possible approach, but I'm not sure it's the most elegant.

[code]

If a schema is defined as a property on the object, then use it to dump the value, otherwise, assume a simple value and return it raw.

Thoughts?

[2018-02-23 20:48] stj opened #743 "Example of validating original input data fails on `many=True`"
https://marshmallow.readthedocs.io/en/latest/extending.html#validating-original-input-data

Given a schema
[code]

When sending extra fields for validation the `set` fails with a TypeError

[code]

Result is:
`TypeError: unhashable type: 'dict'`

Changing `marschmallow/schema.py` line 841 from
[code]
to
[code]
fixed the issue.

[2018-02-23 20:49] stj commented on #743
marshmallow 3.0.0b7
python 3.6.3

[2018-02-23 21:18] lafrech commented on #743
Thanks for the report. I had a quick look and I think you're right about the cause of this.

Your fix looks correct. It could also be written like this but I'm not sure it would be clearer:

[code]

Would you like to send a PR and see if this breaks any test? And maybe add a test case for this?

Thanks.

[2018-02-23 21:20] stj commented on #743
Did a quick checkout of the repository and run the test suite with the change. No test failed.

Can try to create a PR with a test on Monday.